@charset "UTF-8";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

#cover {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2.5rem);
  background-color: inherit;
  opacity: 0;
  pointer-events: none;
  position: fixed;
}

.forgot-content {
  max-width: 500px;
  width: 90%;
  max-height: 100%;
  overflow: auto;
  border: 0.0625rem solid #444444;
  border-radius: 1.5rem;
  padding: 48px;
  background-color: #18181c;

  > .forgot-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2.2rem;

    > .logo {
      width: 50px;
      height: 50px;
      text-align: center;
    }

    > .title {
      color: #ffffff;
      font-size: 24px;
      font-weight: 100;
    }

    > .text {
      margin-top: 1.5rem;
      font-size: 1.5rem;
      font-weight: 700;
    }

    > .label {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      box-sizing: inherit;
      gap: 1.2rem;
      margin-top: 1.5rem;

      > ._text {
        text-align: left;
        font-size: 1.3rem;
        font-weight: 600;
        letter-spacing: 0.02em;
      }

      > .input {
        width: 100%;
        background-color: #656565;
        border: 0.0625rem solid #656565;
        border-radius: 1.2rem;
        padding: 13px 20px 12px;
        transition: border-color 0.3s;
      }

      > .-warning {
        display: none;
        color: red;
        font-size: 1rem;
      }

      &.error {
        > .input {
          border-color: red;
        }

        > .-warning {
          display: block;
        }
      }
    }

    > .link {
      width: 100%;
      color: #65caf8;
    }

    > .button {
      $background_color: #26baff;
      width: 100%;
      border: 0.0625rem solid $background_color;
      background-color: $background_color;
      border-radius: 1rem;
      box-sizing: border-box;
      padding: 1.2rem;
      margin-top: 1.5rem;

      &:hover {
        background-color: lighten($background_color, 5%);
      }

      &:active {
        background-color: lighten($background_color, 10%);
      }
    }

    > .create {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2.7rem;
      margin-top: 2.7rem;

      > .link {
        color: #65caf8;
      }
    }
  }
}
