@charset "UTF-8";

body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

#cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 21, 0.83);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity 0.5s ease;
  z-index: 10;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}

.license {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  max-width: 470px;
  width: 80%;
  background-color: #18181c;
  border-radius: 30px;
  padding: 30px 40px;
  z-index: 20;

  &.remove{
    display: none;
  }

  > .label-container {
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    > .titleLabel {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 40px;


      > .license-title {
        color: #ffffff;
        font-size: 2rem;
        font-weight: 900;
      }
    }

    > .license-label {
      width: 100%;
      justify-content: space-between;
      margin-bottom: 20px;

      > .text {
        line-height: 1.4;
        color: #ffffffA6;

        > a {
          color: #ffffff;
          border-bottom: 0.0625rem solid #ffffff;
        }
      }
    }

    > .btnsWrap {
      display: flex;
      gap: 0 15px;
      width: 100%;

      > .not-button {
        $background_color: #303034;
        width: 100%;
        border: 0.0625rem solid $background_color;
        background-color: $background_color;
        border-radius: 2rem;
        padding: 1.5rem;
        color: #ffffff;

        &:hover {
          background-color: lighten($background_color, 5%);
        }

        &:active {
          background-color: lighten($background_color, 10%);
        }
      }

      > .button {
        $background_color : #26baff;
        width: 100%;
        border: 0.0625rem solid $background_color;
        background-color: $background_color;
        border-radius: 2rem;
        padding: 1.5rem;

        &:hover {
          background-color: lighten($background_color, 5%);
        }
        &:active {
          background-color: lighten($background_color, 10%);
        }
      }
    }
  }
}

.agree {
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 470px;
  width: 80%;
  height: 80%;
  background-color: #18181c;
  border-radius: 10px;
  padding: 20px;
  color: #ffffff;
  z-index: 30;
  display: none;
  letter-spacing: 0.05rem;
  line-height: 1.2;
  gap: 1rem;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #18181c;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
  }

  &.visible {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
  }

  p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.5;
  }

  .back-button {
    margin-bottom: 20px;
    color: #65caf8;
    text-decoration: none;
  }

  .button {
    $background_color: #65caf8;
    margin-top: 1rem;
    background-color: $background_color;
    border-color: $background_color;
    border-radius: 1rem;
    width: 100%;
    padding: 10px;
    text-align: center;

    &:hover {
      background-color: lighten($background_color, 5%);
    }

    &:active {
      background-color: lighten($background_color, 10%);
    }
  }
}

.register-content {
  max-width: 600px;
  width: 90%;
  max-height: 100%;
  border: 0.0625rem solid #18181c;
  border-radius: 1.5rem;
  padding: 48px;
  background-color: #18181c;
  overflow: auto;
  transition: opacity 0.3s ease;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #18181c;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
  }

  &.disabled {
    opacity: 0;
    pointer-events: none;
  }

  > .register-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2.2rem;

    > .logo {
      width: 50px;
      height: 50px;
      text-align: center;
    }

    > .title {;
      font-size: 24px;
      font-weight: 100;
      color: #ffffff;
    }

    > .addr-wrapper {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0.5rem;

      > .text {
        text-align: left;
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 0.02em;
        color: #ffffffA6;
      }

      > .addr-label {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;

        > .input {
          width: 100%;
          padding: 13px 20px 12px;
          border-radius: 1rem;
        }
      }

      .addr-label:nth-of-type(1) {
        width: 50%;
      }
    }


    > .label {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0.5rem;

      > .text {
        text-align: left;
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 0.02em;
        color: #ffffffA6;
      }

      > .input {
        width: 100%;
        background-color: #dedede;
        border: 0.0625rem solid #656565;
        border-radius: 1.2rem;
        padding: 13px 20px 12px;
        transition: border-color 0.3s;
        font-weight: 600 !important;
        color: #000000 !important;

        &.invalid {
          border-color: red;
        }

        &::placeholder {
          color: #000000;
        }
      }

      > .-warning {
        display: none;
        color: red;
        font-size: 1.2rem;

        &.active {
          display: inline;
        }
      }
    }

    > .not-agree {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1rem;
      border: 0.0625rem solid #ff4747;
      border-radius: 1rem;
      padding: 20px;

      &.remove {
        display: none;
      }

      > img {
        width: 20px;
      }

      > a {
        color: #ffffff;
        text-underline: #ffffff;
      }
    }

    > .button {
      $background_color: #26baff;
      width: 100%;
      border: 0.0625rem solid $background_color;
      background-color: $background_color;
      border-radius: 1rem;
      box-sizing: border-box;
      padding: 1.2rem;
      margin-top: 2rem;

      &:hover {
        background-color: lighten($background_color, 5%);
      }

      &:active {
        background-color: lighten($background_color, 10%);
      }
    }

    > .checkLabel {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 4rem;

      > .link {
        color: #65caf8;
      }

      > span {
        > .link {
          color: #65caf8;
        }
      }
    }
  }
}
