#main {
  > .mainSection {
    width: 75%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
    color: #ffffff;

    > .myName-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;

      > .my-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        > .oneName {
          width: 18rem;
          height: 18rem;
          border: 0.0625rem solid orange;
          border-radius: 999rem;
          background-color: orange;
          font-size: 12rem;
          font-weight: 700;
          margin-right: 30px;

          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }

        > .nickname-wrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          > .nickname {
            width: 100%;
            font-size: 4rem;
            font-weight: 600;
          }

          > .achievement-wrapper {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-start;
            margin-top: 2.5rem;

            > .achievement {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: space-between;
              margin: 0 40px 0 0;

              > .text {
                color: #ffffffa6;
              }

              > .count {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                margin-top: 10px;

                > svg {
                  width: 25px;
                  height: 25px;
                  margin: 0 10px 0 0;
                }

                > .value {
                  font-size: 24px;
                  font-weight: 900;
                }
              }
            }
          }
        }
      }


      > .-spring {
        flex-grow: 1;
      }

      > .level {
        display: flex;
        gap: 2rem;

        > .button {
          font-size: 1.5rem;
          font-weight: 700;
          padding: 2.3rem;
          border: 0.0625rem solid;
          border-radius: 2rem;

          &:hover {
            background-color: lighten(#101014, 15%);
          }

          &:active {
            background-color: lighten(#101014, 20%);
          }
        }
      }
    }


    > .center-bar {
      display: flex;
      flex-direction: row;
      gap: 3rem;
      font-size: 14px;
      font-weight: 600;

      > .achievement {
        color: #ffffffa6;
      }

      > .friends {
        text-decoration: underline;
        text-underline-offset: 1.2rem;
        text-decoration-color: #26bbff;
        text-decoration-thickness: 1.5px;
        color: #ffffff;
      }
    }

    > .friend-count {
      width: 100%;
      margin: 60px 0 40px 0;
      font-size: 14px;
      font-weight: 400;
    }

    > .nickname-grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 5rem;
      margin-bottom: 5rem;


      > .nickname-wrapper {
        width: 100%;
        height: 100%;

        > .nickname {
          width: 100%;
          height: 100%;

          > .first-nickname {
            display: inline-flex;
            width: 4rem;
            height: 4rem;
            border: 0.0625rem solid;
            border-radius: 999rem;
            margin: 0 20px 0 0;
            color: rgb(245, 245, 245);

            align-items: center;
            justify-content: center;
            text-align: center;

          }

          > .full-name {
            font-weight: 700;
          }
        }
      }
    }

    > .searchForm {
      position: relative;
      margin-bottom: 5rem;


      > .submit-button {
        border: none;

        > .icon {
          position: absolute;
          left: 1.8rem;
          top: 1.5rem;
          color: rgba(255, 255, 255, 0.6470588235);
          width: 1.4rem;
          z-index: 10;
        }
      }

      > .label {
        position: relative;

        > .search {
          background-color: #202024;
          border-color: #202024;
          height: 4.3rem;
          width: 24.5rem;
          border-radius: 999rem;
          padding-left: 4.5rem;
          padding-right: 1.5rem;
          box-sizing: border-box;
          color: #ffffff;
          font-weight: 400;
          outline: none;
          border: none;
        }
      }
    }
  }
}