@charset "UTF-8";
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 999;
  backdrop-filter: blur(20px);
}

#main {
  margin-bottom: 6rem;
}
#main > .mainSection {
  width: 75%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
  color: #ffffff;
}
#main > .mainSection > .myName-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
#main > .mainSection > .myName-container > .my-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#main > .mainSection > .myName-container > .my-wrapper > .oneName {
  width: 18rem;
  height: 18rem;
  border: 0.0625rem solid orange;
  border-radius: 999rem;
  background-color: orange;
  font-size: 12rem;
  font-weight: 700;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#main > .mainSection > .myName-container > .my-wrapper > .nickname-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
#main > .mainSection > .myName-container > .my-wrapper > .nickname-wrapper > .nickname {
  width: 100%;
  font-size: 4rem;
  font-weight: 600;
}
#main > .mainSection > .myName-container > .my-wrapper > .nickname-wrapper > .achievement-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: 2.5rem;
}
#main > .mainSection > .myName-container > .my-wrapper > .nickname-wrapper > .achievement-wrapper > .achievement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 40px 0 0;
}
#main > .mainSection > .myName-container > .my-wrapper > .nickname-wrapper > .achievement-wrapper > .achievement > .text {
  color: rgba(255, 255, 255, 0.6509803922);
}
#main > .mainSection > .myName-container > .my-wrapper > .nickname-wrapper > .achievement-wrapper > .achievement > .count {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}
#main > .mainSection > .myName-container > .my-wrapper > .nickname-wrapper > .achievement-wrapper > .achievement > .count > svg {
  width: 25px;
  height: 25px;
  margin: 0 10px 0 0;
}
#main > .mainSection > .myName-container > .my-wrapper > .nickname-wrapper > .achievement-wrapper > .achievement > .count > .value {
  font-size: 24px;
  font-weight: 900;
}
#main > .mainSection > .myName-container > .-spring {
  flex-grow: 1;
}
#main > .mainSection > .myName-container > .level {
  display: flex;
  gap: 2rem;
}
#main > .mainSection > .myName-container > .level > .button {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 2.3rem;
  border: 0.0625rem solid #ffffff;
  border-radius: 2rem;
  color: #Ffffff;
}
#main > .mainSection > .myName-container > .level > .button:hover {
  background-color: rgb(50, 50, 62.5);
}
#main > .mainSection > .myName-container > .level > .button:active {
  background-color: rgb(61.3333333333, 61.3333333333, 76.6666666667);
}
#main > .mainSection > .center-bar {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  font-size: 14px;
  font-weight: 600;
}
#main > .mainSection > .center-bar > .achievement {
  text-decoration: underline;
  text-underline-offset: 1.2rem;
  text-decoration-color: #26bbff;
  text-decoration-thickness: 1.5px;
}
#main > .mainSection > .center-bar > .friends {
  color: rgba(255, 255, 255, 0.6509803922);
}
#main > .mainSection > .filter-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.7rem;
  margin: 50px 0 10px;
}
#main > .mainSection > .filter-bar > .text {
  color: rgba(255, 255, 255, 0.6509803922);
  font-size: 14px;
}
@keyframes rotateDownToUp {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes rotateUpToDown {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
#main > .mainSection > .filter-bar .filter {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  cursor: pointer;
}
#main > .mainSection > .filter-bar .filter-text {
  font-size: 14px;
}
#main > .mainSection > .filter-bar .filter img {
  width: 10px;
  height: 10px;
  margin-top: 2px;
  transform: rotate(0deg); /* 초기 상태 */
  transition: transform 0.3s ease; /* 부드러운 회전 효과 */
}
#main > .mainSection > .filter-bar .filter.active img {
  transform: rotate(180deg); /* 활성화 시 회전 */
}
#main > .mainSection > .filter-bar .filter-dropdown {
  display: none; /* 기본적으로 숨김 */
  position: absolute;
  background-color: #101014;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  margin-top: 50px;
  z-index: 10;
  width: 150px;
}
#main > .mainSection > .filter-bar .filter-dropdown .filter-option {
  padding: 10px 15px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}
#main > .mainSection > .filter-bar .filter-dropdown .filter-option:hover {
  background-color: #4d4d4d;
}
#main > .mainSection > .filter-bar .filter.active + .filter-dropdown {
  display: block; /* 활성화 시 표시 */
}
#main > .mainSection > .game {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 30px 0;
}
#main > .mainSection > .game:hover {
  background-color: #4d4d4d;
}
#main > .mainSection > .game:active {
  background-color: rgb(38.6666666667, 38.6666666667, 48.3333333333);
}
#main > .mainSection > .game > .game-img {
  width: 180px;
  height: 200px;
  border-radius: 2rem;
}
#main > .mainSection > .game > .game-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 35px 20px 20px;
}
#main > .mainSection > .game > .game-wrapper > .game-name {
  font-size: 22px;
  font-weight: 600;
}
#main > .mainSection > .game > .game-wrapper > .achievement {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
}
#main > .mainSection > .game > .game-wrapper > .achievement > .achievement-progress {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
#main > .mainSection > .game > .game-wrapper > .achievement > .achievement-progress > .text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6509803922);
}
#main > .mainSection > .game > .game-wrapper > .achievement > .achievement-progress > .achievement-img-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
#main > .mainSection > .game > .game-wrapper > .achievement > .achievement-progress > .achievement-img-wrapper > .achievement-image > .image {
  width: 37px;
  height: 37px;
  border-radius: 999rem;
}
#main > .mainSection > .game > .game-wrapper > .achievement > .achievement-progress > .reward-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
#main > .mainSection > .game > .game-wrapper > .achievement > .achievement-progress > .reward-container > .reward {
  width: 100%;
  font-size: 25px;
  font-weight: 700;
}
#main > .mainSection > .game > .game-wrapper > .achievement > .achievement-progress > .gauge-wrapper {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
#main > .mainSection > .game > .game-wrapper > .achievement > .achievement-progress > .gauge-wrapper > .reward-gauge {
  width: 50%;
  height: 5px;
  background-color: #b3b1b1;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
  position: relative;
}
#main > .mainSection > .game > .game-wrapper > .achievement > .achievement-progress > .gauge-wrapper > .reward-gauge > .gauge-bar {
  height: 100%;
  background-color: #ffffff;
  transition: width 0.3s ease-in-out;
  border-radius: 5px 0 0 5px;
}

/*# sourceMappingURL=myPage.css.map */
