<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게임 등록</title>
    <link rel="shortcut icon" th:href="@{'/assets/images/favicon.png'}">
    <link rel="stylesheet" th:href="@{'/assets/styles/loading.css'}">
    <script th:src="@{'/assets/scripts/loading.js'}"></script>
    <link rel="stylesheet" th:href="@{'/assets/styles/common.css'}">
    <script defer th:src="@{'/assets/scripts/common.js'}"></script>
    <link rel="stylesheet" th:href="@{'/game/assets/styles/addGame.css'}">
    <script defer th:src="@{'/game/assets/scripts/addGame.js'}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/libraries/ckeditor/ckeditor5.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/libraries/ckeditor/ckeditor5-content.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/libraries/ckeditor/ckeditor5-editor.css}">
    <script type="text/javascript" th:src="@{'/assets/libraries/ckeditor/ckeditor5.umd.js'}"></script>
    <script type="text/javascript" th:src="@{'/assets/libraries/ckeditor/ko.umd.js'}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script th:if="${result == 'failure'}">
        Swal.fire({
            icon: "error",
            title: "게임 등록 실패",
            text: "게임 등록에 실패하였습니다."
        }).then(() => {
            if (history.length === 1) {
                window.close();
            } else {
                history.back();
            }
        });
    </script>
    <script th:if="${result == 'failure_duplicate'}">
        Swal.fire({
            icon: "error",
            title: "게임 등록 실패",
            text: "이미 등록된 게임이라서 등록 할 수 없습니다."
        }).then(() => {
            if (history.length === 1) {
                window.close();
            } else {
                history.back();
            }
        });
    </script>
</head>
<body>
<th:block th:replace="~{fragments/loading.html :: loading}"></th:block>
<th:block th:replace="~{fragments/common.html :: header}"></th:block>

<main class="main" id="main">
    <th:block th:replace="~{fragments/common.html :: mainSearch}"></th:block>
    <th:block th:replace="~{fragments/common.html :: logout}"></th:block>

    <form id="add-game-form" th:action="@{'/game/addGame'}" th:method="post" enctype="multipart/form-data">
        <h2 class="title">게임 등록</h2>
        <label class="--label">
            <span class="title">게임 이름</span>
            <input class="--field -dark" name="name" type="text" maxlength="100" minlength="1" required>
        </label>
        <label class="--label">
            <span class="title">게임 등급</span>
            <select class="--field -dark" name="grGrac" id="grGrac" required>
                <option value="" disabled selected>선택하세요</option> <!-- 기본 값으로 '선택하세요' 표시 -->
                <option value="all">전체 이용가</option> <!-- 전체 이용가 등급 -->
                <option value="12Y">12세 이상</option> <!-- 12세 이상 등급 -->
                <option value="15Y">15세 이상</option> <!-- 15세 이상 등급 -->
                <option value="ADULT">청소년이용불가</option> <!-- 18세 이상 등급 -->
            </select>
        </label>
        <label class="--label">
            <span class="title">게임 가격</span>
            <input class="--field -dark" name="price" type="number" required min="0" max="9999999">
        </label>
        <label class="--label">
            <span class="title">게임 분류 대표 2가지</span>
            <div class="tag-wrapper">
                <select class="--field -dark" name="tag1" id="tag1" required>
                    <option value="" disabled selected>선택하세요</option> <!-- 기본 값으로 '선택하세요' 표시 -->
                    <option value="RPG">RPG</option>
                    <option value="OW">오픈월드</option>
                    <option value="ACT">액션</option>
                    <option value="RTS">실시간전략</option>
                    <option value="SG">생존</option>
                    <option value="STR">전략</option>
                </select>
                <select class="--field -dark" name="tag2" id="tag2" required>
                    <option value="" disabled selected>선택하세요</option> <!-- 기본 값으로 '선택하세요' 표시 -->
                    <option value="RPG">RPG</option>
                    <option value="OW">오픈월드</option>
                    <option value="ACT">액션</option>
                    <option value="RTS">실시간전략</option>
                    <option value="SG">생존</option>
                    <option value="STR">전략</option>
                </select>
            </div>
        </label>
        <label class="--label">
            <span class="title">게임 요약</span>
            <textarea class="summary --field -dark" name="summary"></textarea>
        </label>
        <label class="--label">
            <span class="title">게임 회사</span>
            <input class="--field -dark" name="company" type="text" required>
        </label>
        <label class="--label">
            <span class="title">게임 발매일</span>
            <input class="--field -dark" name="openDate" type="date" required>
        </label>
        <div class="--label cover mainImage">
            <span class="title">메인 이미지</span>
            <span class="row">
                <label class="image-wrapper">
                    <span class="_text">메인 이미지 찾기</span>
                    <img alt="" class="image" src="" style="display: none;">
                    <input hidden required accept="image/jpeg" name="image" type="file">
                </label>
                <span class="info-wrapper">
                    <span class="tip">* 메인 이미지의 확장자는 <code>jpeg</code>이어야 합니다.</span>
                    <span class="tip">* 메인 이미지의 파일 크기는 10MB를 초과하지 않아야 합니다.</span>
                </span>
            </span>
        </div>
        <div class="--label cover logo">
            <span class="title">로고</span>
            <span class="row">
                <label class="image-wrapper">
                    <span class="_text">메인 로고 찾기</span>
                    <img alt="" class="image" src="" style="display: none;">
                    <input hidden required accept="image/png" name="logo" type="file">
                </label>
                <span class="info-wrapper">
                    <span class="tip">* 메인 로고의 확장자는 <code>png</code>이어야 합니다.</span>
                    <span class="tip">* 메인 로고의 파일 크기는 10MB를 초과하지 않아야 합니다.</span>
                </span>
            </span>
        </div>
        <div class="--label cover image">
            <span class="title">추가 이미지</span>
            <button class="reset-button" type="button">추가 이미지 초기화</button>
            <span class="image-column">
                <label class="image-wrapper">
                    <span class="_text">이미지 1 찾기</span>
                    <img alt="" class="image" src="" style="display: none;">
                    <input hidden required accept="image/jpeg" name="image1" type="file">
                </label>
                <label class="image-wrapper">
                    <span class="_text">이미지 2 찾기</span>
                    <img alt="" class="image" src="" style="display: none;">
                    <input hidden required accept="image/jpeg" name="image2" type="file">
                </label>
                <label class="image-wrapper">
                    <span class="_text">이미지 3 찾기</span>
                    <img alt="" class="image" src="" style="display: none;">
                    <input hidden required accept="image/jpeg" name="image3" type="file">
                </label>
                <label class="image-wrapper">
                    <span class="_text">이미지 4 찾기</span>
                    <img alt="" class="image" src="" style="display: none;">
                    <input hidden required accept="image/jpeg" name="image4" type="file">
                </label>
            </span>
            <span class="info-wrappers">
                <span class="tip">* 추가 이미지의 확장자는 <code>jpeg</code>이어야 합니다.</span>
                <span class="tip">* 추가 이미지의 파일 크기는 100MB를 초과하지 않아야 합니다.</span>
                <span class="tip">* 추가 이미지는 최소 1개에서 최대 4개까지 가능합니다.</span>
            </span>
        </div>
        <div class="spec-list">
            <div class="list min">
                <span class="title">최소 사양</span>
                <label class="--label">
                    <span class="_text">OS</span>
                    <input class="--field -dark" name="minOs" type="text">
                </label>
                <label class="--label">
                    <span class="_text">CPU</span>
                    <input class="--field -dark" name="minCpu" type="text">
                </label>
                <label class="--label">
                    <span class="_text">GPU</span>
                    <input class="--field -dark" name="minGpu" type="text">
                </label>
                <label class="--label">
                    <span class="_text">RAM</span>
                    <input class="--field -dark" name="minRam" type="text">
                </label>
                <label class="--label">
                    <span class="_text">스토리지</span>
                    <input class="--field -dark" name="minStorage" type="text">
                </label>
            </div>
            <div class="list rec">
                <span class="title">권장 사양</span>
                <label class="--label">
                    <span class="_text">OS</span>
                    <input class="--field -dark" name="recOs" type="text">
                </label>
                <label class="--label">
                    <span class="_text">CPU</span>
                    <input class="--field -dark" name="recCpu" type="text">
                </label>
                <label class="--label">
                    <span class="_text">GPU</span>
                    <input class="--field -dark" name="recGpu" type="text">
                </label>
                <label class="--label">
                    <span class="_text">RAM</span>
                    <input class="--field -dark" name="recRam" type="text">
                </label>
                <label class="--label">
                    <span class="_text">스토리지</span>
                    <input class="--field -dark" name="recStorage" type="text">
                </label>
            </div>
        </div>
        <label class="--label">
            <span class="title">게임 설명</span>
            <textarea class="description" id="description" name="description"></textarea>
        </label>
        <div class="button-container">
            <button class="--obj-button -simple-candy" type="submit">게임 등록</button>
            <a class="--obj-button -simple-candy" th:href="@{/page/setting}">취소</a>
        </div>
    </form>
</main>
</body>
</html>