<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${genre.getName() == '롤플레잉' ? 'RPG' : (genre.getName() == '실시간전략' ? 'RTS' : genre.getName())} + ' 게임 | 에픽 게임즈'"></title>
    <link rel="shortcut icon" th:href="@{'/assets/images/favicon.png'}">
    <link rel="stylesheet" th:href="@{'/assets/styles/loading.css'}">
    <script th:src="@{'/assets/scripts/loading.js'}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/game/assets/styles/genre.css}">
    <script defer type="text/javascript" th:src="@{'/game/assets/scripts/genre.js'}"></script>
    <script defer type="text/javascript" th:src="@{'/assets/scripts/common.js'}"></script>
    <script src="https://kit.fontawesome.com/856af35d3d.js" crossorigin="anonymous"></script>
</head>
<body>
<th:block th:replace="~{fragments/loading.html :: loading}"></th:block>
<th:block th:replace="~{fragments/common.html :: header}"></th:block>

<main id="main">
    <th:block th:replace="~{fragments/common.html :: mainSearch}"></th:block>
    <th:block th:replace="~{fragments/common.html :: logout}"></th:block>

    <div class="mainSection">
        <section class="title">
            <div class="text">
                <span class="main" th:text="${genre.getName() == '롤플레잉' ? 'RPG' : (genre.getName() == '실시간전략' ? 'RTS' : genre.getName())}"></span>
                <span id="genreTag" style="display:none;" th:text="${genre.getTag()}"></span>
                <span class="sub" id="subTitle"></span>
            </div>
        </section>


        <section class="gameSection">
            <div class="game-container">
                <div class="allGame">
                    <div class="arrayFilter">
                        <span class="text">표시 :</span>
                        <div class="cont-select">
                            <button class="btn-select">정렬 기준</button>
                            <ul class="list-member">
                                <li>
                                    <button type="button">이름순</button>
                                </li>
                                <li>
                                    <button type="button">가격 내림차순</button>
                                </li>
                                <li>
                                    <button type="button">가격 오름차순</button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="no-games" style="display: none">
                        <div class="text">
                            <span class="main">검색 결과 없음</span>
                            <span class="sub">죄송하지만 검색 내용과 일치하는 결과를 찾을 수 없습니다.</span>
                        </div>
                    </div>

                    <div class="no-games" th:if="${games == null || games.length <= 0}">
                        <div class="text">
                            <span class="main">검색 결과 없음</span>
                            <span class="sub">죄송하지만 검색 내용과 일치하는 결과를 찾을 수 없습니다.</span>
                        </div>
                    </div>

                    <div class="game-wrapper" id="gameWrapper">
                        <a class="game" th:each="game, iterStat : ${games}" th:href="@{'/game/page' (index=${game.getIndex()})}" target="_self">
                            <div class="mainImage">
                                <img th:src="@{'/game/genre-image-all?index=' + ${iterStat.index} + '&tag=' + ${genre.getTag()}}" alt="게임포스터"
                                     th:if="${keyword == null || keyword.isEmpty()}">
                                <!-- 검색된 게임 이미지 경로 -->
                                <img th:src="@{'/game/genre-image-search?index=' + ${iterStat.index} + '&tag=' + ${genre.getTag()}  + '&keyword=' + ${keyword}}" alt="게임포스터"
                                     th:if="${keyword != null && !keyword.isEmpty()}">

                                <button class="wishlist add" type="button"
                                        th:if="${gameWishlistStatus[game.getIndex()] == null or !gameWishlistStatus[game.getIndex()]} and !${purchasedGameIndices.contains(game.getIndex())}"
                                        th:data-game-index="${game.getIndex()}">
                                    <img class="plus"
                                         src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA4klEQVR4nN2UUQrCMBBEH5X2UFLPYKnaXkmtt1DqkaxWL6H+RwLrT0nMWvPlwEAIm5kwmyz8OzKgBlqgA57CTvYqqRmFBXADTIBXoPxGeALsFMJmwAZINAZjxI1wo4nF/MjCJ54pMp8CeaCm9zW+VtzujVDdCgeOEQ0OLoNLRIPOZXD3ZB6CqydWS2WQB+VhpjU4R4zo5DJoIxrsXQZVRIOlyyCTwfXpYO7JfPjRUl/DSsXtTIBzAmh+EF+jgB2525GTNOELFJJnSLjXxOJDKoPLzhb7th9Cu7Z79rV4G/ofeAG5NRUWhxZUbAAAAABJRU5ErkJggg=="
                                         alt="plus--v1">
                                </button>

                                <button class="wishlist newBack" type="button"
                                        th:if="${gameWishlistStatus[game.getIndex()] != null and gameWishlistStatus[game.getIndex()]}"
                                        th:data-wishlist-index="${gameWishlistIndices[game.getIndex()]}"
                                        th:data-game-index="${game.getIndex()}">
                                    <img class="plus back"
                                         src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA6klEQVR4nOWVfQqCQBTEfxjZJcq6QwR9nqhI0o5RHaauIYaH6OMWGwsvELHV1e2PaGBAdJ1Zx33vwT+gAyyBGDgJI7nntRHuATvgCagPfAAh4NuK94HEIFxkBozqig9lZ8qSdyCoE0vWQFwJ06q4ohbiSrg1nRbTD1UWUZWerpUDcSWclxnsHRpEZQbHwqIzMAHGFZzI2vy7B9cGlzoG8bcjWjg0mJYZeA0rWBV4MzXB0IHBGgN0mV9biCdAlwoEUo1NohlUiedNUsud6xZvBV8al+lr9LNNnVhM8KS36On2Hpn6etZ2ZP4GXgs7DahOGsTvAAAAAElFTkSuQmCC"
                                         alt="plus--v1">
                                </button>

                                <div th:if="${gameWishlistStatus[game.getIndex()] == null or !gameWishlistStatus[game.getIndex()]}" class="tooltip">
                                    위시리스트에 추가
                                </div>
                                <div th:if="${gameWishlistStatus[game.getIndex()] != null and gameWishlistStatus[game.getIndex()]}" class="tooltip">
                                    위시리스트에서 제거
                                </div>
                            </div>

                            <div class="text-wrapper">
                                <span style="margin-top: -0.5rem">기본 게임</span>
                                <span class="gameName" th:text="${game.name}"></span>
                                <span class="gamePrice" th:text="${game.price}"></span>
                                <span class="gameGenre" th:text="${game.genre}" style="display: none"></span>
                                <span class="gameAge" th:text="${game.grGrac}" style="display: none"></span>
                                <input id="userEmail" th:value="${userEmail}" type="hidden">
                            </div>
                        </a>
                    </div>


                </div>

                <div class="filter-container">
                    <h3 class="text">필터</h3>

                    <form class="keywordForm" id="keywordForm">

                        <button class="submit-button" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon svg css-uwwqev" viewBox="0 0 21 20"
                                 preserveAspectRatio="xMidYMid meet">
                                <g transform="scale(1 -1) rotate(-45 -11.93502884 -2)" stroke="currentColor"
                                   stroke-width="1.65"
                                   fill="none" fill-rule="evenodd">
                                    <circle cx="7.70710678" cy="7.70710678" r="7"></circle>
                                    <path d="M15.2071068 8.62132034h5.6923881" stroke-linecap="square"></path>
                                </g>
                            </svg>
                        </button>
                        <label class="label">
                            <input name="tag" th:value="${genre.getTag()}" type="hidden">
                            <input name="keyword" class="keyword" placeholder="키워드" autocomplete="off" spellcheck="false"
                                   type="search">
                        </label>
                    </form>

                    <aside class="filter-bar">
                        <div class="filter-wrapper">
                            <div class="filter-list">
                                <span class="line"></span>
                                <div class="title">
                                    <button class="filter-toggle-button" aria-expanded="false">
                                        <span class="list-name">게임 연령</span>
                                        <svg aria-hidden="true" class="arrow-icon" width="24" height="24"
                                             viewBox="0 0 24 24">
                                            <path d="M19.53 8.97a.75.75 0 0 1 0 1.06L12 17.56l-7.53-7.53a.75.75 0 1 1 1.06-1.06L12 15.44l6.47-6.47a.75.75 0 0 1 1.06 0"
                                                  clip-rule="evenodd" fill-rule="evenodd"></path>
                                        </svg>
                                    </button>
                                </div>
                                <div class="filter-list-content">
                                    <div class="filter-option">
                                        <div class="checkbox" aria-checked="false" role="checkbox" tabindex="0">
                                            <span class="checkbox-label">전체이용가</span>
                                            <span class="check-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="svg css-uwwqev"
                                                 viewBox="0 0 10 8"><g stroke="none" stroke-width="1" fill="none"
                                                                       fill-rule="evenodd"><g
                                                    transform="translate(-320.000000, -202.000000)"
                                                    stroke="currentColor" stroke-width="2"><polyline
                                                    points="321 205.569101 323.596499 208 329 203"></polyline></g></g>
                                            </svg>
                                        </span>
                                        </div>
                                    </div>

                                    <div class="filter-option">
                                        <div class="checkbox" aria-checked="false" role="checkbox" tabindex="0">
                                            <span class="checkbox-label">12세이용가</span>
                                            <span class="check-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="svg css-uwwqev"
                                                 viewBox="0 0 10 8"><g stroke="none" stroke-width="1" fill="none"
                                                                       fill-rule="evenodd"><g
                                                    transform="translate(-320.000000, -202.000000)"
                                                    stroke="currentColor" stroke-width="2"><polyline
                                                    points="321 205.569101 323.596499 208 329 203"></polyline></g></g>
                                            </svg>
                                        </span>
                                        </div>
                                    </div>

                                    <div class="filter-option">
                                        <div class="checkbox" aria-checked="false" role="checkbox" tabindex="0">
                                            <span class="checkbox-label">15세이용가</span>
                                            <span class="check-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="svg css-uwwqev"
                                                 viewBox="0 0 10 8"><g stroke="none" stroke-width="1" fill="none"
                                                                       fill-rule="evenodd"><g
                                                    transform="translate(-320.000000, -202.000000)"
                                                    stroke="currentColor" stroke-width="2"><polyline
                                                    points="321 205.569101 323.596499 208 329 203"></polyline></g></g>
                                            </svg>
                                        </span>
                                        </div>
                                    </div>

                                    <div class="filter-option">
                                        <div class="checkbox" aria-checked="false" role="checkbox" tabindex="0">
                                            <span class="checkbox-label">청소년 이용불가</span>
                                            <span class="check-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="svg css-uwwqev"
                                                 viewBox="0 0 10 8"><g stroke="none" stroke-width="1" fill="none"
                                                                       fill-rule="evenodd"><g
                                                    transform="translate(-320.000000, -202.000000)"
                                                    stroke="currentColor" stroke-width="2"><polyline
                                                    points="321 205.569101 323.596499 208 329 203"></polyline></g></g>
                                            </svg>
                                        </span>
                                        </div>
                                    </div>
                                </div>


                                <span class="line"></span>
                                <div class="title">
                                    <button class="filter-toggle-button" aria-expanded="false">
                                        <span class="list-name">가격</span>
                                        <svg aria-hidden="true" class="arrow-icon" width="24" height="24"
                                             viewBox="0 0 24 24">
                                            <path d="M19.53 8.97a.75.75 0 0 1 0 1.06L12 17.56l-7.53-7.53a.75.75 0 1 1 1.06-1.06L12 15.44l6.47-6.47a.75.75 0 0 1 1.06 0"
                                                  clip-rule="evenodd" fill-rule="evenodd"></path>
                                        </svg>
                                    </button>
                                </div>
                                <div class="filter-list-content">
                                    <div class="filter-option">
                                        <div class="checkbox" aria-checked="false" role="checkbox" tabindex="0">
                                            <span class="checkbox-label">무료</span>
                                            <span class="check-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="svg css-uwwqev"
                                                 viewBox="0 0 10 8"><g stroke="none" stroke-width="1" fill="none"
                                                                       fill-rule="evenodd"><g
                                                    transform="translate(-320.000000, -202.000000)"
                                                    stroke="currentColor" stroke-width="2"><polyline
                                                    points="321 205.569101 323.596499 208 329 203"></polyline></g></g>
                                            </svg>
                                        </span>
                                        </div>
                                    </div>
                                    <div class="filter-option">
                                        <div class="checkbox" aria-checked="false" role="checkbox" tabindex="0">
                                            <span class="checkbox-label">￦11,000원 미만</span>
                                            <span class="check-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="svg css-uwwqev"
                                                 viewBox="0 0 10 8"><g stroke="none" stroke-width="1" fill="none"
                                                                       fill-rule="evenodd"><g
                                                    transform="translate(-320.000000, -202.000000)"
                                                    stroke="currentColor" stroke-width="2"><polyline
                                                    points="321 205.569101 323.596499 208 329 203"></polyline></g></g>
                                            </svg>
                                        </span>
                                        </div>
                                    </div>

                                    <div class="filter-option">
                                        <div class="checkbox" aria-checked="false" role="checkbox" tabindex="0">
                                            <span class="checkbox-label">￦22,000원 미만</span>
                                            <span class="check-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="svg css-uwwqev"
                                                 viewBox="0 0 10 8"><g stroke="none" stroke-width="1" fill="none"
                                                                       fill-rule="evenodd"><g
                                                    transform="translate(-320.000000, -202.000000)"
                                                    stroke="currentColor" stroke-width="2"><polyline
                                                    points="321 205.569101 323.596499 208 329 203"></polyline></g></g>
                                            </svg>
                                        </span>
                                        </div>
                                    </div>

                                    <div class="filter-option">
                                        <div class="checkbox" aria-checked="false" role="checkbox" tabindex="0">
                                            <span class="checkbox-label">￦33,000원 미만</span>
                                            <span class="check-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="svg css-uwwqev"
                                                 viewBox="0 0 10 8"><g stroke="none" stroke-width="1" fill="none"
                                                                       fill-rule="evenodd"><g
                                                    transform="translate(-320.000000, -202.000000)"
                                                    stroke="currentColor" stroke-width="2"><polyline
                                                    points="321 205.569101 323.596499 208 329 203"></polyline></g></g>
                                            </svg>
                                        </span>
                                        </div>
                                    </div>

                                    <div class="filter-option">
                                        <div class="checkbox" aria-checked="false" role="checkbox" tabindex="0">
                                            <span class="checkbox-label">￦33,000원 이상</span>
                                            <span class="check-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="svg css-uwwqev"
                                                 viewBox="0 0 10 8"><g stroke="none" stroke-width="1" fill="none"
                                                                       fill-rule="evenodd"><g
                                                    transform="translate(-320.000000, -202.000000)"
                                                    stroke="currentColor" stroke-width="2"><polyline
                                                    points="321 205.569101 323.596499 208 329 203"></polyline></g></g>
                                            </svg>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <span class="line"></span>
                                <span class="line"></span>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </section>
    </div>

</main>

<th:block th:replace="~{fragments/common.html :: footer}"></th:block>
</body>
</html>
