<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${gameDetails.game.getName() + ' | 에픽게임즈'}"></title>
    <link rel="shortcut icon" th:href="@{'/assets/images/favicon.png'}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/game/assets/styles/page.css}">
    <script defer type="text/javascript" th:src="@{'/game/assets/scripts/page.js'}"></script>
    <script defer type="text/javascript" th:src="@{'/game/assets/scripts/review.js'}"></script>
    <script defer type="text/javascript" th:src="@{'/assets/scripts/common.js'}"></script>
    <script src="https://kit.fontawesome.com/856af35d3d.js" crossorigin="anonymous"></script>
</head>
<body>
<th:block th:replace="~{fragments/common.html :: header}"></th:block>

<main id="main" class="main">
    <th:block th:replace="~{fragments/common.html :: mainSearch}"></th:block>
    <th:block th:replace="~{fragments/common.html :: logout}"></th:block>

    <div class="age-check" id="ageCheck" th:if="${gameDetails.game.grGrac == 'ADULT' && (user == null || (user != null && !isAdult))}">>
        <div id="cover" class="cover"></div>
        <div class="ageDialog" id="ageDialog">
            <div class="text-wrapper">
                <span class="bgImage"></span>
                <span class="name" th:text="${gameDetails.game.getName()}"></span>
                <span class="text">에는 모든 연령에 적합하지 않은 콘텐츠가 포함될 수 있습니다.</span>
            </div>
            <div class="no-adult" id="noAdult" th:if="${!isAdult}">
                <span class="text">죄송합니다. 이 콘텐츠를 이용할 수 없습니다.</span>
            </div>
            <div class="birthday-wrapper" id="birthdayWrapper" th:if="${user == null}">
                <span class="text">계속하려면 생년월일을 입력하세요.</span>
                <div class="info">
                    <span class="text">개인정보처리방침</span>
                    <a class="link" href="#" target="_blank">보기
                        <svg aria-hidden="true" class="eds_5nt5ak0 eds_5nt5ak9" fill="#26bbff" width="22" height="22"
                             viewBox="0 0 24 24">
                            <path d="M15.25 4a.75.75 0 0 1 .75-.75h5.75V9a.75.75 0 0 1-1.5 0V5.81l-6.72 6.72a.75.75 0 1 1-1.06-1.06l6.72-6.72H16a.75.75 0 0 1-.75-.75M6.5 7.75a.75.75 0 0 0-.75.75v10c0 .414.336.75.75.75h10a.75.75 0 0 0 .75-.75V16a.75.75 0 0 1 1.5 0v2.5a2.25 2.25 0 0 1-2.25 2.25h-10a2.25 2.25 0 0 1-2.25-2.25v-10A2.25 2.25 0 0 1 6.5 6.25H9a.75.75 0 0 1 0 1.5z"
                                  clip-rule="evenodd" fill-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>
                <div class="date-wrapper">
                    <div class="year select">
                        <button class="btn-select" type="button" onclick="toggleSelect('year')">
                                <span class="text">
                                    <span class="date">YYYY</span>
                                    <span class="icon-wrapper">
                                        <span class="bar"></span>
                                        <span class="image"><svg th:class="icon" xmlns="http://www.w3.org/2000/svg"
                                                                 class="css-2ltokv" viewBox="0 0 24 24"
                                                                 aria-hidden="true" data-testid="ArrowStrokeDownIcon"
                                                                 focusable="false"><path fill-rule="evenodd"
                                                                                         clip-rule="evenodd"
                                                                                         d="M18.707 9.707L12 16.414 5.293 9.707l1.414-1.414L12 13.586l5.293-5.293 1.414 1.414z"></path></svg></span>
                                    </span>
                                </span>
                        </button>
                        <ul class="list-member" id="year-list">
                            <li th:each="year : ${#numbers.sequence(#dates.format(#dates.createNow(), 'yyyy'), 1900)}">
                                <button type="button" th:text="${year}"></button>
                            </li>
                        </ul>
                    </div>

                    <div class="month select">
                        <button class="btn-select" type="button" onclick="toggleSelect('month')">
                                <span class="text">
                                    <span class="date">MM</span>
                                    <span class="icon-wrapper">
                                        <span class="bar"></span>
                                        <span class="image"><svg th:class="icon" xmlns="http://www.w3.org/2000/svg"
                                                                 class="css-2ltokv" viewBox="0 0 24 24"
                                                                 aria-hidden="true" data-testid="ArrowStrokeDownIcon"
                                                                 focusable="false"><path fill-rule="evenodd"
                                                                                         clip-rule="evenodd"
                                                                                         d="M18.707 9.707L12 16.414 5.293 9.707l1.414-1.414L12 13.586l5.293-5.293 1.414 1.414z"></path></svg></span>
                                    </span>
                                </span>
                        </button>
                        <ul class="list-member" id="month-list">
                            <li th:each="month : ${#numbers.sequence(1, 12)}">
                                <button type="button" th:text="${month < 10 ? '0' + month : month}"></button>
                            </li>
                        </ul>
                    </div>
                    <div class="day select">
                        <button class="btn-select" type="button" onclick="toggleSelect('day')">
                                <span class="text">
                                    <span class="date">DD</span>
                                    <span class="icon-wrapper">
                                        <span class="bar"></span>
                                        <span class="image"><svg th:class="icon" xmlns="http://www.w3.org/2000/svg"
                                                                 class="css-2ltokv" viewBox="0 0 24 24"
                                                                 aria-hidden="true" data-testid="ArrowStrokeDownIcon"
                                                                 focusable="false"><path fill-rule="evenodd"
                                                                                         clip-rule="evenodd"
                                                                                         d="M18.707 9.707L12 16.414 5.293 9.707l1.414-1.414L12 13.586l5.293-5.293 1.414 1.414z"></path></svg></span>
                                    </span>

                                </span>
                        </button>
                        <ul class="list-member" id="day-list">
                            <li th:each="day : ${#numbers.sequence(1, 31)}">
                                <button type="button" th:text="${day < 10 ? '0' + day : day}"></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="button-wrapper">
                <a class="link" th:href="@{'/'}" target="_self">
                    <span class="text">스토어로 돌아가기</span>
                </a>
                <button class="continue" id="continueButton" th:if="${user == null}">
                    <span class="text">계속</span>
                </button>
            </div>
        </div>
    </div>

    <div class="deleteReview" id="deleteReview">
        <div id="deleteCover" class="deleteCover"></div>
        <div class="deleteDialog" id="deleteDialog">
            <div class="content">
                <div class="text">
                    <input name="reviewIndex" class="reviewIndex" type="hidden">
                    <span class="main">리뷰 삭제</span>
                    <span class="line"></span>
                    <span class="sub">리뷰 삭제 후 복구 또는 재작성은 불가합니다.</span>
                </div>
                <div class="button-container">
                    <button name="DeleteCancel" type="button">취소</button>
                    <button name="DeleteConfirm" type="button">확인</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mainSection">
        <div class="gameArea">
            <div class="gameName">
                <h1 th:text="${gameDetails.game.getName()}"></h1>
            </div>
            <div class="game-container">
                <div class="game-description">
                    <section class="main">
                        <div class="media-container">
                            <div class="main-image">
                                <ul class="slider-wrapper">
                                    <li th:each="image, iterStat : ${gameDetails.media}">
                                        <img th:src="@{'/game/image?index=' + ${gameDetails.game.index} + '&type=gameImage&itemIndex=' + ${iterStat.index}}"
                                             alt="메인이미지">
                                    </li>
                                </ul>

                                <div class="arrow-container">
                                    <div class="left side">
                                        <button class="prev">
                                            <svg style="transform: scaleX(-100%)" xmlns="http://www.w3.org/2000/svg"
                                                 class="svg css-uwwqev" viewBox="0 0 5 9">
                                                <path stroke="#ffffff" d="M1 1l3 3.5L1 8" fill="none"
                                                      fill-rule="evenodd"></path>
                                            </svg>
                                        </button>
                                    </div>

                                    <div class="right side">
                                        <button class="next">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="svg css-uwwqev"
                                                 viewBox="0 0 5 9">
                                                <path stroke="#ffffff" d="M1 1l3 3.5L1 8" fill="none"
                                                      fill-rule="evenodd"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="image-wrapper">
                                    <div class="image" th:each="image, iterStat : ${gameDetails.media}"
                                         data-index="${iterStat.index}">
                                        <img th:src="@{'/game/image?index=' + ${gameDetails.game.index} + '&type=gameImage&itemIndex=' + ${iterStat.index}}"
                                             alt="서브이미지">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="summary">
                            <span class="text" th:text="${gameDetails.game.getSummary()}"></span>
                        </div>
                        <div class="attribute-container">
                            <div class="genre">
                                <span class="title">장르</span>
                                <div class="genre-container">
                                    <div class="genre-wrapper">
                                        <a class="link" th:each="genre : ${gameDetails.tag}" target="_self"
                                           th:href="@{'/game/genre' (tag=${genre.getTag() })}"
                                           th:text="${genre.getName() == '롤플레잉' ? 'RPG' : (genre.getName() == '실시간전략' ? 'RTS' : genre.getName())}"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="feature">
                                <span class="title">기능</span>
                                <div class="feature-container">
                                    <div class="feature-wrapper">
                                        <span class="text">멀티플레이어</span>
                                        <span class="text">업적</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="description-container">
                            <div class="description-wrapper"
                                 th:each="description : ${gameDetails.game.getDescription()}">
                                <div class="description" th:utext="${description}"></div>
                            </div>
                            <button class="toggle-button">
                                <span class="button-text">펼치기</span>
                                <svg aria-hidden="true" class=" icon eds_5nt5ak0 eds_5nt5aka" width="20" height="20"
                                     viewBox="0 0 24 24">
                                    <path d="M19.53 8.97a.75.75 0 0 1 0 1.06L12 17.56l-7.53-7.53a.75.75 0 1 1 1.06-1.06L12 15.44l6.47-6.47a.75.75 0 0 1 1.06 0"
                                          clip-rule="evenodd" fill-rule="evenodd"></path>
                                </svg>
                                <span class="shadow-box"></span>
                            </button>
                        </div>
                        <div class="achievement-container">
                            <h2 class="title">획득 가능 업적</h2>
                            <div class="achievement-wrapper">
                                <div class="achievement" th:each="achievement, iterStat : ${gameDetails.achievement}">
                                    <div class="image">
                                        <img th:src="@{'/game/image?index=' + ${gameDetails.game.index} + '&type=achievement&itemIndex=' + ${iterStat.index}}"
                                             alt="업적로고">
                                    </div>
                                    <span class="name" th:text="${achievement.name}"></span>
                                    <div class="point">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon svg css-uwwqev"
                                             viewBox="0 0 15 14">
                                            <path d="M1.78952 1.03177H3.21722C3.21547 1.05694 3.21455 1.08267 3.21455 1.10896L3.21455 2.21484H1.92245V3.65386C1.92245 4.29719 2.17572 4.91418 2.62655 5.36908C2.8022 5.54633 3.00223 5.69331 3.21869 5.8067C3.23933 6.28339 3.33644 6.74005 3.49797 7.16449C2.85933 7.01104 2.26929 6.68172 1.7975 6.20565C1.1268 5.52887 0.75 4.61096 0.75 3.65386V2.0807C0.75 1.50139 1.21541 1.03177 1.78952 1.03177Z"
                                                  fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
                                            <path d="M4.57719 7.26263C4.37731 6.90243 4.24094 6.50149 4.18336 6.07526L4.17941 6.04498C4.16166 5.90411 4.15251 5.76052 4.15251 5.61478L4.15251 1.10896C4.15251 1.02488 4.24618 0.944783 4.41557 0.871928C4.92375 0.653363 6.11342 0.5 7.49999 0.5C9.34874 0.5 10.8475 0.772637 10.8475 1.10895V5.61478C10.8475 5.77097 10.837 5.9247 10.8166 6.07526C10.7459 6.59904 10.5561 7.0846 10.2758 7.50333C9.6742 8.40183 8.65546 8.99257 7.49999 8.99257L7.47834 8.9925C6.23167 8.98454 5.14668 8.28891 4.57719 7.26263Z"
                                                  fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
                                            <path d="M11.502 7.1645C11.6635 6.74006 11.7606 6.2834 11.7813 5.80672C11.9978 5.69332 12.1978 5.54634 12.3735 5.36908C12.8243 4.91418 13.0775 4.29719 13.0775 3.65386V2.21484H11.8227V1.03177H13.2105C13.7846 1.03177 14.25 1.50139 14.25 2.0807V3.65386C14.25 4.61096 13.8732 5.52887 13.2025 6.20565C12.83 6.58157 12.3836 6.866 11.898 7.04457C11.7686 7.09215 11.6364 7.13221 11.502 7.1645Z"
                                                  fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
                                            <path d="M10.3826 12.1379C10.3826 12.7521 9.09198 13.25 7.49998 13.25C5.90798 13.25 4.6174 12.7521 4.6174 12.1379C4.6174 11.9371 4.75526 11.7488 4.99644 11.5862L4.99892 11.5845L5.54498 11.2735C6.0756 10.9712 6.51643 10.5312 6.82173 9.99911C6.90651 9.85135 7.12539 9.74247 7.49998 9.74247C7.87457 9.74247 8.09345 9.85135 8.17823 9.99911C8.48353 10.5312 8.92435 10.9712 9.45498 11.2735L10.001 11.5845L10.008 11.5893C10.2464 11.7511 10.3826 11.9384 10.3826 12.1379Z"
                                                  fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
                                        </svg>
                                        <span class="number" th:text="${achievement.getReward() + 'px'}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="category-container">
                            <span class="main title">에픽 플레이어 평가</span>
                            <span class="sub text">에픽게임즈 에코시스템 내 플레이어의 의견입니다.</span>
                            <div class="category-wrapper">
                                <div class="category" th:each="category, iterStat : ${gameDetails.category}">
                                    <div class="feature">
                                        <div class="logo">
                                            <img th:src="@{'/game/image?index=' + ${gameDetails.game.index} + '&type=category&itemIndex=' + ${iterStat.index}}"
                                                 alt="카테고리 로고">
                                        </div>
                                        <span class="common text">이 게임은</span>
                                        <span class="individual text" th:text="${category.content}"></span>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="requirements-container">
                            <span class="title" th:text="${gameDetails.game.getName() + ' 시스템 요구 사항'}"></span>
                            <div class="requirements-wrapper">
                                <button class="windows" type="button">Windows</button>
                                <div class="up">
                                    <div class="requirement">
                                        <div class="row">
                                            <span class="left area title">최소</span>
                                            <span class="right area title">추천</span>
                                        </div>

                                        <div class="row">
                                            <span class="left area">
                                                <span class="name">운영체제 버전</span>
                                                <span class="value" th:text="${gameDetails.game.getMinOs()}"></span>
                                            </span>
                                            <span class="right area">
                                                <span class="name">운영체제 버전</span>
                                                <span class="value" th:text="${gameDetails.game.getRecOs()}"></span>
                                            </span>
                                        </div>

                                        <div class="row">
                                            <span class="left area">
                                                <span class="name">CPU</span>
                                                <span class="value" th:text="${gameDetails.game.getMinCpu()}"></span>
                                            </span>
                                            <span class="right area">
                                                <span class="name">CPU</span>
                                                <span class="value" th:text="${gameDetails.game.getRecCpu()}"></span>
                                            </span>
                                        </div>

                                        <div class="row">
                                            <span class="left area">
                                                <span class="name">메모리</span>
                                                <span class="value" th:text="${gameDetails.game.getMinRam()}"></span>
                                            </span>
                                            <span class="right area">
                                                <span class="name">메모리</span>
                                                <span class="value" th:text="${gameDetails.game.getRecRam()}"></span>
                                            </span>
                                        </div>

                                        <div class="row">
                                            <span class="left area">
                                                <span class="name">GPU</span>
                                                <span class="value" th:text="${gameDetails.game.getMinGpu()}"></span>
                                            </span>
                                            <span class="right area">
                                                <span class="name">GPU</span>
                                                <span class="value" th:text="${gameDetails.game.getRecGpu()}"></span>
                                            </span>
                                        </div>

                                        <div class="row">
                                            <span class="left area">
                                                <span class="name">스토리지</span>
                                                <span class="value"
                                                      th:text="${gameDetails.game.getMinStorage()}"></span>
                                            </span>
                                            <span class="right area">
                                                <span class="name">스토리지</span>
                                                <span class="value"
                                                      th:text="${gameDetails.game.getRecStorage()}"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="down">
                                    <div class="language">
                                        <span class="title">지원언어</span>
                                        <span class="value">한국어, 영어, 중국어, 일본어</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                    <section class="sideBar">
                        <div class="bar-nav">
                            <div class="logo-wrapper">
                                <img th:src="@{'/game/image?index=' + ${gameDetails.game.index} + '&type=gameLogo'}"
                                     alt="게임로고"></div>

                            <div class="gamerating-wrapper">
                                <div class="gameRating">
                                    <div class="logo-wrapper">
                                        <img th:src="@{'/game/image?index=' + ${gameDetails.game.index} + '&type=gameRating'}"
                                             alt="게임연령로고">
                                    </div>

                                    <div class="text-wrapper">
                                        <span class="main text" th:text="${gameDetails.gameRating.getTitle()}"></span>
                                        <span class="sub text"
                                              th:text="${gameDetails.gameRating.getTitle() == '전체이용가'? '' : '폭력성'}"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="type-wrapper">
                                <button class="basic" type="button">
                                    <span class="text">기본 게임</span>
                                </button>
                            </div>

                            <div class="price-wrapper" th:if="${gameDetails.game.price == 0}">
                                <span class="free">무료</span>
                                <span class="notice">앱 내 구매가 포함될 수도 있습니다.</span>
                            </div>

                            <div class="price-wrapper" th:if="${gameDetails.game.price != 0}">
                                <div class="price-info" th:if="${priceVo.getDiscountPer() != 0}">
                                    <div class="prices">
                                        <div class="sale-percentage">
                                            <span class="percentage"
                                                  th:text="${'-' + priceVo.getDiscountPer() + '%'}"></span>
                                        </div>
                                        <div class="origin-price">
                                            <del class="price" th:text="${priceVo.getOriginalPrice()}"></del>
                                        </div>
                                        <div class="sale-price">
                                            <span class="price" th:text="${priceVo.getCurrentPrice()}"></span>
                                        </div>
                                    </div>
                                    <div class="period">
                                        <span class="date"
                                              th:text="${#temporals.format(priceVo.getEndDate(), 'yyyy-MM-dd HH:mm') + ' 할인 종료'}"></span>
                                    </div>
                                </div>

                                <div class="price-info" th:if="${priceVo.getDiscountPer() == 0}">
                                    <span class="originPrice price" th:text="${gameDetails.game.getPrice()}"></span>
                                </div>
                            </div>

                            <div class="button-container" th:if="${purchaseIndex == 0 || purchaseIndex == null}">
                                <button class="buy button" type="button" id="buy-btn">
                                    <span class="text">지금 구매</span>
                                </button>

                                <button class="cart cartAdd button" type="button" th:if="${!isInCart}">
                                    <span class="text">장바구니에 담기</span>
                                </button>

                                <button class="cart cartDelete button" type="button" th:if="${isInCart}">
                                    <span class="text">장바구니에서 제거</span>
                                </button>

                                <button class="wishlist wishlistAdd button" type="button" th:if="${!isInWishlist}">
                                    <span class="text">위시리스트에 담기</span>
                                </button>

                                <button class="wishlist wishlistDelete button" type="button" th:if="${isInWishlist}">
                                    <span class="text">위시리스트에서 제거</span>
                                </button>
                            </div>
                            <div class="button-container" th:if="${purchaseIndex != null}">
                                <button class="buy-ap button" type="button">
                                    <svg aria-hidden="true" class="eds_5nt5ak0 eds_5nt5ak9 eds_14hl3lj7" width="24"
                                         height="24" viewBox="0 0 24 24">
                                        <path d="M5.5 3.25A2.25 2.25 0 0 0 3.25 5.5v3a2.25 2.25 0 0 0 2.25 2.25h3a2.25 2.25 0 0 0 2.25-2.25v-3A2.25 2.25 0 0 0 8.5 3.25zM4.75 5.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75v3a.75.75 0 0 1-.75.75h-3a.75.75 0 0 1-.75-.75zm.75 7.75a2.25 2.25 0 0 0-2.25 2.25v3a2.25 2.25 0 0 0 2.25 2.25h3a2.25 2.25 0 0 0 2.25-2.25v-3a2.25 2.25 0 0 0-2.25-2.25zm-.75 2.25a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75v3a.75.75 0 0 1-.75.75h-3a.75.75 0 0 1-.75-.75zm8.5 0a2.25 2.25 0 0 1 2.25-2.25h3a2.25 2.25 0 0 1 2.25 2.25v3a2.25 2.25 0 0 1-2.25 2.25h-3a2.25 2.25 0 0 1-2.25-2.25zm2.25-.75a.75.75 0 0 0-.75.75v3c0 .414.336.75.75.75h3a.75.75 0 0 0 .75-.75v-3a.75.75 0 0 0-.75-.75zm0-11.5a2.25 2.25 0 0 0-2.25 2.25v3a2.25 2.25 0 0 0 2.25 2.25h3a2.25 2.25 0 0 0 2.25-2.25v-3a2.25 2.25 0 0 0-2.25-2.25zm-.75 2.25a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75v3a.75.75 0 0 1-.75.75h-3a.75.75 0 0 1-.75-.75z"
                                              clip-rule="evenodd" fill-rule="evenodd"></path>
                                    </svg>
                                    <span class="text">라이브러리에 있음</span>
                                </button>
                            </div>
                            <label>
                                <input type="text" id="userEmail" th:value="${userEmail}" hidden="hidden">
                                <input type="text" id="cartIndex" th:value="${cartIndex}" hidden="hidden">
                                <input type="text" id="wishlistIndex" th:value="${wishlistIndex}" hidden="hidden">
                            </label>
                            <div class="info-wrapper">
                                <div class="info">
                                    <div class="text-wrapper">
                                        <span class="title">환불 유형</span>
                                        <span class="value">셀프 환불</span>
                                    </div>
                                </div>

                                <div class="info">
                                    <div class="text-wrapper">
                                        <span class="title">개발사</span>
                                        <span class="value" th:text="${gameDetails.game.getCompany()}"></span>
                                    </div>
                                </div>

                                <div class="info">
                                    <div class="text-wrapper">
                                        <span class="title">출시일</span>
                                        <span class="value"
                                              th:text="${#dates.format(gameDetails.game.getOpenDate(), 'yyyy.MM.dd')}"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="comment">
            <div class="commentArea">
                <div class="mainTitle">
                    <span class="main title">플레이어 리뷰</span>
                    <span class="sub text">해당게임 실구매 플레이어의 리뷰입니다.</span>
                </div>
                <div class="comment-container" th:if="${purchaseIndex != null}">
                    <span class="text">리뷰 작성하기</span>

                    <form id="commentForm" class="form">
                        <div class="review-write">
                            <div class="star-review">
                                <div class="title">
                                    <span class="main">게임 만족도</span>
                                    <span class="sub">(별점을 눌러 평가해 주세요.)</span>
                                </div>
                                <div class="star-rating">
                                    <input type="radio" id="5-stars" name="rating" value="5" required/>
                                    <label for="5-stars" class="star">&#9733;</label>
                                    <input type="radio" id="4-stars" name="rating" value="4"/>
                                    <label for="4-stars" class="star">&#9733;</label>
                                    <input type="radio" id="3-stars" name="rating" value="3"/>
                                    <label for="3-stars" class="star">&#9733;</label>
                                    <input type="radio" id="2-stars" name="rating" value="2"/>
                                    <label for="2-stars" class="star">&#9733;</label>
                                    <input type="radio" id="1-star" name="rating" value="1"/>
                                    <label for="1-star" class="star">&#9733;</label>
                                </div>
                            </div>
                            <label class="label">
                                <span class="text">구매후기</span>
                                <textarea name="content" class="field" maxlength="16777215" minlength="1" required
                                          spellcheck="false" placeholder="게임과 관련없는 리뷰는 고지없이 삭제될 수 있습니다."></textarea>
                                <input id="purchaseIndex" class="purchaseIndex" th:if="${purchaseIndex != null}"
                                       th:value="${purchaseIndex}" hidden="hidden">
                            </label>
                        </div>
                        <div class="button-container">
                            <span class="spring"></span>
                            <button class="submit-button" type="submit">작성</button>
                        </div>
                    </form>
                </div>
                <span class="line"></span>
                <div class="review-container">
                    <ul class="list">

                    </ul>
                    <div id="pagination"></div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- 결제 모달창 -->
<div class="pay-modal" id="pay-modal">
    <div class="modal-content">
        <!-- iframe으로 결제 창 불러오기 -->
        <iframe id="paymentIframe" src="" title="결제 페이지"></iframe>
    </div>
</div>
<th:block th:replace="~{fragments/common.html :: footer}"></th:block>
</body>
</html>
