<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssw.epicgames.mappers.GameMapper">
    <!--  게임 삽입  -->
    <insert id="insertGame"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.ssw.epicgames.entities.GameEntity">
        INSERT INTO `epic_games`.`game` (`gr_grac`, `name`, `price`, `summary`, `description`, `company`, `open_date`, `main_image`, `logo`, `min_os`, `min_cpu`, `min_ram`, `min_storage`, `min_gpu`, `rec_os`, `rec_cpu`, `rec_ram`, `rec_storage`, `rec_gpu`)
        VALUES (#{grGrac}, #{name}, #{price}, #{summary}, #{description}, #{company}, #{openDate}, #{mainImage}, #{mainLogo}, #{minOs}, #{minCpu}, #{minRam}, #{minStorage}, #{minGpu}, #{recOs}, #{recCpu}, #{recRam}, #{recStorage}, #{recGpu})
    </insert>
<!--  region 게임 삽입 시 필요한 맵핑 테이블 삽입  -->
    <!--  이미지(미디어) 삽입  -->
    <insert id="insertGameMedia"
            useGeneratedKeys="true"
            keyColumn="no"
            keyProperty="no"
            parameterType="com.ssw.epicgames.entities.MediaEntity">
        INSERT INTO `epic_games`.`media` (`image`, `video`)
        VALUES (#{image}, #{video})
    </insert>
    <!--  게임 이미지 맵핑 테이블 삽입  -->
    <insert id="insertGameMediaMapping">
        INSERT INTO `epic_games`.`game_media_mapping` (`game_index`, `media_no`)
        VALUES (#{gameIndex}, #{mediaNo})
    </insert>
    <!--  게임 분류 맵핑 테이블 삽입  -->
    <insert id="insertGameGenreMapping">
        INSERT INTO `epic_games`.`game_genre_mapping` (`game_index`, `genre_tag`)
        VALUES
        <foreach collection="tags" item="tag" separator=",">
            (#{gameIndex}, #{tag})
        </foreach>
    </insert>
<!--  endregion  -->

    <select id="selectAllGames" resultType="com.ssw.epicgames.vos.GameVo">
        SELECT `game`.`index`                                                AS `index`,
               `game`.`gr_grac`                                              AS `grGrac`,
               `game`.`name`                                                 AS `name`,
               `game`.`price`                                                AS `price`,
               `game`.`main_image`                                           AS `mainImage`,
               GROUP_CONCAT(`game_genre_mapping`.`genre_tag` SEPARATOR ', ') AS `genre`
        FROM `epic_games`.`game`
        LEFT JOIN `epic_games`.`game_genre_mapping`
        ON `game`.`index` = `game_genre_mapping`.`game_index`
        GROUP BY `game`.`index`
    </select>

    <select id="selectGamesByKeyword" resultType="com.ssw.epicgames.vos.GameVo">
        SELECT `game`.`index` AS `index`,
               `game`.`name` AS `name`,
               `game`.`price` AS `price`,
               `game`.`main_image` AS `mainImage`,
               GROUP_CONCAT(`game_genre_mapping`.`genre_tag` SEPARATOR ', ') AS `genre`
        FROM `epic_games`.`game`
                 LEFT JOIN `epic_games`.`game_genre_mapping`
                           ON `game`.`index` = `game_genre_mapping`.`game_index`
        WHERE `game`.`name` LIKE CONCAT('%', #{keyword}, '%')
        GROUP BY `game`.`index`, `game`.`name`, `game`.`price`, `game`.`main_image`
    </select>


    <!--   모든 게임들 선택   -->
    <select id="selectAllGameInfo" resultType="com.ssw.epicgames.entities.GameEntity">
        SELECT `index`       AS `index`,
               `gr_grac`     AS `grGrac`,
               `name`        AS `name`,
               `price`       AS `price`,
               `summary`     AS `summary`,
               `description` AS `description`,
               `company`     AS `company`,
               `open_date`   AS `openDate`,
               `main_image`  AS `mainImage`,
               `logo`        AS `mainLogo`,
               `min_os`      AS `minOs`,
               `min_cpu`     AS `minCpu`,
               `min_ram`     AS `minRam`,
               `min_storage` AS `minStorage`,
               `min_gpu`     AS `minGpu`,
               `rec_os`      AS `recOs`,
               `rec_cpu`     AS `recCpu`,
               `rec_ram`     AS `recRam`,
               `rec_storage` AS `recStorage`,
               `rec_gpu`     AS `recGpu`
        FROM `epic_games`.`game`
    </select>

    <!--   index에 해당하는 게임 한 개 선택   -->
    <select id="selectGameInfoByIndex" resultType="com.ssw.epicgames.entities.GameEntity">
        SELECT `index`       AS `index`,
               `gr_grac`     AS `grGrac`,
               `name`        AS `name`,
               `price`       AS `price`,
               `summary`     AS `summary`,
               `description` AS `description`,
               `company`     AS `company`,
               `open_date`   AS `openDate`,
               `main_image`  AS `mainImage`,
               `logo`        AS `mainLogo`,
               `min_os`      AS `minOs`,
               `min_cpu`     AS `minCpu`,
               `min_ram`     AS `minRam`,
               `min_storage` AS `minStorage`,
               `min_gpu`     AS `minGpu`,
               `rec_os`      AS `recOs`,
               `rec_cpu`     AS `recCpu`,
               `rec_ram`     AS `recRam`,
               `rec_storage` AS `recStorage`,
               `rec_gpu`     AS `recGpu`
        FROM `epic_games`.`game`
        WHERE `index` = #{index}
    </select>

    <select id="selectGameRatingByIndex" resultType="com.ssw.epicgames.entities.GameRatingEntity">
        SELECT grac AS `grac`,
               title AS `title`,
               sub_title AS `subTitle`,
               `rating`.description AS `description`,
               `rating`.logo AS `logo`
        FROM `epic_games`.`game_rating` AS `rating`
                 JOIN `epic_games`.`game` `g` on `rating`.`grac` = `g`.`gr_grac`
        WHERE g.`index` = #{index};
    </select>

    <select id="selectGameMediaByIndex" resultType="com.ssw.epicgames.entities.MediaEntity">
        SELECT media.no AS `no`,
               media.image AS `image`,
               media.video AS `video`
        FROM `epic_games`.`media` AS `media`
                 JOIN `epic_games`.`game_media_mapping` AS `gmm` on `media`.`no` = `gmm`.`media_no`
        WHERE `game_index` = #{index};
    </select>

    <select id="selectGameGenreByIndex" resultType="com.ssw.epicgames.entities.GenreEntity">
        SELECT genre.tag AS `tag`,
               genre.name AS `name`
        FROM `epic_games`.`genre`
                 JOIN `epic_games`.`game_genre_mapping` `ggm` on `genre`.`tag` = `ggm`.`genre_tag`
        WHERE `game_index` = #{index};
    </select>
    <select id="selectGameLanguageByIndex" resultType="com.ssw.epicgames.entities.LanguageEntity">
        SELECT language.id AS `id`,
               language.code AS `code`,
               language.name AS `name`
        FROM `epic_games`.`language`
                 JOIN `epic_games`.`game_language_mapping` `glm` on `language`.`id` = `glm`.`language_id`
        WHERE `game_index` = #{index};
    </select>
    <select id="selectGameCategoryByIndex" resultType="com.ssw.epicgames.entities.CategoryEntity">
        SELECT category.code AS `code`,
               category.content AS `content`,
               category.image AS `image`
        FROM `epic_games`.`category`
                 JOIN `epic_games`.`game_category_mapping` `gcm` on `category`.`code` = `gcm`.`catg_code`
        WHERE `game_index` = #{index};
    </select>

    <select id="selectGameAchievementByIndex" resultType="com.ssw.epicgames.entities.AchievementEntity">
        SELECT achievements.id AS `id`,
               achievements.name AS `name`,
               achievements.reward AS `reward`,
               achievements.logo AS `logo`
        FROM `epic_games`.`achievements`
                 JOIN `epic_games`.`game_achievements_mapping` `gam` on `achievements`.id = `gam`.`achievements_id`
        WHERE `game_index` = #{index};
    </select>

    <select id="getGamesByUserEmail" resultType="com.ssw.epicgames.entities.GameEntity">
        SELECT g.`index` AS `index`,
               g.gr_grac AS `grGrac`,
               g.name AS `name`,
               g.price AS `price`,
               g.summary AS `summary`,
               g.description AS `description`,
               g.company AS `company`,
               g.open_date AS `openDate`,
               g.main_image AS `mainImage`,
               g.logo AS `mainLogo`,
               g.min_os AS `minOs`,
               g.min_cpu AS `minCpu`,
               g.min_ram AS `minRam`,
               g.min_storage AS `minStorage`,
               g.min_gpu AS `minGpu`,
               g.rec_os AS `recOs`,
               g.rec_cpu AS `recCpu`,
               g.rec_ram AS `recRam`,
               g.rec_storage AS `recStorage`,
               g.rec_gpu AS `recGpu`
        FROM epic_games.game g
                 JOIN epic_games.purchase p ON g.index = p.game_index
        WHERE p.user_email = #{userEmail}
    </select>
    <select id="getPurchaseByEmailAndGameIndex" resultType="com.ssw.epicgames.entities.PurchaseEntity">
        SELECT `index` AS `index`,
               `user_email` AS `userEmail`,
               `game_index` AS `gameIndex`
        FROM `epic_games`.`purchase`
        WHERE `user_email` = #{userEmail}
          AND `game_index` = #{index}
        AND `deleted_at` IS NULL
        LIMIT 1
    </select>


</mapper>