<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssw.epicgames.mappers.PurchaseMapper">
<!--  region 장바구니 관련 -->
    <!--  장바구니 삽입  -->
    <insert id="insertCart"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.ssw.epicgames.entities.CartEntity">
        INSERT INTO `epic_games`.`cart` (`user_email`, `game_index`, `add_at`)
        VALUES (#{userEmail}, #{gameIndex}, #{addAt})
    </insert>

    <!--  장바구니 삭제  -->
    <delete id="deleteCartByIndex" parameterType="_int">
        DELETE FROM `epic_games`.`cart`
        WHERE `index` = #{index}
    </delete>

    <!-- 유저에 해당하는 장바구니 목록들 조회  -->
    <select id="selectCartByUserEmail" resultType="com.ssw.epicgames.entities.CartEntity">
        SELECT `index`      AS `index`,
               `user_email` AS `userEmail`,
               `game_index` AS `gameIndex`,
               `add_at`     AS `addAt`
        FROM `epic_games`.`cart`
        WHERE `user_email` = #{userEmail}
        ORDER BY `add_at` DESC
    </select>

    <!--  유저 이메일과 게임 번호에 해당하는 장바구니 조회  -->
    <select id="selectCartByEmailANDGameIndex" resultType="com.ssw.epicgames.entities.CartEntity">
        SELECT `index`      AS `index`,
               `user_email` AS `userEmail`,
               `game_index` AS `gameIndex`,
               `add_at`     AS `addAt`
        FROM `epic_games`.`cart`
        WHERE `user_email` = #{userEmail}
          AND `game_index` = #{gameIndex}
        LIMIT 1
    </select>

    <!--  장바구니 index로 장바구니 조회  -->
    <select id="selectCartByIndex" resultType="com.ssw.epicgames.entities.CartEntity">
        SELECT `index`      AS `index`,
               `user_email` AS `userEmail`,
               `game_index` AS `gameIndex`,
               `add_at`     AS `addAt`
        FROM `epic_games`.`cart`
        WHERE `index` = #{index}
        LIMIT 1
    </select>
<!-- endregion -->

<!--  region 위시리스트 관련 -->
    <!--  위시리스트 삽입  -->
    <insert id="insertWishlist"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.ssw.epicgames.entities.WishlistEntity">
        INSERT INTO `epic_games`.`wishlist` (`user_email`, `game_index`, `add_at`)
        VALUES (#{userEmail}, #{gameIndex}, #{addAt})
    </insert>

    <!--  위시리스트 업데이트(삭제 포함) -->
    <update id="updateWishlistByIndex" parameterType="com.ssw.epicgames.entities.WishlistEntity">
        UPDATE `epic_games`.`wishlist`
        SET `user_email` = #{userEmail},
            `game_index` = #{gameIndex},
            `add_at`     = #{addAt},
            `is_deleted` = #{isDeleted}
        WHERE `index` = #{index}
        LIMIT 1
    </update>

    <!-- 유저에 해당하는 위시리스트 목록들 조회  -->
    <select id="selectWishlistByUserEmail" resultType="com.ssw.epicgames.entities.WishlistEntity">
        SELECT `index`      AS `index`,
               `user_email` AS `userEmail`,
               `game_index` AS `gameIndex`,
               `add_at`     AS `addAt`
        FROM `epic_games`.`wishlist`
        WHERE `user_email` = #{userEmail} AND `is_deleted` = false
        ORDER BY `add_at` DESC
    </select>

    <!--  유저 이메일과 게임 번호에 해당하는 위시리스트 조회  -->
    <select id="selectWishlistByEmailANDGameIndex" resultType="com.ssw.epicgames.entities.WishlistEntity">
        SELECT `index`      AS `index`,
               `user_email` AS `userEmail`,
               `game_index` AS `gameIndex`,
               `add_at`     AS `addAt`
        FROM `epic_games`.`wishlist`
        WHERE `user_email` = #{userEmail}
          AND `game_index` = #{gameIndex}
          AND `is_deleted` = false
        LIMIT 1
    </select>

    <!--  위시리스트 index로 위시리스트 조회  -->
    <select id="selectWishlistByIndex" resultType="com.ssw.epicgames.entities.WishlistEntity">
        SELECT `index`      AS `index`,
               `user_email` AS `userEmail`,
               `game_index` AS `gameIndex`,
               `add_at`     AS `addAt`
        FROM `epic_games`.`wishlist`
        WHERE `index` = #{index}
          AND `is_deleted` = false
        LIMIT 1
    </select>

    <!--  위시리스트 index로 위시리스트 조회(제거된 목록도 포함)  -->
    <select id="selectAllWishlistByIndex" resultType="com.ssw.epicgames.entities.WishlistEntity">
        SELECT `index`      AS `index`,
               `user_email` AS `userEmail`,
               `game_index` AS `gameIndex`,
               `add_at`     AS `addAt`
        FROM `epic_games`.`wishlist`
        WHERE `index` = #{index}
        LIMIT 1
    </select>
    <!-- endregion -->

<!--  region 결제 관련 -->
    <insert id="insertPurchase"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="com.ssw.epicgames.entities.PurchaseEntity">
        INSERT INTO `epic_games`.`purchase` (`user_email`, `game_index`, `date`, `game_price`, `discount_amount`, `final_price`, `addr`, `deleted_at`)
        VALUES (#{userEmail}, #{gameIndex}, #{date}, #{gamePrice}, #{discountAmount}, #{finalPrice}, #{addr}, #{deletedAt})
    </insert>
<!-- endregion -->

    <select id="getPurchasesByUserEmail" resultType="com.ssw.epicgames.entities.PurchaseEntity">
        SELECT p.`index` AS `index`,
               p.user_email AS `userEmail`,
               p.game_index AS `gameIndex`,
               p.date AS `date`,
               p.game_price AS `gamePrice`,
               p.discount_amount AS `discountAmount`,
               p.final_price AS `finalPrice`,
               p.addr AS `addr`,
               p.deleted_at AS `deletedAt`
        FROM epic_games.purchase p
        WHERE p.user_email = #{userEmail}
    </select>
    <!--    <select id="selectPurchaseByUserEmail" resultType="com.ssw.epicgames.entities.PurchaseEntity">-->
<!--        SELECT `index` AS `index`,-->
<!--               user_email AS `userEmail`,-->
<!--               game_index AS `gameIndex`,-->
<!--               date AS `date`,-->
<!--               game_price AS `gamePrice`,-->
<!--               discount_amount AS `discountAmount`,-->
<!--               final_price AS `finalPrice`,-->
<!--               addr AS `addr`,-->
<!--               deleted_at AS `deletedAt`-->
<!--        FROM epic_games.purchase-->
<!--        WHERE user_email = #{user_email}-->
<!--    </select>-->


</mapper>