#header {
  background-color: rgba(16, 16, 20, 0.7019607843);
  padding: 1.4rem 1.7rem;
}
#header > .header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#header > .header-container > .menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#header > .header-container > .menu-toggle > .button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0.625rem;
  cursor: pointer;
}
#header > .header-container > .menu-toggle > .button-container > .logo.icon {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 0.3rem;
}
#header > .header-container > .menu-toggle > .button-container > .logo.icon > svg path {
  fill: #ffffff;
}
#header > .header-container > .menu-toggle > .button-container > .arrow.icon {
  width: 1.1rem;
  height: 1.1rem;
  transform: translateY(-0.15rem);
}
#header > .header-container > .menu-toggle > .button-container > .arrow.icon > svg path {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1.2;
}
#header > .header-container > .menu-toggle > .button-container:hover > .logo.icon {
  opacity: 0.7;
}
#header > .header-container > .menu-toggle > .button-container:hover > .arrow.icon {
  opacity: 0.7;
  transform: rotate(180deg);
  transform-origin: center;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease;
}
#header > .header-container > .menu-toggle > .menu {
  top: 6.5rem;
  left: 2rem;
  position: absolute;
  max-height: 54rem;
  width: 60rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.0980392157);
  border-radius: 1rem;
  background-color: rgba(48, 48, 52, 0.6980392157);
  backdrop-filter: blur(3.125rem);
  padding: 2.5rem;
}
#header > .header-container > .menu-toggle > .menu .menu-wrapper {
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
}
#header > .header-container > .menu-toggle > .menu .menu-wrapper .menu-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 45%;
}
#header > .header-container > .menu-toggle > .menu .menu-wrapper .menu-left > .left > .up {
  margin-bottom: 1.5rem;
}
#header > .header-container > .menu-toggle > .menu .menu-wrapper .menu-left > .left > .down {
  margin-top: 2.5rem;
}
#header > .header-container > .menu-toggle > .menu .menu-wrapper .menu-left > .left > .up, #header > .header-container > .menu-toggle > .menu .menu-wrapper .menu-left > .left .down {
  padding: 1rem;
}
#header > .header-container > .menu-toggle > .menu .menu-wrapper .menu-left > .left > .up > .title, #header > .header-container > .menu-toggle > .menu .menu-wrapper .menu-left > .left .down > .title {
  font-size: 2rem;
  font-weight: 700;
}
#header > .header-container > .menu-toggle > .menu .menu-wrapper .menu-left > .left > .up > .list, #header > .header-container > .menu-toggle > .menu .menu-wrapper .menu-left > .left .down > .list {
  margin-top: 2rem;
  margin-right: 1rem;
}
#header > .header-container > .menu-toggle > .menu .menu-wrapper .menu-left > .left > .up > .list > .item, #header > .header-container > .menu-toggle > .menu .menu-wrapper .menu-left > .left .down > .list > .item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.5rem;
  height: 4rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
#header > .header-container > .menu-toggle > .menu .menu-wrapper .menu-left > .left > .up > .list > .item > .link, #header > .header-container > .menu-toggle > .menu .menu-wrapper .menu-left > .left .down > .list > .item > .link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
#header > .header-container > .menu-toggle > .menu .menu-wrapper .menu-left > .left > .up > .list > .item > .link > svg, #header > .header-container > .menu-toggle > .menu .menu-wrapper .menu-left > .left .down > .list > .item > .link > svg {
  width: 1.9rem;
  height: 1.9rem;
  margin-right: 0.8rem;
}
#header > .header-container > .menu-toggle > .menu .menu-wrapper .menu-left > .left > .up > .list > .item > .link > .name, #header > .header-container > .menu-toggle > .menu .menu-wrapper .menu-left > .left .down > .list > .item > .link > .name {
  font-size: 1.3rem;
  line-height: 1.5rem;
}
#header > .header-container > .menu-toggle > .menu .menu-wrapper .menu-left > .left > .up > .list > .item:hover, #header > .header-container > .menu-toggle > .menu .menu-wrapper .menu-left > .left .down > .list > .item:hover {
  background-color: #444444;
}
#header > .header-container > .menu-toggle > .menu .menu-wrapper .menu-left > .left > .up-down-divider {
  border-top: 0.0625rem solid rgba(255, 255, 255, 0.7098039216);
}
#header > .header-container > .menu-toggle > .menu .menu-wrapper > .line {
  max-height: 54rem;
  width: 0.0625rem;
  background-color: rgba(255, 255, 255, 0.7098039216);
}
#header > .header-container > .menu-toggle > .menu .menu-wrapper > .menu-right {
  margin-left: 3rem;
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
#header > .header-container > .menu-toggle > .menu .menu-wrapper > .menu-right > .right > .up > .title {
  font-size: 2rem;
  font-weight: 700;
}
#header > .header-container > .menu-toggle > .menu .menu-wrapper > .menu-right > .right > .up > .list {
  margin-top: 2rem;
  margin-right: 1rem;
}
#header > .header-container > .menu-toggle > .menu .menu-wrapper > .menu-right > .right > .up > .list > .item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.5rem;
  height: 4rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
#header > .header-container > .menu-toggle > .menu .menu-wrapper > .menu-right > .right > .up > .list > .item > .link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
#header > .header-container > .menu-toggle > .menu .menu-wrapper > .menu-right > .right > .up > .list > .item > .link > svg {
  width: 1.9rem;
  height: 1.9rem;
  margin-right: 0.8rem;
}
#header > .header-container > .menu-toggle > .menu .menu-wrapper > .menu-right > .right > .up > .list > .item > .link > .name {
  font-size: 1.3rem;
  line-height: 1.5rem;
}
#header > .header-container > .menu-toggle > .menu .menu-wrapper > .menu-right > .right > .up > .list > .item:hover {
  background-color: #444444;
}
#header .header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
#header .header-nav > .store {
  margin-left: 2.5rem;
  cursor: pointer;
}
#header .header-nav > .store > .logo.icon:hover {
  opacity: 0.7;
}
#header .header-nav > .store > .logo.icon > .logo_img {
  height: 3.2rem;
  width: 5.7rem;
}
#header .header-nav > .help {
  color: #ffffff;
  font-weight: 300;
  font-size: 1.45rem;
  margin-left: 4rem;
  cursor: pointer;
}
#header .header-nav > .help:hover {
  opacity: 0.7;
}
#header .header-nav > .release {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-left: 3.2rem;
  cursor: pointer;
}
#header .header-nav > .release > .text {
  color: #ffffff;
  font-weight: 300;
  font-size: 1.45rem;
}
#header .header-nav > .release > .text:hover {
  opacity: 0.7;
}
#header .header-nav > .release > .arrow.icon {
  width: 1.1rem;
  height: 1.1rem;
  transform: translateY(-0.15rem);
}
#header .header-nav > .release > .arrow.icon > svg path {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1.2;
}
#header .header-nav > .release:hover {
  opacity: 0.7;
}
#header .header-nav > .release:hover > .arrow.icon {
  opacity: 0.7;
  transform: rotate(180deg);
  transform-origin: center;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease;
}
#header .header-nav > .spring {
  flex-grow: 1;
}
#header .header-nav > .language > .global.icon {
  background-color: transparent;
  width: 2.3rem;
  height: 2.3rem;
  border: none;
  cursor: pointer;
}
#header .header-nav > .language > .global.icon > svg path {
  fill: #ffffff;
}
#header .header-nav > .language:hover {
  opacity: 0.7;
}
#header .header-nav > .login-button {
  margin-left: 2rem;
}
#header .header-nav > .login-button > .login {
  border: none;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  background-color: rgba(255, 255, 255, 0.1490196078);
  padding: 0.9rem 1.3rem;
  border-radius: 0.5rem;
}
#header .header-nav > .login-button > .login:hover {
  background-color: #656565;
}
#header .header-nav > .download-button {
  margin-left: 1.8rem;
  margin-right: 0.7rem;
}
#header .header-nav > .download-button > .download {
  border: none;
  color: #000000;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  background-color: #26BBFF;
  padding: 0.9rem 1.3rem;
  border-radius: 0.5rem;
}
#header .header-nav > .download-button > .download:hover {
  background-color: #65caf8;
}

/*# sourceMappingURL=index.css.map */
