<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${userNickname + '님의 계정 설정 페이지'}"></title>
    <link rel="shortcut icon" th:href="@{'/assets/images/favicon.png'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/assets/styles/common.css'}">
    <link rel="stylesheet" th:href="@{'/pages/settings/styles/setting.css'}" type="text/css">
    <script defer th:src="@{'/pages/settings/scripts/setting.js'}" type="text/javascript"></script>
    <script defer type="text/javascript" th:src="@{'/assets/scripts/common.js'}"></script>
    <script src="https://kit.fontawesome.com/856af35d3d.js" crossorigin="anonymous"></script>
    <script defer th:src="@{'/purchase/assets/scripts/purchase_common.js'}"></script>
</head>
<body>
<th:block th:replace="~{fragments/common.html :: header}"></th:block>
<div class="overlay" style="display: none"></div>
<div class="container">
    <div class="nav" id="nav">
        <ul class="menu">
            <li class="item" rel="user.setting">계정 설정</li>
            <li class="item -selected" rel="user.purchaseList">결제 내역</li>
        </ul>
    </div>
    <div class="main" id="main">
        <th:block th:replace="~{fragments/common.html :: logout}"></th:block>
        <div class="content user-setting" th:classappend="${showPurchaseList ? '' : '-visible'}" rel="user.setting">
            <form class="main-container" id="mainContainer">
                <div class="main-title">계정 설정</div>
                <div class="title-text">계정 상세 정보를 관리합니다</div>
                <div class="sub-title">계정 정보</div>
                <div class="id" th:text="${'ID: ' + user.email}"></div>
                <div class="id-container">
                    <div class="id-wrapper">
                        <span class="text">표시명</span>
                        <label class="label nickname-wrp">
                            <input class="input" maxlength="16" minlength="2" name="nickname" type="text"
                                   th:value="${user.nickname}">
                        </label>
                    </div>
                    <div class="id-wrapper">
                        <span class="text">이메일 주소</span>
                        <label class="label email-addr">
                            <input readonly autocomplete="email" class="input" maxlength="50" minlength="8" name="email"
                                   spellcheck="false" type="email" th:value="${user.email}">
                        </label>
                    </div>
                </div>
                <div class="wrapper">
                    <label class="label language">
                        <span class="text">선호하는 소통 언어</span>
                        <input readonly type="text" class="input" value="한국어" style="pointer-events: none">
                        <span class="sub-text">에픽게임즈에서 발송하는 이메일에 대해 선호하는 언어를 선택하세요.</span>
                    </label>
                </div>
                <div class="main-title">개인 세부 정보</div>
                <div class="title-text">이름 및 연락처 정보를 관리하세요. 이러한 개인 세부 정보는 비공개이며 다른 사용자에게 표시되지 않습니다 <a href="#">개인정보 처리
                    방침</a>을 확인하세요.
                </div>
                <div class="wrapper">
                    <label class="label name-wrp">
                        <span class="text">이름</span>
                        <input class="input" maxlength="10" minlength="1" name="name" type="text"
                               th:value="${user.name}">
                    </label>
                    <label class="label addr-wrp">
                        <span class="text">주소</span>
                        <input class="input" maxlength="100" minlength="5" name="addr" type="text"
                               th:value="${user.addr}">
                    </label>
                    <label class="label">
                        <span class="text">생년월일</span>
                        <input class="input" name="birthdate" type="date" th:value="${user.birthdate}">
                    </label>
                    <label class="label">
                        <span class="text">전화번호</span>
                        <input class="input" maxlength="11" minlength="11" name="phone" type="text"
                               th:value="${user.phone}">
                    </label>
                </div>
                <button class="storage" type="submit">변경사항 저장</button>
            </form>
            <div class="recover-password">
                <span class="text">비밀번호 재설정</span>
                <span class="recover-text">비밀번호를 재설정 하려면 <a class="a-tg" th:href="@{/user/forgot-password}">비밀번호 재설정</a>으로 들어가서 아이디를 적고 이메일 인증을 하면 비밀번호를 재설정이 가능합니다.</span>
            </div>
            <div class="delete" id="deleted">
                <span class="text">계정 삭제</span>
                <span class="sub-text">계정 삭제 요청을 클릭하여 모든 개인 정보, 구매 내역, 게임 진행 상황, 인게임 콘텐츠, 언리얼 프로젝트 및 에픽게임즈 지갑 계정을 포함한 에픽게임즈 계정을 영구히 삭제하는 절차를 시작합니다. 에픽게임즈 계정이 삭제되고 나면 지갑 잔액도 영구히 삭제됩니다.</span>
                <span class="a-text">계정 삭제를 요청하면 14일 후에 계정이 삭제됩니다. 이 기간 동안 계정에 로그인하여 재활성화 할 수 있으며, 이렇게 하면 삭제 요청은 취소됩니다. 7일이 지나면 삭제된 계정을 복구할 수 없습니다.</span>
                <button class="button" type="button" id="deleteRequestBtn">계정 삭제 요청</button>
            </div>
        </div>
        <div class="content user-purchaseList -visible" th:classappend="${showPurchaseList ? '-visible' : ''}" rel="user.purchaseList">
            <h2 class="title">거래</h2>
            <table class="purchase-table">
                <thead>
                    <tr>
                        <th>날짜</th>
                        <th>설명</th>
                        <th>가격</th>
                        <th>상태</th>
                    </tr>
                </thead>
                <tbody th:each="pay : ${paylist}">
                    <tr class="title">
                        <td th:text="${#temporals.format(pay.getPay().getPaidAt(), 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td class="title" th:text="${pay.getPay().getTitle()}"></td>
                        <td class="price" th:text="${pay.getPay().getAmount()}"></td>
                        <td th:text="${pay.getPay().getStatus() == 'paid' ? '구매' : '환불'}"></td>
                    </tr>
                    <tr class="purchase-id">
                        <td></td>
                        <td colspan="2">주문Id: [[${pay.getPay().getId()}]]</td>
                        <td class="text">할인정보</td>
                    </tr>
                    <tr class="sub-title" th:each="purchase : ${pay.getPurchase()}">
                        <td></td>
                        <td th:text="${purchase.getGame().getName()}"></td>
                        <td class="price" th:text="${purchase.getPrice().currentPrice}"></td>
                        <td class="price -minus" th:if="${purchase.getPrice().discountPrice != 0}">[[${purchase.getPrice().discountPrice}]]</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<form class="dialog" id="deleteDialog">
    <label class="delete-label">
        <span class="title">비밀번호 입력</span>
        <span class="text">계정을 삭제하려면 비밀번호를 입력해 주세요.</span>
        <input autocomplete="password" class="input" maxlength="50" minlength="8" name="password"
               spellcheck="false" type="password">
    </label>
    <div class="btn-wrapper">
        <button class="delete-btn" type="submit">탈퇴하기</button>
        <button class="close-btn" type="button" id="closeDialogBtn">닫기</button>
    </div>
</form>
</body>
</html>