<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>에픽게임즈 게임즈 비밀번호 재설정 | 에픽게임즈</title>
    <link rel="shortcut icon" th:href="@{'/assets/images/favicon.png'}">
    <link rel="stylesheet" th:href="@{'/assets/styles/common.css'}" type="text/css">
    <link rel="stylesheet" th:href="@{'/user/styles/recoverPassword.css'}" type="text/css">
    <script defer th:src="@{'/user/scripts/recoverPassword.js'}" type="text/javascript"></script>
    <script th:if="${userEmail == null || key == null}">
        alert('올바르지 않은 접근입니다.');
        if(history.length > 1) {
            history.back();
        } else {
            window.close();
        }
    </script>
</head>
<body th:if="${userEmail != null && key != null}">
<div class="cover" id="cover"></div>
<div class="recover-content">
    <form class="recover-form" id="recoverForm">
        <input name="key" type="hidden" th:value="${key}">
        <img alt="EpicGames" class="logo" th:src="@{'/assets/images/index.unsigned/epic_logo.png'}">
        <h2 class="title">비밀번호 재설정</h2>
        <label class="label" data-id="email">
            <span class="_text">이메일 주소</span>
            <input readonly autocomplete="email" class="input" maxlength="50" name="userEmail" spellcheck="false"
                   type="email" th:value="${userEmail}">
            <span class="-warning">*필수</span>
        </label>
        <label class="label" data-id="password">
            <span class="_text">새로 사용할 비밀번호</span>
            <input autocomplete="password" class="input" maxlength="50" minlength="8" name="password" spellcheck="false"
                   type="password">
            <span class="-warning">*필수</span>
        </label>
        <button class="button" type="submit">비밀번호 재설정하기</button>
        <div class="create">
            <a th:href="@{'/user/'}" class="link">로그인으로 돌아가기</a>
            <a th:href="@{'https://www.epicgames.com/site/ko/privacypolicy?lang=ko'}" class="link">개인정보처리방침</a>
        </div>
    </form>
</div>
</body>
</html>