#main {
  > .age-check {
    width: 100%;
    height: 100%;

    > .cover {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 998;
      background-color: #101014;
      position: fixed;
    }

    > .ageDialog {
      width: 100%;
      position: fixed;
      z-index: 99999;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3rem;

      > .text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        > .bgImage {
          width: 7rem;
          height: 7rem;
          background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MSA3MSIgZGF0YS1yZWFjdHJvb3Q9IiI+CiAgICA8cGF0aCBkPSJNNS40Njc3IDBDMS40NzQxIDAgMCAxLjQ5NDMgMCA1LjU0NXY0OC44Nzc1YzAgLjQ1OS4wMTc5Ljg4NC4wNTc4IDEuMjc5Mi4wOTE0Ljg4NC0uMDU3OCAyLjYzMDYgMy4wNzk1IDQuMDI2IDIuMDkxNi45MzA0IDEwLjI2NyA0LjM2NTMgMjQuNTI2NCAxMC4zMDUgMS4zODAxLjU4MjEgMS43Njg0LjcyIDIuODAzOS43Mi45MjI0LjAxOCAxLjUzMTUtLjEzNDIgMi43OTEyLS43MiAxNC4yNjkyLTUuNzUzMiAyMi40NDkyLTkuMTg4MSAyNC41NC0xMC4zMDUgMy4xMzYzLTEuNjc1MSAzLjEzNjMtNC44NDYxIDMuMTM2My01LjMwNTJWNS41NDQ5QzYwLjkzNTEgMS40OTQzIDU5LjQ2MTEgMCA1NS40Njc0IDBINS40Njc3eiIgZmlsbD0iIzI2YmJmZiI+PC9wYXRoPgogICAgPHBhdGggZD0iTTMyLjY2NjcgMjguMzkzOGwtMS40IDYuODQ4aC0xLjk1NDJMMjggMjguNTc4N1YyM2g0LjY2Njd2NS4zOTM4em0wIDEzLjI3MjlIMjh2LTQuNDk0OGg0LjY2Njd2NC40OTQ4eiIgZmlsbD0iI0ZGRiI+PC9wYXRoPgo8L3N2Zz4K");
          background-repeat: no-repeat;
        }

        > .name {
          color: #ffffffa6;
          font-size: 4.8rem;
          font-weight: bold;
        }

        > .text {
          width: 100%;
          display: block;
          word-wrap: break-word !important;
          word-break: keep-all !important;
          color: #ffffff;
          font-size: 4rem;
          font-weight: bold;
          text-align: center;
          line-height: 1.2;
        }
      }

      > .no-adult {
        > .text {
          color: #ffffffa6;
          font-size: 1.5rem;
          margin: 2rem 0;
        }
      }

      > .birthday-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        > .text {
          font-size: 1.7rem;
          font-weight: bold;
          color: #ffffff;
          letter-spacing: normal;
        }

        > .info {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 0.4rem;

          > .text {
            color: #ffffffa6;
            font-size: 1.5rem;
            font-weight: normal;
          }

          > .link {
            color: #26BBFF;
            text-decoration: underline;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 0.2rem;
            font-size: 1.5rem;
          }
        }

        > .date-wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 1.5rem;
          margin: 1.5rem 0;

          > .select {
            position: relative;
            width: 17rem;
            height: 4.5rem;

            > .btn-select {
              position: relative;
              width: 100%;
              height: 100%;
              padding: 0.5rem 1rem;
              font-size: 1.5rem;
              line-height: 0.875rem;
              background-color: transparent;
              box-sizing: border-box;
              border-radius: 0.625rem;
              cursor: pointer;
              text-align: left;
              color: #ffffff;
              outline: none;
              border: 0.0625rem solid #ffffff;

              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;

              &:focus {
                border: 0.0625rem solid #ffffff;
              }

              &.-selected + .list-member {
                display: block;
                max-height: 21.5rem;
                overflow-y: scroll;
                position: absolute;
                top: 5rem;
                padding: 0.5rem 0.3rem;
                scrollbar-width: thin;
                scrollbar-color: #6f6f71 #b7b7b8;
              }

              > .text {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                > .date {
                  text-align: left;
                }

                > .icon-wrapper {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  gap: 0.2rem;

                  > .bar {
                    position: absolute;
                    height: 70%;
                    width: 0.1rem;
                    background-color: #ffffff;
                    margin: 0 0.0625rem;
                  }

                  > .image {
                    padding-left: 0.7rem;

                    > .icon {
                      fill: #ffffff;
                      width: 2rem;
                      height: 2rem;
                    }
                  }
                }
              }

              &:hover,
              &:active {
                background-color: rgb(31, 31, 32);

                .icon {
                  transform: rotate(180deg);
                  transform-origin: center;
                  transition-property: transform;
                  transition-duration: 0.1s;
                  transition-timing-function: ease;
                }
              }
            }

            > .list-member {
              list-style-type: none;
              display: none;
              position: absolute;
              width: 100%;
              top: 3.2rem;
              left: 0;
              padding: 0;
              box-sizing: border-box;
              box-shadow: 0.25rem 0.25rem 0.875rem #00000026;
              border-radius: 0.6rem;
              background-color: #303034;
              z-index: 9;

              > li {
                width: 100%;
                height: 4.2rem;
                padding: 0.2rem 0.5rem;
                box-sizing: border-box;
                color: #Ffffff;

                > button {
                  width: 100%;
                  padding: 0.7rem 1rem;
                  border: none;
                  background-color: transparent;
                  border-radius: 0.6rem;
                  cursor: pointer;
                  text-align: left;
                  color: #ffffff;
                  font-size: 1.5rem;

                  white-space: nowrap;
                  text-overflow: ellipsis;
                  overflow: hidden;

                  &:hover,
                  &:focus {
                    background-color: #656565;
                  }
                }
              }
            }
          }

        }
      }

      > .button-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;

        > .link {
          border: 0.001rem solid hsla(0, 0%, 100%, 0.35);
          border-radius: 0.8rem;
          display: flex;
          flex-direction: row;
          align-items: center;

          > .text {
            padding: 1.5rem 2rem;
            color: #ffffff;
            font-size: 1.4rem;
            letter-spacing: 0.08rem;
          }

          &:hover {
            background-color: #343437;
          }
        }

        > .continue {
          outline: none;
          border: none;
          background-color: #222226;
          border-radius: 0.8rem;
          cursor: not-allowed;
          display: flex;
          flex-direction: row;
          align-items: center;

          > .text {
            padding: 1.5rem 2rem;
            color: #454548;
            font-size: 1.4rem;
            letter-spacing: 0.08rem;
          }

          &.-selected {
            outline: none;
            border: none;
            background-color: #26BBFF;
            border-radius: 0.8rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;

            > .text {
              padding: 1.5rem 2rem;
              color: #000000;
              font-size: 1.4rem;
              letter-spacing: 0.08rem;
            }

            &:hover,
            &:active {
              background-color: #72d3ff;
            }
          }
        }
      }
    }

    &.-remove {
      display: none;
    }
  }

  > .deleteReview {
    width: 100%;
    height: auto;
    display: none;

    &.--visible {
      display: flex;
    }

    > .deleteCover {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 998;
      background-color: #101014;
      position: fixed;
    }

    > .deleteDialog {
      position: fixed;
      z-index: 999;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #18181c;
      border: 0.0625rem solid #444444;
      padding: 1rem;
      border-radius: 0.5rem;

      > .content {
        padding: 4rem 7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;

        > .text {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 2rem;
          padding-top: 1rem;

          > .main {
            font-size: 1.6rem;
            font-weight: 100;
            color: #ffffff;
          }

          > .line {
            height: 0.0625rem;
            width: 10rem;
            background-color: #cccccc;
          }

          > .sub {
            font-size: 1.4rem;
            font-weight: normal;
            color: #cccccc;
          }
        }

        > .button-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 2rem;

          > button {
            outline: none;
            border: none;
            border-radius: 0.25rem;
            padding: 1rem 2rem;
            color: #ffffff;
            font-weight: bold;

            &[name="DeleteConfirm"] {
              background-color: #2196f3;

              &:hover {
                background-color: #1e81cf;
              }

              &:active {
                background-color: #1668a8;
              }
            }

            &[name="DeleteCancel"] {
              background-color: #a0a0a0;

              &:hover {
                background-color: #8a8a8a;
              }

              &:active {
                background-color: #6e6e6e;
              }
            }
          }
        }
      }
    }
  }


  > .mainSection {
    width: 75%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4rem;
    flex-grow: 1;

    > .gameArea {
      width: 100%;
      height: auto;
      margin-bottom: 6rem;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 2rem;

      > .gameName {
        margin-top: 2rem;
        padding-bottom: 1rem;
        border-bottom: 0.3rem solid #81becf;

        > h1 {
          font-size: 4rem;
          font-weight: bold;
          color: #ffffff;
        }
      }

      > .game-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;

        > .game-description {
          width: 100%;
          height: auto;
          min-height: 100vh;
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 2rem;

          > .main {
            width: 70%;
            height: auto;
            flex-grow: 1;

            > .media-container {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              gap: 1rem;

              > .main-image {
                width: 100%;
                height: 100%;
                border-radius: 2rem;
                overflow: hidden;
                position: relative;

                > .slider-wrapper {
                  display: flex;
                  width: 100%;
                  height: 100%;
                  list-style: none;
                  padding: 0;
                  margin: 0;
                  transition-property: transform;
                  transition-duration: 0.5s;
                  -webkit-transition-timing-function: ease-in-out;

                  > li {
                    flex-shrink: 0;
                    width: 100%;
                    height: 100%;

                    > img {
                      width: 100%;
                      height: 100%;
                      user-select: none;
                      border-radius: 2rem;
                      object-fit: contain;
                      object-position: center;
                    }
                  }
                }

                > .arrow-container {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: space-between;
                  opacity: 1;

                  > .side {
                    width: 6rem;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    > button {
                      border: none;
                      outline: none;
                      width: 4rem;
                      height: 4.5rem;
                      padding: 0;
                      margin: 0.5rem;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      background: transparent;
                      box-sizing: border-box;
                      cursor: pointer;
                      border-radius: 0.3rem;

                      > svg {
                        width: 3.2rem;
                        height: 3.2rem;
                      }

                      > svg path {
                        stroke: #ffffff;
                      }

                      &:active {
                        border: 0.15rem solid #ffffff;
                      }
                    }

                    &.left {
                      transform: translateX(-100%);
                      background: linear-gradient(270deg, rgba(11, 11, 11, 0) 0%, rgba(11, 11, 11, 0.4) 100%);
                      transition: transform 0.35s cubic-bezier(1, 0.09, 0.03, 0.93), opacity 0.35s;
                    }

                    &.right {
                      transform: translateX(100%);
                      background: linear-gradient(270deg, rgba(11, 11, 11, 0.4) 0%, rgba(11, 11, 11, 0) 100%);
                      transition: transform 0.35s cubic-bezier(1, 0.09, 0.03, 0.93), opacity 0.35s;
                    }
                  }
                }

                &:hover {
                  .arrow-container {
                    opacity: 1;

                    > .side {
                      &.left,
                      &.right {
                        transform: translateX(0);
                      }
                    }
                  }
                }
              }


              > .image-container {
                width: 100%;
                height: 10rem;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                > .image-wrapper {
                  width: 90%;
                  height: 100%;

                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: center;
                  gap: 1rem;

                  > .image {
                    width: 20%;
                    height: 90%;
                    border-radius: 1rem;
                    overflow: hidden;

                    > img {
                      width: 100%;
                      height: 100%;

                      object-position: center;
                      object-fit: cover;

                      &:hover {
                        filter: brightness(1.1);
                      }
                    }

                    &.-selected {
                      border: 0.0625rem solid #ffffff;
                    }
                  }

                }
              }
            }

            > .summary {
              width: 100%;
              height: auto;
              margin: 4rem 0;
              line-height: 1.6;
              word-wrap: break-word;
              overflow-wrap: break-word;
              user-select: none;


              > .text {
                color: #ffffff;
                font-size: 1.65rem;
              }
            }

            > .attribute-container {
              width: 100%;
              height: auto;

              display: flex;
              flex-direction: row;
              align-items: flex-start;
              justify-content: flex-start;
              gap: 2rem;

              > .genre {
                width: 49%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 1rem;
                border-right: 0.1rem solid #ffffff26;

                > .title {
                  color: #ffffffa6;
                }

                > .genre-container {
                  > .genre-wrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 0.7rem;

                    .link {
                      color: #ffffff;
                      background-color: #FFFFFF26;
                      padding: 0.5rem 1rem;
                      border-radius: 0.5rem;

                      &:hover {
                        background-color: #737171;
                      }
                    }
                  }
                }
              }

              > .feature {
                width: 48%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 1rem;

                > .title {
                  color: #ffffffa6;
                }

                > .feature-container {
                  > .feature-wrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 0.7rem;

                    .text {
                      color: #ffffff;
                      background-color: #FFFFFF26;
                      padding: 0.5rem 1rem;
                      border-radius: 0.5rem;

                      &:hover {
                        background-color: #737171;
                      }
                    }
                  }
                }
              }
            }

            > .description-container {
              width: 100%;
              height: auto;
              margin-top: 4rem;
              margin-bottom: 4rem;
              position: relative;

              > .description-wrapper {
                max-height: 400px;
                overflow: hidden;
                transition-property: max-height;
                transition-duration: 0.3s;
                transition-timing-function: ease;

                &.expanded {
                  max-height: none;
                }

                > .description {
                  margin-top: 0.5rem;

                  h1 {
                    font-size: 2.6rem;
                    font-weight: bold;
                    line-height: 1.6;
                    color: #ffffff;
                  }

                  h2 {
                    font-size: 2.4rem;
                    font-weight: bold;
                    line-height: 1.6;
                    color: #ffffff;
                  }

                  h3 {
                    font-size: 2.2rem;
                    font-weight: bold;
                    line-height: 1.6;
                    color: #ffffff;
                  }

                  h4 {
                    font-size: 2rem;
                    font-weight: bold;
                    line-height: 1.6;
                    color: #ffffff;
                  }

                  img {
                    width: 100%;
                    margin: 0.8rem 0;
                  }

                  p {
                    margin: 1.5rem 0;
                    color: #ffffffa6;
                    font-size: 1.6rem;
                    line-height: 1.6;
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                  }
                }
              }

              .toggle-button {
                width: 100%;
                margin-top: 1rem;
                background-color: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                position: relative;

                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.3rem;

                > .button-text {
                  font-size: 1.6rem;
                  color: #26BBFF;
                }

                > .icon {
                  fill: #26BBFF;
                  transition-property: transform;
                  transition-duration: 0.3s;
                  transition-timing-function: ease;
                }

                &.expanded {
                  .icon {
                    transform: rotate(180deg);
                  }

                  .shadow-box {
                    display: none;
                  }
                }

                &:hover {
                  > .button-text {
                    text-decoration: underline;
                    text-underline-color: #26BBFF;
                    text-underline-offset: 4px;
                  }
                }

                > .shadow-box {
                  width: 100%;
                  position: absolute;
                  background: linear-gradient(rgba(16, 16, 20, 0), rgb(16, 16, 20));
                  top: -100px;
                  height: 100px;
                }
              }
            }

            > .achievement-container {
              width: 100%;
              height: auto;
              margin: 5rem 0;

              > .title {
                color: #ffffff;
                font-size: 2.1rem;
                font-weight: bold;
              }

              > .achievement-wrapper {
                width: 100%;
                height: auto;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 1.5rem;

                > .achievement {
                  width: calc(100% / 5);
                  height: auto;
                  margin-top: 1.5rem;

                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  gap: 1.5rem;

                  > .image {
                    width: 100%;
                    height: auto;
                    max-height: 14rem;
                    max-width: 14rem;
                    aspect-ratio: 1 / 1;
                    overflow: hidden;

                    > img {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                      object-position: center;
                    }
                  }

                  > .name {
                    width: 100%;
                    color: #ffffff;
                    font-size: 1.6rem;
                    font-weight: bold;
                    letter-spacing: 0.2px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  }

                  > .point {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 0.3rem;

                    > .icon {
                      width: 1.6rem;
                      height: 1.6rem;
                      color: rgb(255, 232, 60);
                    }

                    > .number {
                      color: #ffffffa6;
                    }
                  }
                }
              }
            }

            > .category-container {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              gap: 1.5rem;

              > .title {
                color: #ffffff;
                font-size: 2.1rem;
                font-weight: bold;
              }

              > .text {
                color: #ffffffa6;
                font-size: 1.5rem;
                font-weight: normal;
              }

              > .category-wrapper {
                width: 100%;
                height: auto;
                position: relative;
                margin-top: 2rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-gap: 1.8rem;

                > .category {
                  width: auto;
                  height: auto;
                  background-color: #202024;
                  border-radius: 1rem;

                  > .feature {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    padding: 4rem 6rem;

                    > .logo {
                      margin-bottom: 0.5rem;

                      > img {
                        width: 6rem;
                        height: 6rem;
                      }
                    }

                    > .common {
                      color: #ffffffa6;
                    }

                    > .individual {
                      color: #ffffff;
                      font-size: 1.7rem;
                      font-weight: bold;
                      line-height: 1.3;
                      white-space: normal;
                      word-wrap: break-word;
                      overflow-wrap: break-word;
                      word-break: keep-all;
                      text-align: center;
                    }
                  }
                }
              }
            }

            > .requirements-container {
              width: 100%;
              height: auto;
              margin: 4rem 0;

              > .title {
                color: #ffffff;
                font-size: 2.1rem;
                font-weight: bold;
              }

              > .requirements-wrapper {
                padding: 3rem;
                margin: 3rem 0;
                background-color: #202024;
                border-radius: 1.2rem;
                color: #ffffff;

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 1rem;

                > .windows {
                  font-size: 1.8rem;
                  color: #ffffff;
                  outline: none;
                  padding: 0.5rem;
                  border: none;
                  border-bottom: 0.3rem solid #81becf;
                }

                > .up {
                  width: 100%;


                  > .requirement {
                    width: 100%;
                    margin-top: 2rem;

                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 2.5rem;

                    > .row {
                      width: 100%;

                      display: flex;
                      flex-direction: row;
                      align-items: flex-start;
                      justify-content: flex-start;
                      gap: 1rem;

                      .area {
                        width: 50%;

                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;
                        gap: 1rem;

                        &.title {
                          font-size: 1.7rem;
                          color: #ffffff;
                          font-weight: bold;
                        }

                        > .name {
                          color: #ffffffa6;
                          font-size: 1.5rem;
                        }

                        > .value {
                          color: #ffffff;
                          font-size: 1.6rem;
                          line-height: 1.2;
                        }

                      }
                    }
                  }

                }

                > .down {
                  margin-top: 4rem;

                  > .language {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 1rem;

                    > .title {
                      color: #ffffffa6;
                      font-size: 1.5rem;
                    }

                    > .value {
                      color: #ffffff;
                      font-size: 1.6rem;
                    }
                  }
                }
              }
            }
          }

          > .sideBar {
            width: 30%;
            height: auto;
            position: sticky;
            top: 0;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;

            > .bar-nav {
              width: 100%;

              > .logo-wrapper {
                width: 100%;
                height: auto;
                margin-top: 1rem;
                user-select: none;

                display: flex;
                justify-content: center;
                align-items: center;

                > img {
                  width: 90%;
                  height: auto;
                  padding: 1.5rem;
                  background-color: transparent;
                  user-select: none;

                  object-fit: contain;
                  object-position: center;
                }
              }

              > .gamerating-wrapper {
                width: 100%;
                height: 8rem;
                border-radius: 1rem;
                border: 0.0625rem solid #ffffff26;
                margin-top: 2rem;
                position: relative;
                user-select: none;

                &:hover {
                  border: 0.1rem solid #ffffff;
                }

                > .gameRating {
                  width: 100%;
                  height: 100%;
                  padding: 1rem;
                  position: absolute;

                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: flex-start;
                  gap: 1.5rem;

                  > .logo-wrapper {
                    max-width: 46px;

                    > img {
                      width: 100%;
                    }
                  }

                  > .text-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 0.8rem;

                    > .main {
                      color: #ffffff;
                      font-weight: bold;
                    }

                    > .sub {
                      color: #ffffffa5;
                      font-size: 1.2rem;
                    }
                  }
                }
              }

              > .type-wrapper {
                height: auto;
                margin: 2rem 0;

                > .basic {
                  background-color: #ffffff26;
                  color: #ffffff;
                  border: none;
                  outline: none;
                  border-radius: 0.5rem;
                  padding: 0.5rem 1rem;
                  pointer-events: none;

                  > .text {
                    font-size: 1.3rem;
                  }
                }
              }

              > .price-wrapper {
                width: 100%;
                height: auto;
                margin: 1.5rem 0;

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 2rem;

                > .free {
                  font-size: 1.6rem;
                  font-weight: bold;
                  color: #ffffff;
                }

                > .notice {
                  font-size: 1.3rem;
                  font-weight: normal;
                  color: #ffffffa6;
                }

                > .price-info {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  gap: 2rem;

                  > .prices {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 1.5rem;

                    > .sale-percentage {
                      background-color: #26BBFF;
                      border-radius: 1rem;
                      padding: 0.4rem 0.8rem;

                      > .percentage {
                        font-size: 1.25rem;
                        color: #000000;
                        letter-spacing: normal;
                      }
                    }

                    > .origin-price {
                      > .price {
                        font-size: 1.5rem;
                        color: #ffffffa6;
                      }
                    }

                    > .sale-price {
                      > .price {
                        font-size: 1.6rem;
                        font-weight: bold;
                        color: #ffffff;
                      }
                    }
                  }

                  > .period {
                    > .date {
                      font-size: 1.3rem;
                      color: #ffffffa6;
                    }
                  }

                  > .originPrice {
                    font-size: 1.6rem;
                    font-weight: bold;
                    color: #ffffff;
                  }
                }
              }

              > .button-container {
                width: 100%;
                height: auto;
                margin: 2rem 0;

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 1.5rem;

                > .button {
                  width: 100%;
                  outline: none;
                  border: none;
                  border-radius: 1rem;

                  &.buy {
                    background-color: #26BBFF;
                    padding: 1.6rem;

                    > .text {
                      font-size: 1.4rem;
                      color: #000000;
                      letter-spacing: normal;
                    }

                    &:hover {
                      background-color: #72d3ff;
                    }
                  }

                  &.buy-ap {
                    background-color: lighten(#26BBFF, 20%);
                    opacity: 0.5;
                    padding: 1.6rem;
                    cursor: not-allowed;
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    justify-content: center;
                    text-align: center;

                    > svg {
                      width: 20px;
                      height: 20px;
                    }
                  }

                  &.cart,
                  &.wishlist {
                    background-color: #ffffff26;
                    padding: 1.6rem;

                    > .text {
                      font-size: 1.4rem;
                      color: #ffffff;
                      letter-spacing: normal;
                    }

                    &:hover {
                      background-color: #636366;
                    }
                  }


                }
              }

              > .info-wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;

                > .info {
                  border-bottom: 0.0625rem solid #ffffff26;
                  padding: 1rem 0;

                  > .text-wrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin: 1rem 0;

                    > .title {
                      color: #ffffffa6;
                    }

                    > .value {
                      color: #ffffff;
                      font-size: 1.5rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    > .comment {
      width: 100%;
      height: auto;
      margin: 4rem 0;

      > .commentArea {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        > .mainTitle {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 1.5rem;

          > .title {
            color: #ffffff;
            font-size: 2.1rem;
            font-weight: bold;
          }

          > .text {
            color: #ffffffa6;
            font-size: 1.5rem;
            font-weight: normal;
          }
        }

        > .comment-container {
          width: 100%;
          height: auto;
          margin: 2rem 0;
          padding: 2rem;
          background-color: #202024;
          border-radius: 1rem;

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          > .text {
            font-size: 2rem;
            font-weight: bold;
            margin: 1rem 0 2rem 0;
          }

          > #commentForm {
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 1rem;

            > .review-write {
              width: 100%;
              height: auto;

              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              gap: 2rem;

              > .star-review {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                gap: 1rem;

                > .title {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: flex-start;
                  gap: 1rem;

                  > .main {
                    font-size: 1.5rem;
                    color: #ffffff;
                    font-weight: bold;
                  }

                  > .sub {
                    font-size: 1.3rem;
                    color: #ffffffa6;
                  }

                }

                > .star-rating {
                  display: flex;
                  flex-direction: row-reverse;
                  font-size: 2.5em;
                  justify-content: space-around;
                  text-align: center;
                  width: 6em;

                  input {
                    display: none;
                  }

                  label {
                    color: #ccc;
                    cursor: pointer;

                    &:hover,
                    &:hover ~ label {
                      color: #ffcc00ff;
                    }
                  }

                  :checked ~ label {
                    color: #ffcc00ff;
                  }

                  > .star {
                    text-shadow: 0 0 2px #f9d71c,
                    0 0 2px #f6c700;;
                  }
                }
              }


              > .label {
                width: 100%;
                height: auto;
                $border_color: #ffffff26;
                $color: #a0a0a0;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: flex-start;
                gap: 1.3rem;
                margin-top: 1rem;

                > .text {
                  font-size: 1.5rem;
                  color: #ffffff;
                  font-weight: bold;
                }

                > .field {
                  color: #a0a0a0;
                  height: 3.5rem;
                  background-color: #202024;
                  border: 0.0625rem solid #ffffff26;
                  border-radius: 0.25rem;
                  flex-grow: 1;
                  resize: none;
                  padding: 0.5rem 0.7rem;
                  min-height: 10rem;
                  width: 100%;
                  font-size: 1.4rem;
                  letter-spacing: normal;
                  line-height: 2.3rem;
                }
              }
            }

            > .button-container {
              width: 100%;
              display: flex;
              flex-direction: row;

              > .spring {
                flex-grow: 1;
              }

              > .submit-button {
                $background_color: #2196f3;
                background-color: $background_color;
                border-radius: 0.5rem;
                cursor: pointer;
                color: #000000;
                outline: none;
                border: none;

                padding: 0.8rem 2rem;
                text-decoration: none;
                user-select: none;
                text-align: center;
                font-size: 1.4rem;

                &:hover {
                  background-color: lighten($background_color, 10%);
                }

                &:active {
                  background-color: lighten($background_color, 20%);
                }
              }
            }
          }
        }

        > .line {
          width: 100%;
          height: 0.0625rem;
          background-color: #ffffff26;
          margin-top: 3rem;
        }

        > .review-container {
          width: 100%;
          height: auto;

          > .list {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 1rem;

            > .nothing {
              width: 100%;
              color: #ffffff;
              font-size: 3rem;
              font-weight: bold;
              text-align: center;
              padding: 5rem 0;
            }

            > .item {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              gap: 1rem;
              padding: 3rem 0;

              border-bottom: 0.0625rem solid #ffffff26;

              > .top {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                > .name-wrapper {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: flex-start;
                  gap: 0.4rem;

                  > .nickname {
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: #ffffff;
                  }

                  > .email {
                    font-size: 1.35rem;
                    font-weight: normal;
                    color: #ffffff90;
                  }
                }

                > .spring {
                  flex-grow: 1;
                }

                > .action-container {
                  color: #9e9e9e;
                  font-weight: 500;

                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: flex-start;
                  gap: 0.8rem;

                  input {
                    display: none;
                  }

                  > .action {
                    font-size: 1.4rem;
                    border-bottom: 0.15rem solid transparent;
                    cursor: pointer;
                    padding-bottom: 0.15rem;

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    &:has([type="radio"]:checked) {
                      border-bottom: 0.15rem solid #ffffff;
                      color: #ffffff;
                      font-weight: 500;
                    }

                    &:hover {
                      border-bottom: 0.15rem solid #dbdbdb;
                    }
                  }

                  > button {
                    font: inherit;
                    color: #9e9e9e;
                    font-weight: 500;
                    border: none;
                    outline: none;
                    padding-bottom: 0.15rem;

                  }
                }
              }

              > .star-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 0.3rem;

                > .star {
                  font-size: 2rem;
                  color: #ffcc00ff;
                  text-shadow: 0 0 2px #f9d71c,
                  0 0 2px #f6c700;
                }
              }

              > .content-wrapper {
                > .content {
                  color: #ffffffa6;
                  font-size: 1.6rem;
                }
              }

              > .date-wrapper {
                > .datetime {
                  font-size: 1.2rem;
                  color: #999999;
                }
              }

              > .action-container:has([type="radio"][value="modify"]:checked) ~ .form.modify {
                display: flex;
              }

              > .modify {
                display: none;
                width: 95%;
                height: auto;
                background-color: #202024;
                padding: 2rem;
                border-radius: 1rem;
                margin: 1rem 2rem 0 2rem;

                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 1rem;

                > .review-write {
                  width: 100%;
                  height: auto;

                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  gap: 1.5rem;

                  > .text {
                    color: #ffffff;
                    font-size: 1.8rem;
                    font-weight: bold;
                  }

                  > .star-review {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 0.7rem;

                    > .title {
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      justify-content: flex-start;
                      gap: 0.7rem;

                      > .main {
                        font-size: 1.4rem;
                        color: #ffffff;
                        font-weight: bold;
                      }

                      > .sub {
                        font-size: 1rem;
                        color: #ffffffa6;
                      }

                    }

                    > .star-rating {
                      display: flex;
                      flex-direction: row-reverse;
                      font-size: 2em;
                      text-align: center;
                      gap: 0.8rem;

                      input {
                        display: none;
                      }

                      label {
                        color: #ccc;
                        cursor: pointer;

                        &:hover,
                        &:hover ~ label {
                          color: #ffcc00ff;
                        }
                      }

                      :checked ~ label {
                        color: #ffcc00ff;
                      }

                      > .star {
                        text-shadow: 0 0 2px #f9d71c,
                        0 0 2px #f6c700;;
                      }
                    }
                  }


                  > .label {
                    width: 100%;
                    height: auto;
                    $border_color: #ffffff26;
                    $color: #a0a0a0;
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    justify-content: flex-start;
                    gap: 1.3rem;
                    margin-top: 1rem;

                    > .text {
                      font-size: 1.4rem;
                      color: #ffffff;
                      font-weight: bold;
                    }

                    > .field {
                      color: #a0a0a0;
                      height: 3rem;
                      background-color: #202024;
                      border: 0.0625rem solid #ffffff26;
                      border-radius: 0.25rem;
                      flex-grow: 1;
                      resize: none;
                      padding: 0.5rem 0.7rem;
                      min-height: 10rem;
                      width: 100%;
                      font-size: 1.2rem;
                      letter-spacing: normal;
                      line-height: 2rem;
                    }
                  }
                }

                > .button-container {
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: flex-start;
                  gap: 0.5rem;
                  margin-top: 1rem;

                  > .spring {
                    flex-grow: 1;
                  }

                  > button {
                    border: none;
                    outline: none;
                    padding: 0.5rem 1rem;
                    border-radius: 0.5rem;

                    &.modify {
                      $background_color: #2196f3;
                      background-color: $background_color;

                      &:hover {
                        background-color: lighten($background_color, 10%);
                      }

                      &:active {
                        background-color: lighten($background_color, 20%);
                      }
                    }

                    &.cancel {
                      $background__color: #a0a0a0;
                      background-color: $background__color;

                      &:hover {
                        background-color: darken($background__color, 10%);
                      }

                      &:active {
                        background-color: darken($background__color, 20%);
                      }
                    }
                  }
                }

                &.-selected {
                  display: flex;
                }
              }
            }
          }

          > #pagination {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: center;
            gap: 0.3rem;
            margin-top: 1.5rem;


            > button {
              width: 3rem;
              aspect-ratio: 1/1;
              outline: none;
              border: none;
              border-radius: 999rem;
              font-size: 1.5rem;
              color: #ffffff90;

              &:hover {
                background-color: #ffffff26;
              }

              &:active {
                background-color: #ffffff26;
              }

              &.-selected {
                color: #202024;
                background-color: #2196f3;
              }
            }
          }
        }
      }
    }
  }
}

/* 결재 페이지 모달창 */
#pay-modal {
  display: none; /* 초기 상태에서는 보이지 않음 */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  opacity: 1;
  z-index: 100000;

  /* 모달창 콘텐츠 */
  > .modal-content {
    background: #1e1e1e;
    border: 2px solid #4d4d4d;
    height: auto;
    max-height: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 100vw;
    z-index: 999;

    > iframe {
      width: 100%;
      height: 100%;
      border: none;
    }

    /* 닫기 버튼 */
    > .close-modal-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #ff4747;
      color: white;
      font-size: 20px;
      border: none;
      border-radius: 50%;
      padding: 5px 10px;
      cursor: pointer;

      &:hover {
        background-color: #cc0000;
      }
    }
  }
}

