<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>장바구니</title>
    <link rel="shortcut icon" th:href="@{'assets/images/favicon.png'}">
    <link rel="stylesheet" th:href="@{'/purchase/assets/styles/cart.css'}">
    <link rel="stylesheet" th:href="@{'/assets/styles/common.css'}">
</head>
<body>
    <!--헤더 추가 예정 -->
    <div class="header"><!--헤더 및 동일 모양, 나중에 추가--></div>
    <main class="cart-main" id="cart-main">
        <section id="cart-view">
            <div class="cart-view-wrapper">
                <div class="cart-header">
                    <h1 class="title">나의 장바구니</h1>
                </div>
                <div class="cart-container">
                    <div class="cart-wrapper">
                        <div class="cart-list">
                            <div class="cart">
                                <div class="img-container">
                                    <a class="link-image" aria-label="Dragon Age" href="#">
                                        <img class="image" alt="표지이미지" src="https://cdn1.epicgames.com/offer/4583306dbdc34076ac7ac2bf19bf7096/EGS_DragonAgeTheVeilguard_Bioware_S2_1200x1600-4ec58c5cbb99ee7b1bd41e9f3d3c6c81_1200x1600-4ec58c5cbb99ee7b1bd41e9f3d3c6c81?resize=1&w=360&h=480&quality=medium">
                                    </a>
                                    <span class="logo-wrapper" aria-hidden="true">
                                    <ul class="logo-list">
                                        <li class="logo">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <title>Windows</title>
                                    <g>
                                        <path fill="currentColor" d="M0.175 256l-0.175-156.037 192-26.072v182.109zM224 69.241l255.936-37.241v224h-255.936zM479.999 288l-0.063 224-255.936-36.008v-187.992zM192 471.918l-191.844-26.297-0.010-157.621h191.854z"></path>
                                    </g>
                                </svg>
                                        </li>
                                    </ul>
                                </span>
                                </div>
                                <div class="title-container">
                                    <div class="tag-wrapper">
                                        <div class="tag-box">
                                            <span class="tag">기본 게임</span>
                                        </div>
                                    </div>
                                    <a class="title" href="#">Dragon Age™: The Veilguard</a>
                                </div>
                                <div class="price-container">
                                    <span class="price">₩66,000</span>
                                </div>
                                <div class="ratings-container">
                                    <a href="https://www.globalratings.com/ratingsguide.aspx#grac" class="link" referrerpolicy="unsafe-url" rel="noopener noreferrer nofollow external" target="_blank">
                                        <div class="link-wrapper">
                                            <div class="img-wrapper">
                                                <img alt="청소년이용불가" src="https://cdn1.epicgames.com/salesEvent/salesEvent/GRAC_19_272_272x272-65537df11aa656d20950e22b4600b8ba">
                                            </div>
                                            <div class="content-wrapper">
                                                <span class="title">청소년이용불가</span>
                                                <span class="subtitle">언어의 부적절성, 폭력성, 선정성</span>
                                            </div>
                                        </div>

                                    </a>
                                </div>
                                <div class="cartRow">
                                    <div class="refund-container">
                                        <span class="text">셀프 환불</span>
                                        <div class="icon-wrapper">
                                            <span class="info_text">환불은 72시간 이내에 가능합니다.</span>
                                            <img src="/purchase/assets/images/help-24.png" height="24"
                                                 width="24"/>
                                        </div>
                                    </div>
                                    <div class="button-container">
                                        <button class="cart-btn -remove">제거</button>
                                        <button class="cart-btn -wishlist">위시리스트로 이동</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-sidebar">
                        <div class="cart-sidebar-wrapper">
                            <span class="title">게임 및 앱 합계</span>
                            <div class="cart-price -standard">
                                <span class="title">가격</span>
                                <span class="content">₩86,700</span>
                            </div>
                            <div class="cart-price -sale">
                                <span class="title">할인 금액</span>
                                <span class="content">-₩21,220</span>
                            </div>
                            <div class="cart-price -taxes">
                                <span class="title">세금</span>
                                <span class="content">결제 시 정산됨</span>
                            </div>
                            <div class="cart-price -total">
                                <span class="title">소계</span>
                                <span class="content">₩65,480</span>
                            </div>
                            <button class="cart-purchase-btn" type="button">구매</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>