<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Epic Games Purchase - Payment Methods</title>
    <link rel="shortcut icon" th:href="@{'/assets/images/favicon.png'}">
    <link rel="stylesheet" th:href="@{'/purchase/assets/styles/pay.css'}">
    <link rel="stylesheet" th:href="@{'/assets/styles/common.css'}">
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=[[${kakaoAppKey}]]"></script>
    <script defer th:src="@{'/purchase/assets/scripts/purchase_common.js'}"></script>
    <script defer th:src="@{'/purchase/assets/scripts/pay.js'}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>
<body>
<!--    결재 관련    -->
<script th:inline="javascript">
    const userPhone = [[${user.getPhone().toString()}]];
    const userPhoneHead = userPhone.substring(0, 3);
    const userPhoneMiddle = userPhone.slice(3, -4);
    const userPhoneTail = userPhone.slice(-4);
    const userEmail = [[${user.getEmail().toString()}]];
    const userName = [[${user.getName().toString()}]];
    const userAddr = [[${user.getAddr().toString()}]];
    const impNumber = [[${impNumber.toString()}]];
    const user = {
        buyer_email: userEmail,
        buyer_name: userName,
        buyer_tel: `${userPhoneHead}-${userPhoneMiddle}-${userPhoneTail}`,
        buyer_addr: userAddr,
    }
</script>
<section class="pay-page">
    <div class="pay-container">
        <section id="loading-container">
            <div id="loading" class="loading-message -visible">
                <div class="loading-close-btn-container">
                    <div class="loading-close" role="button" onclick="attemptCancel();">×</div>
                </div>
                <img src="https://static-assets-prod.epicgames.com/payment-web/static/assets/logo-epic-2de7f988e4229d74524cbe146a320be7.png" loading="lazy">
                <span class="text -loading">
                <span class="_text">주문을 불러오는 중</span>
                    <img class="_img" src="/purchase/assets/images/dotsLoading.gif">
                </span>
            </div>
            <div id="loading-success" class="loading-message">
                <div class="loading-close-btn-container">
                    <div class="loading-close" role="button" onclick="attemptCancel();">×</div>
                </div>
                <img src="https://static-assets-prod.epicgames.com/payment-web/static/assets/logo-epic-2de7f988e4229d74524cbe146a320be7.png">
                <span class="text -loading">
                    <span class="_text">주문해 주셔서 감사합니다.</span>
                    <img class="_img" src="/purchase/assets/images/dotsLoading.gif">
                </span>
            </div>
            <div id="network-error" class="loading-message">
                <div class="loading-close-btn-container">
                    <div class="loading-close" role="button" onclick="attemptCancel();">×</div>
                </div>
                <img src="https://static-assets-prod.epicgames.com/payment-web/static/assets/logo-epic-2de7f988e4229d74524cbe146a320be7.png">
                <span class="text">죄송합니다. 페이지를 불러오는 데 문제가 있습니다.</span>
                <span class="text">다시 시도하세요.</span>
            </div>
            <div id="network-slow" class="loading-message">
                <div class="loading-close-btn-container">
                    <div class="loading-close" role="button" onclick="attemptCancel();">×</div>
                </div>
                <div class="spinner"></div>
                <span class="text">콘텐츠를 로드하려는 중 인터넷 속도가 느린 것이 감지되었습니다.</span>
            </div>
        </section>
        <section id="main-container" class="payment-purchase-container" th:if="${carts != null || game != null}">
            <button class="payment-purchase-close" aria-label="close">
                <svg class="payment-icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 6.02369L17.9763 5L12 10.9835L6.02369 5L5 6.02369L10.9835 12L5 17.9763L6.02369 19L12 13.0165L17.9763 19L19 17.9763L13.0165 12L19 6.02369Z"></path>
                </svg>
            </button>
            <div class="payment-content-container" id="payment-content-container">
                <div class="payment-title">
                    <h1 class="title">결제</h1>
                    <div class="account-info">
                        <div class="account-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                                 class="payment-icon">
                                <path d="M8.25205 24C9.39178 24 10.6411 24 11.4082 24C11.6712 24 11.8904 24 12 24C12.1096 24 12.3288 24 12.5918 24C13.3589 24 14.6082 24 15.7479 24C19.0795 24 20 22.7872 20 21.5277C20 19.7551 15.0904 17.4694 15.0904 15.8601C15.0904 12.9213 18.3562 11.6851 18.3562 7.23032C18.4 3.24198 15.6384 0 12.2411 0C12.1534 0 11.8466 0 11.7589 0C8.38356 0 5.62192 3.24198 5.62192 7.25364C5.62192 11.7318 8.88767 12.9446 8.88767 15.8834C8.90959 17.4927 4 19.7551 4 21.551C4 22.7872 4.94247 24 8.25205 24Z"></path>
                            </svg>
                        </div>
                        <span class="account-name" th:text="${#strings.substringBefore(user.getEmail(), '@')}"></span>
                    </div>
                </div>
                <div class="payment-methods">
                    <div class="payment-methods-container" th:if="${totalPrice > 0}">
                        <h2 class="payment-methods-title">
                            <span>지불 방법</span>
                        </h2>
                        <span class="payment-methods-subtitle">* 더 많은 결제수단이 향후 추가될 예정입니다.</span>
                        <div class="payment-method" tabindex="0">
                            <div class="payment-method-trigger" tabindex="-1">
                                <div class="payment-method-content">
                                    <label class="payment-radio --active">
                                        <input name="payment" class="payment-radio-input" type="radio" tabindex="-1" aria-label="KAKAOPAY" checked>
                                        <div class="payment-radio-inner">
                                            <div class="img-wrapper">
                                                <img th:src="@{'/purchase/assets/images/kakaopay.png'}"/>
                                                <span class="text">카카오페이 결제</span>
                                            </div>
                                            <div class="payment-tpp-info">구매를 안전하게 완료하기 위해 KakaoPay(으)로 이동합니다.</div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="payment-methods-container" th:if="${totalPrice == 0}">
                        <h2 class="payment-methods-title">
                            <span>검토 및 주문하기</span>
                        </h2>
                        <span class="payment-methods-subtitle -free">정보를 확인하고 주문하기를 클릭하세요</span>
                    </div>
                </div>
            </div>
            <div class="payment-summaries">
                <h2 class="title">주문 요약</h2>
                <div class="pay-summaries-container" id="pay-summaries-container" th:if="${carts != null && carts.length > 0}">
                    <div class="pay-content" th:each="cart : ${carts}">
                        <div hidden="hidden" class="info-data">
                            <span class="cart-index" th:text="${cart.getCart().getIndex()}"></span>
                            <span class="game-index" th:text="${cart.getGame().getIndex()}"></span>
                            <span class="user-email" th:text="${cart.getCart().getUserEmail()}"></span>
                        </div>
                        <div class="pay-content-info">
                            <h2 class="pay-title" th:text="${cart.getGame().getName()}"></h2>
                            <p class="pay-author" th:text="${cart.getGame().getCompany()}"></p>
                            <div class="pay-prices" th:if="${cart.price.originalPrice != 0}">
                                <div class="discount-container" th:if="${cart.price.discountPrice != 0}">
                                    <span class="discount-pct">-[[${cart.price.discountPer}]]%</span>
                                </div>
                                <span class="price origin-price" th:if="${cart.price.discountPrice != 0}" th:text="${cart.price.originalPrice}"></span>
                                <span class="price current-price" th:text="${cart.price.currentPrice}"></span>
                            </div>
                            <div class="pay-prices" th:if="${cart.price.originalPrice == 0}">
                                <span class="price origin-price" th:text="${cart.price.originalPrice}"></span>
                            </div>
                        </div>
                        <div class="img-wrapper">
                            <img th:alt="${cart.getGame().getName()}"
                                 th:src="@{'/game/cover?index=' + ${cart.getGame().getIndex()}}"
                                 width="12%">
                        </div>
                    </div>
                    <div class="pay-order-prices">
                        <div class="payment-price">
                            <span class="payment-price-label">가격</span>
                            <span class="price payment-price-value" th:text="${carts[carts.length - 1].totalPrice + carts[carts.length - 1].discountTotalPrice}"></span>
                        </div>
                        <div class="payment-price" th:if="${carts[carts.length - 1].discountTotalPrice != 0}">
                            <span class="payment-price-label">할인 금액</span>
                            <span class="price payment-price-value -minus" th:text="${carts[carts.length - 1].discountTotalPrice}"></span>
                        </div>
                        <span class="payment-price-label-text">해당하는 경우 VAT 포함</span>
                        <hr class="payment-order-summary-divider">
                        <div class="payment-price">
                            <span class="payment-price-label -total">합계</span>
                            <span class="price payment-price-value -total" th:text="${carts[carts.length - 1].totalPrice}"></span>
                        </div>
                    </div>
                    <div class="payment-order-paymentMethods">
                        <span>결제 정보:</span>
                        <div class="payment-price">
                            <span class="payment-price-label">KakaoPay</span>
                            <span class="price payment-price-value" th:text="${totalPrice}"></span>
                        </div>
                    </div>
                    <footer class="payment-contact-us">
                        <span>도움이 필요하신가요?&nbsp;
                            <!-- 고객문의 게시판으로 -->
                            <a th:href="@{'/board/list'}" target="_blank">문의하기</a>
                        </span>
                        <div class="text">환불은 72시간내에 가능합니다. 무료는 환불 불가능합니다.</div>
                    </footer>
                </div>
                <div class="pay-summaries-container" id="game-summaries-containers" th:if="${game != null}">
                    <div class="pay-content">
                        <div hidden="hidden" class="info-data">
                            <span class="game-index" th:text="${game.getIndex()}"></span>
                            <span class="user-email" th:text="${user.getEmail()}"></span>
                        </div>
                        <div class="pay-content-info">
                            <h2 class="pay-title" th:text="${game.getName()}"></h2>
                            <p class="pay-author" th:text="${game.getCompany()}"></p>
                            <div class="pay-prices" th:if="${price.originalPrice != 0}">
                                <div class="discount-container" th:if="${price.discountPrice != 0}">
                                    <span class="discount-pct">-[[${price.discountPer}]]%</span>
                                </div>
                                <span class="price origin-price" th:if="${price.discountPrice != 0}" th:text="${price.originalPrice}"></span>
                                <span class="price current-price" th:text="${price.currentPrice}"></span>
                            </div>
                            <div class="pay-prices" th:if="${price.originalPrice == 0}">
                                <span class="price origin-price" th:text="${price.originalPrice}"></span>
                            </div>
                        </div>
                        <div class="img-wrapper">
                            <img th:alt="${game.getName()}"
                                 th:src="@{'/game/cover?index=' + ${game.getIndex()}}"
                                 width="12%">
                        </div>
                    </div>
                    <div class="pay-order-prices">
                        <div class="payment-price">
                            <span class="payment-price-label">가격</span>
                            <span class="price payment-price-value" th:text="${price.originalPrice}"></span>
                        </div>
                        <div class="payment-price" th:if="${price.discountPrice != 0}">
                            <span class="payment-price-label">할인 금액</span>
                            <span class="price payment-price-value -minus" th:text="${price.discountPrice}"></span>
                        </div>
                        <span class="payment-price-label-text">해당하는 경우 VAT 포함</span>
                        <hr class="payment-order-summary-divider">
                        <div class="payment-price">
                            <span class="payment-price-label -total">합계</span>
                            <span class="price payment-price-value -total" th:text="${totalPrice}"></span>
                        </div>
                    </div>
                    <div class="payment-order-paymentMethods">
                        <span>결제 정보:</span>
                        <div class="payment-price">
                            <span class="payment-price-label">KakaoPay</span>
                            <span class="price payment-price-value" th:text="${totalPrice}"></span>
                        </div>
                    </div>
                    <footer class="payment-contact-us">
                        <span>도움이 필요하신가요?&nbsp;
                            <!-- 고객문의 게시판으로 -->
                            <a th:href="@{'/board/list'}" target="_blank">문의하기</a>
                        </span>
                        <div class="text">환불은 72시간내에 가능합니다. 무료는 환불 불가능합니다.</div>
                    </footer>
                </div>
                <div class="payment-confirm-container">
                    <span class="payment-order-confirm-eula">아래 "주문하기"을(를) 클릭하면 본인은 만 19세가 넘는 성인이자 해당 결제 수단을 사용할 권리가 있으며 <a target="_blank" class="highlight" th:href="@{'/page/privacyPolicy'}">최종 사용자 라이선스 계약</a>에 동의한다는 뜻입니다.
                    </span>
                    <button class="payment-btn" id="payment-btn" type="button">주문하기</button>
                </div>
            </div>
        </section>
    </div>
</section>
</body>
</html>