<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>주문해 주셔서 감사합니다.</title>
    <link rel="shortcut icon" th:href="@{'/assets/images/favicon.png'}">
    <link rel="stylesheet" th:href="@{'/assets/styles/loading.css'}">
    <script th:src="@{'/assets/scripts/loading.js'}"></script>
    <link rel="stylesheet" th:href="@{'/assets/styles/common.css'}">
    <script defer th:src="@{'/assets/scripts/common.js'}"></script>
    <link rel="stylesheet" th:href="@{'/purchase/assets/styles/paysuccess.css'}">
</head>
<body>
<th:block th:replace="~{fragments/loading.html :: loading}"></th:block>
<th:block th:replace="~{fragments/common.html :: header}"></th:block>
<main class="main" id="main">
    <th:block th:replace="~{fragments/common.html :: mainSearch}"></th:block>
    <section class="pay-success-page">
        <div class="pay-success-container">
            <section class="main-container">
                <div class="text-container">
                    <div class="img-container">
                        <img src="/purchase/assets/images/cartimg.png" height="480" width="524"/>
                    </div>
                    <div class="text-wrapper">
                        <span class="purchase-number">주문번호: [[${pay.getId()}]]</span>
                        <span class="title">주문해 주셔서 감사합니다!</span>
                        <span class="sub-title">제품을 설치할 준비가 되셨나요?</span>
                    </div>
                </div>
                <div class="button-container">
                    <div class="button-wrapper">
                        <a class="link-btn" th:href="@{'/'}">
                            <button type="button" class="btn-home">계속 찾아보기</button>
                        </a>
                    </div>
                    <div class="button-wrapper">
                        <a class="link-btn" th:href="@{'/page/setting?showPurchaseList=true'}">
                            <button type="button" class="btn-purchase">결제 내역보기</button>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </section>
</main>
<th:block th:replace="~{fragments/common.html :: footer}"></th:block>
</body>
</html>