<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>나의 위시리스트</title>
    <link rel="shortcut icon" th:href="@{'/assets/images/favicon.png'}">
    <link rel="stylesheet" th:href="@{'/assets/styles/common.css'}">
    <link rel="stylesheet" th:href="@{'/purchase/assets/styles/cart_wishlist.css'}">
    <script defer type="text/javascript" th:src="@{'/assets/scripts/common.js'}"></script>
    <script defer th:src="@{/purchase/assets/scripts/wishlist.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/common.html :: header}"></th:block>

<main class="main" id="main">
    <th:block th:replace="~{fragments/common.html :: mainSearch}"></th:block>
    <div id="view-container">
        <div class="view-wrapper">
            <section class="view-header">
                <h1 class="title">나의 위시리스트</h1>
            </section>
            <section class="view-content-container" th:if="${wishlists != null && wishlists.length > 0}">
                <div class="view-content-wrapper">
                    <div class="sorting-filter-container">
                        <span class="text">정렬 기준: </span>
                        <button class="sorting-filter-btn" type="button" aria-expanded="false" onclick="toggleFilterList(this)">
                            <div class="filter-text">
                                <span class="text">할인 중</span>
                            </div>
                            <div class="filter-icon-wrapper">
                                <div class="filter-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="arrow-icon" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.707 9.707L12 16.414 5.293 9.707l1.414-1.414L12 13.586l5.293-5.293 1.414 1.414z"></path>
                                    </svg>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="game-list">
                        <div class="remove-game-card" id="remove-game-card">
                            <div class="remove-container">
                                <div class="remove-wrapper">
                                    <div class="icon-wrapper">
                                        <svg aria-hidden="true" class="eds_5nt5ak0 eds_5nt5aka eds_5nt5ak5" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="m17.012 3.954.574 2.296H21a.75.75 0 0 1 0 1.5H3a.75.75 0 0 1 0-1.5h3.414l.574-2.296A2.25 2.25 0 0 1 9.171 2.25h5.658a2.25 2.25 0 0 1 2.183 1.704m-8.568.364a.75.75 0 0 1 .727-.568h5.658a.75.75 0 0 1 .727.568l.483 1.932H7.961z" clip-rule="evenodd" fill-rule="evenodd"></path><path d="M6.11 19.74 5.067 10h1.508l1.027 9.58a.75.75 0 0 0 .746.67h7.304a.75.75 0 0 0 .746-.67L17.424 10h1.509l-1.044 9.74a2.25 2.25 0 0 1-2.237 2.01H8.348a2.25 2.25 0 0 1-2.238-2.01"></path>
                                    </svg>
                                    </div>
                                    <span class="text">[[${wishlist.getGame().getName()}]] 제거됨</span>
                                </div>
                                <div class="cancel-btn-wrapper">
                                    <button type="button" class="cancel-btn">
                                        <span class="text">실행 취소</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="game-card" th:each="wishlist : ${wishlists}">
                            <div hidden="hidden" class="info-data">
                                <span class="wishlist-index" th:text="${wishlist.getWishlist().getIndex()}"></span>
                                <span class="game-index" th:text="${wishlist.getGame().getIndex()}"></span>
                            </div>
                            <div class="img-container">
                                <a class="link-image" aria-label="Dragon Age" href="#">
                                    <div class="image-wrapper">
                                        <img class="image" th:src="${wishlist.getGame().base64Image}" alt="표지이미지">
                                    </div>
                                </a>
                                <span class="logo-wrapper" aria-hidden="true">
                                    <ul class="logo-list">
                                        <li class="logo" th:if="${#strings.containsIgnoreCase(wishlist.getGame().getMinOs(), 'window')}">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 0 512 512"><title>Windows</title><g><path
                                                    fill="currentColor"
                                                    d="M0.175 256l-0.175-156.037 192-26.072v182.109zM224 69.241l255.936-37.241v224h-255.936zM479.999 288l-0.063 224-255.936-36.008v-187.992zM192 471.918l-191.844-26.297-0.010-157.621h191.854z"></path></g>
                                            </svg>
                                        </li>
                                        <li class="logo" th:if="${#strings.containsIgnoreCase(wishlist.getGame().getMinOs(), 'mac')}">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="svg css-uwwqev"
                                                 viewBox="0 0 105 43"><title>macOS</title><g><path
                                                    d="M40.152 39.6706H34.5029V10.4623H34.3002L22.3433 39.3667H17.7834L5.80114 10.4623H5.59848V39.6706H0V0H7.11843L19.962 31.3109H20.19L32.9829 0H40.1267V39.6706H40.152Z"
                                                    fill="currentColor"></path><path
                                                    d="M46.2617 31.4377C46.2617 26.3459 50.1376 23.4327 57.2814 23.002L64.9571 22.5207V20.3421C64.9571 17.1249 62.8292 15.377 59.08 15.377C55.9641 15.377 53.7095 16.9729 53.2535 19.4048H47.6803C47.8577 14.2623 52.6962 10.5385 59.232 10.5385C66.2744 10.5385 70.8596 14.2117 70.8596 19.9368V39.6708H65.1598V34.9083H65.0078C63.3865 38.0242 59.8146 39.9748 55.9387 39.9748C50.2643 39.9748 46.2617 36.5549 46.2617 31.4377ZM64.9571 28.9045V26.6752L58.1173 27.1312C54.2668 27.3845 52.2655 28.8032 52.2655 31.3111C52.2655 33.743 54.3681 35.3136 57.636 35.3136C61.7905 35.2629 64.9571 32.603 64.9571 28.9045Z"
                                                    fill="currentColor"></path><path
                                                    d="M96.5139 20.798C95.9819 17.7328 93.626 15.4528 89.7501 15.4528C85.2156 15.4528 82.201 19.278 82.201 25.2312C82.201 31.387 85.2409 35.0602 89.8008 35.0602C93.4486 35.0602 95.8806 33.2362 96.5645 29.8923H102.264C101.631 35.9975 96.7672 40 89.7754 40C81.5424 40 76.1719 34.4015 76.1719 25.2312C76.1719 16.2888 81.5677 10.4877 89.7248 10.4877C97.1218 10.4877 101.707 15.1235 102.214 20.7727H96.5139V20.798Z"
                                                    fill="currentColor"></path></g></svg>
                                        </li>
                                    </ul>
                                </span>
                            </div>
                            <div class="title-container">
                                <div class="tag-wrapper">
                                    <div class="tag-box">
                                        <span class="tag">기본 게임</span>
                                    </div>
                                </div>
                                <a class="title" href="#" th:text="${wishlist.getGame().getName()}"></a>
                            </div>
                            <div class="price-container">
                                <span class="price" th:text="${wishlist.getGame().getPrice() == 0 ? '무료' : wishlist.getGame().getPrice()}"></span>
                                <span class="info_text" th:if="${wishlist.getGame().getPrice() == 0}">앱 내 구매가 포함될 수도 있습니다</span>
                            </div>
                            <div class="ratings-container">
                                <a href="https://www.globalratings.com/ratingsguide.aspx#grac" class="link"
                                   referrerpolicy="unsafe-url" rel="noopener noreferrer nofollow external"
                                   target="_blank">
                                    <div class="link-wrapper">
                                        <div class="img-wrapper">
                                            <img th:alt="${wishlist.getGameRating().getTitle()}" th:src="${wishlist.getGameRating().base64Logo}">
                                        </div>
                                        <div class="content-wrapper">
                                            <span class="title" th:text="${wishlist.getGameRating().getTitle()}"></span>
                                            <span class="subtitle" th:text="${wishlist.getGameRating().getSubTitle()}"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="content-and-btn">
                                <div class="refund-container" th:if="${wishlist.getGame().getPrice() != 0}">
                                    <span class="text">셀프 환불</span>
                                    <div class="icon-wrapper">
                                        <span class="info_text">환불은 72시간 이내에 가능합니다.</span>
                                        <img src="/purchase/assets/images/help-24.png" height="24"
                                             width="24"/>
                                    </div>
                                </div>
                                <div class="button-container">
                                    <div class="spring"></div>
                                    <button class="game-card-btn -remove">제거</button>
                                    <button class="game-card-btn -cart-add">
                                        <span class="text">장바구니에 담기</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <aside class="wishlist-filter-sidebar">
                    <div class="filter-sidebar-container">
                        <div class="filter-title">
                            <div class="filter-title-line">
                                <div class="title-wrapper">
                                    <div class="title">필터</div>
                                </div>
                            </div>
                        </div>
                        <div class="filter-list">
                            <div class="filter-list-title">
                                <button class="filter-toggle-button" aria-expanded="false">
                                    <span class="list-name">장르</span>
                                    <svg aria-hidden="true" class="arrow-icon" width="24" height="24"
                                         viewBox="0 0 24 24">
                                        <path d="M19.53 8.97a.75.75 0 0 1 0 1.06L12 17.56l-7.53-7.53a.75.75 0 1 1 1.06-1.06L12 15.44l6.47-6.47a.75.75 0 0 1 1.06 0"
                                              clip-rule="evenodd" fill-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </div>
                            <div class="filter-list-content">
                                <div class="filter-option">
                                    <div class="checkbox" aria-checked="false" role="checkbox" tabindex="0">
                                        <span class="checkbox-label">액션</span>
                                        <span class="check-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="svg css-uwwqev"
                                                 viewBox="0 0 10 8"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-320.000000, -202.000000)" stroke="currentColor" stroke-width="2"><polyline
                                                    points="321 205.569101 323.596499 208 329 203"></polyline></g></g>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                                <div class="filter-option">
                                    <div class="checkbox" aria-checked="false" role="checkbox" tabindex="0">
                                        <span class="checkbox-label">RPG</span>
                                        <span class="check-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="svg css-uwwqev"
                                                 viewBox="0 0 10 8"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-320.000000, -202.000000)" stroke="currentColor" stroke-width="2"><polyline
                                                    points="321 205.569101 323.596499 208 329 203"></polyline></g></g>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                                <div class="filter-option">
                                    <div class="checkbox" aria-checked="false" role="checkbox" tabindex="0">
                                        <span class="checkbox-label">생존</span>
                                        <span class="check-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="svg css-uwwqev"
                                                 viewBox="0 0 10 8"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-320.000000, -202.000000)" stroke="currentColor" stroke-width="2"><polyline
                                                    points="321 205.569101 323.596499 208 329 203"></polyline></g></g>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <span class="filter-list-line"></span>
                            <div class="filter-list-title">
                                <button class="filter-toggle-button" aria-expanded="false">
                                    <span class="list-name">플랫폼</span>
                                    <svg aria-hidden="true" class="arrow-icon" width="24" height="24"
                                         viewBox="0 0 24 24">
                                        <path d="M19.53 8.97a.75.75 0 0 1 0 1.06L12 17.56l-7.53-7.53a.75.75 0 1 1 1.06-1.06L12 15.44l6.47-6.47a.75.75 0 0 1 1.06 0"
                                              clip-rule="evenodd" fill-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </div>
                            <div class="filter-list-content">
                                <div class="filter-option">
                                    <div class="checkbox" aria-checked="false" role="checkbox" tabindex="0">
                                        <span class="checkbox-label">windows</span>
                                        <span class="check-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="svg css-uwwqev"
                                                 viewBox="0 0 10 8"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-320.000000, -202.000000)" stroke="currentColor" stroke-width="2"><polyline
                                                    points="321 205.569101 323.596499 208 329 203"></polyline></g></g>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                                <div class="filter-option">
                                    <div class="checkbox" aria-checked="false" role="checkbox" tabindex="0">
                                        <span class="checkbox-label">mac</span>
                                        <span class="check-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="svg css-uwwqev"
                                                 viewBox="0 0 10 8"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-320.000000, -202.000000)" stroke="currentColor" stroke-width="2"><polyline
                                                    points="321 205.569101 323.596499 208 329 203"></polyline></g></g>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <span class="filter-list-line"></span>
                        </div>
                    </div>
                </aside>
            </section>
            <section class="view-content-container" th:if="${wishlists == null || wishlists.length == 0}">
                <div class="view-content-wrapper empty">
                    <div class="empty-wrapper">
                            <span class="logo">
                                <svg xmlns="http://www.w3.org/2000/svg" class="svg" viewBox="0 0 45 52">
                                    <g fill="none" fill-rule="evenodd"><path d="M4.058 0C1.094 0 0 1.098 0 4.075v35.922c0 .338.013.65.043.94.068.65-.043 1.934 2.285 2.96 1.553.683 7.62 3.208 18.203 7.573 1.024.428 1.313.529 2.081.529.685.013 1.137-.099 2.072-.53 10.59-4.227 16.66-6.752 18.213-7.573 2.327-1.23 2.097-3.561 2.097-3.899V4.075C44.994 1.098 44.13 0 41.166 0H4.058z" fill="#404044"></path><path stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M14 18l4.91 2.545-2.455 4M25.544 28.705c-1.056-.131-1.806-.14-2.25-.025-.444.115-1.209.514-2.294 1.197M29.09 21.727L25 19.5l2.045-3.5"></path></g>
                                </svg>
                            </span>
                        <h1 class="info_text">
                            <span class="text">위시리스트가 비어 있습니다.</span>
                        </h1>
                        <div class="info_link">
                            <a type="button" role="link" class="link" href="/">
                                    <span class="link_text">
                                        <span class="text">게임 및 앱 구매</span>
                                    </span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="order-filter-container">
                <ul class="order-filter-list">
                    <li class="order-filter-item selected" name="sale" onclick="selectFilter(this)">할인 중</li>
                    <li class="order-filter-item" name="newest" onclick="selectFilter(this)">최신 항목순</li>
                    <li class="order-filter-item" name="alpha" onclick="selectFilter(this)">사전순</li>
                    <li class="order-filter-item" name="price-asc" onclick="selectFilter(this)">가격: 오름차순</li>
                    <li class="order-filter-item" name="price-desc" onclick="selectFilter(this)">가격: 내림차순</li>
                </ul>
            </section>
        </div>
    </div>

</main>
<th:block th:replace="~{fragments/common.html :: footer}"></th:block>
</body>
</html>