@charset "UTF-8";
html,
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  color: #ffffff !important;
}

.main {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.main > #view-container {
  position: relative;
  width: 75%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.main > #view-container > .view-wrapper {
  margin: 0 auto;
  max-width: 1920px;
  padding-bottom: 90px;
}
.main > #view-container > .view-wrapper > .view-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.main > #view-container > .view-wrapper > .view-header > .title {
  font-weight: 600;
  font-size: 40px;
}
.main > #view-container > .view-wrapper > .view-content-container {
  display: flex;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper {
  flex-grow: 1;
  margin-bottom: 20px;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .sorting-filter-container {
  margin-bottom: 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .sorting-filter-container > .text {
  color: rgba(245, 245, 245, 0.6);
  line-height: 14px;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .sorting-filter-container > .sorting-filter-btn {
  height: 30px;
  padding: 0 5px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  text-align: center;
  color: #f5f5f5;
  line-height: 20px;
  letter-spacing: 0.2px;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: rotate, color, border 200ms ease;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .sorting-filter-container > .sorting-filter-btn:focus-within {
  color: #ffffff;
  border: 1px solid #ffffff;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .sorting-filter-container > .sorting-filter-btn[aria-expanded=true] > .filter-icon-wrapper > .filter-icon {
  transform: rotate(360deg);
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .sorting-filter-container > .sorting-filter-btn > .filter-text {
  flex-grow: 2;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .sorting-filter-container > .sorting-filter-btn > .filter-icon-wrapper {
  width: 18px;
  fill: currentColor;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-grow: 1;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .sorting-filter-container > .sorting-filter-btn > .filter-icon-wrapper > .filter-icon {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: stretch;
  transform: rotate(180deg);
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list {
  position: relative;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card {
  padding: 20px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "image title title" "image price price" "image rating rating" "image ctaRow ctaRow";
  background-color: #202024;
  border-radius: 12px;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card.remove {
  display: none;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .img-container {
  grid-area: image;
  margin-right: 20px;
  align-items: stretch;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: stretch;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .img-container > .link-image {
  width: 60px;
  position: relative;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 10px;
  background-color: #FFFFFF;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .img-container > .link-image > .image-wrapper {
  width: 100%;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .img-container > .link-image > .image-wrapper:hover {
  opacity: 0.8;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .img-container > .link-image > .image-wrapper > .image {
  width: 100%;
  height: 100%;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .img-container > .logo-wrapper {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .img-container > .logo-wrapper > .logo-list {
  margin: 0;
  padding: 0;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: flex-start;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .img-container > .logo-wrapper > .logo-list svg {
  width: 12px;
  height: 12px;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .title-container {
  width: 100%;
  grid-area: title;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: stretch;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .title-container > .tag-wrapper {
  margin: -5px -2.5px;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .title-container > .tag-wrapper > .tag-box {
  margin: 5px 2.5px;
  padding: 3px 8px;
  align-items: stretch;
  display: flex;
  justify-content: stretch;
  letter-spacing: 0.24px;
  line-height: 18px;
  overflow-wrap: break-word;
  text-size-adjust: 100%;
  background-color: rgba(255, 255, 255, 0.1490196078);
  border-radius: 4px;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .title-container > .tag-wrapper > .tag-box > .tag {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  color: whitesmoke !important;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .title-container > .title {
  padding: 0.25rem;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 20px;
  flex-grow: 1;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  cursor: pointer;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .title-container > .title:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.0625rem;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .price-container {
  grid-area: price;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 24px;
  overflow-wrap: break-word;
  text-size-adjust: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .price-container > .price-wrapper {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .price-container > .price-wrapper > .discount-per {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 10px;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .price-container > .price-wrapper > .discount-per > .discount-per-text {
  min-height: 20px;
  padding: 0 8px;
  align-items: center;
  display: flex;
  justify-content: stretch;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.24px;
  line-height: 18px;
  border-radius: 99px;
  color: #000000;
  background-color: #26bbff;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .price-container > .price-wrapper > .discount-per > .price.-original {
  color: rgba(245, 245, 245, 0.6);
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .price-container > .info_text {
  color: rgba(245, 245, 245, 0.6);
  font-size: 12px;
  font-weight: 400;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .ratings-container {
  grid-area: rating;
  width: 100%;
  margin-top: 20px;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .ratings-container > .link > .link-wrapper {
  margin: 0;
  width: 100%;
  flex-flow: row nowrap;
  border: 1px solid rgba(255, 255, 255, 0.1490196078);
  border-radius: 10px;
  padding: 15px;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: stretch;
  transition-duration: 115ms;
  transition-property: border-color;
  transition-timing-function: ease;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .ratings-container > .link > .link-wrapper:hover {
  border-color: #FFFFFF;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .ratings-container > .link > .link-wrapper > .img-wrapper {
  max-width: 46px;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .ratings-container > .link > .link-wrapper > .img-wrapper > img {
  transition: opacity 125ms ease-in-out 450ms;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  opacity: 1;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .ratings-container > .link > .link-wrapper > .content-wrapper {
  padding: 0.5px;
  flex-grow: 1;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .ratings-container > .link > .link-wrapper > .content-wrapper > .title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.28px;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .ratings-container > .link > .link-wrapper > .content-wrapper > .subtitle {
  font-size: 12px;
  letter-spacing: 0.24px;
  color: rgba(245, 245, 245, 0.6) !important;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .content-and-btn {
  grid-area: ctaRow;
  margin-top: 20px;
  width: 100%;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .content-and-btn > .refund-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-start;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .content-and-btn > .refund-container > .text {
  white-space: nowrap;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .content-and-btn > .refund-container > .icon-wrapper {
  margin-top: 6px;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .content-and-btn > .refund-container > .icon-wrapper:hover > .info_text {
  display: flex;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .content-and-btn > .refund-container > .icon-wrapper > .info_text {
  margin-bottom: 60px;
  position: absolute;
  background-color: #0e0e0e;
  padding: 10px;
  font-size: 12px;
  border-radius: 2.5px;
  z-index: 5;
  display: none;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .content-and-btn > .button-container {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: flex-start;
  gap: 15px;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .content-and-btn > .button-container > .spring {
  flex-grow: 1;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .content-and-btn > .button-container > .game-card-btn {
  all: unset;
  border: none;
  padding: 4px 12px;
  cursor: pointer;
  font-family: inherit;
  color: rgba(245, 245, 245, 0.6);
  text-align: center;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .content-and-btn > .button-container > .game-card-btn:hover {
  color: #FFFFFF;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .content-and-btn > .button-container > .game-card-btn:hover > .tooltip-text {
  display: flex;
  opacity: 0;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .content-and-btn > .button-container > .game-card-btn > .tooltip-text {
  margin-bottom: 60px;
  position: absolute;
  background-color: #0e0e0e;
  padding: 10px;
  font-size: 12px;
  border-radius: 2.5px;
  z-index: 5;
  display: none;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .content-and-btn > .button-container > .game-card-btn.-cart-add {
  padding: 4px 12px;
  border: none;
  border-radius: 6px;
  background-color: #26bbff;
  color: #000000;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .game-card > .content-and-btn > .button-container > .game-card-btn.-cart-add > .text {
  flex-grow: 1;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.276px;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .remove-game-card {
  width: 100%;
  padding: 0;
  margin-bottom: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: stretch;
  list-style: none outside none;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .remove-game-card > .remove-container {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background: #202024;
  border-radius: 6px;
  min-height: 56px;
  padding: 12px 16px 12px 18px;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .remove-game-card > .remove-container > .remove-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-start;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .remove-game-card > .remove-container > .remove-wrapper > .icon-wrapper {
  display: flex;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .remove-game-card > .remove-container > .remove-wrapper > .icon-wrapper > svg {
  width: 24px;
  height: 24px;
  color: #ff6173;
  fill: currentcolor;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .remove-game-card > .remove-container > .remove-wrapper > .text {
  font-size: 16px;
  font-weight: 500;
  color: #f5f5f5;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .remove-game-card > .remove-container > .cancel-btn-wrapper {
  margin-left: 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: whitesmoke;
  font-size: 16px;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .remove-game-card > .remove-container > .cancel-btn-wrapper > .cancel-btn {
  color: whitesmoke;
  border: 1px solid rgba(245, 245, 245, 0.3490196078);
  border-radius: 6px;
  padding: 3px 11px;
  font-size: 14px;
  font-weight: 500;
  height: 32px;
  text-decoration: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-align: center;
  transition: 0.15s ease;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .game-list > .remove-game-card > .remove-container > .cancel-btn-wrapper > .cancel-btn:hover {
  border-color: white;
  background-color: rgb(76.5, 76.5, 76.5);
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper.empty {
  padding: 20px;
  width: 100%;
  min-height: 350px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper.empty > .empty-wrapper {
  max-width: 85%;
  max-height: 100%;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper.empty > .empty-wrapper > .logo {
  display: block;
  line-height: 0;
  width: 60px;
  height: 60px;
  margin-bottom: 40px;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper.empty > .empty-wrapper > .logo > .svg {
  width: 100%;
  height: 100%;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper.empty > .empty-wrapper > .info_text {
  margin: 0;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  color: #f5f5f5;
  line-height: 35px;
  letter-spacing: -0.3px;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper.empty > .empty-wrapper > .info_link {
  margin: 0;
  padding: 0;
  color: #f5f5f5;
  font-weight: 300;
  font-size: 26px;
  line-height: 35px;
  letter-spacing: -0.3px;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper.empty > .empty-wrapper > .info_link > .link {
  height: 32px;
  padding: 4px 12px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  outline: none;
  background-color: #26bbff;
  color: #000000;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  text-align: center;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper.empty > .empty-wrapper > .info_link > .link:hover {
  color: #FFFFFF;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .no-games {
  margin-top: 10%;
  padding: 40px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .no-games > .logo {
  display: block;
  line-height: 0;
  width: 60px;
  height: 60px;
  margin-bottom: 40px;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .no-games > .logo > .svg {
  width: 100%;
  height: 100%;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .no-games > .info-text {
  margin: 0;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  color: #f5f5f5;
  line-height: 35px;
  letter-spacing: -0.3px;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .no-games > .info-link {
  margin: 0;
  padding: 0;
  color: #f5f5f5;
  font-weight: 300;
  font-size: 26px;
  line-height: 35px;
  letter-spacing: -0.3px;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .no-games > .info-link > .info-link-btn {
  padding: 12px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  outline: none;
  color: rgba(245, 245, 245, 0.6);
  position: relative;
  box-sizing: border-box;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  text-align: center;
}
.main > #view-container > .view-wrapper > .view-content-container > .view-content-wrapper > .no-games > .info-link > .info-link-btn:hover {
  text-decoration: underline;
  color: #fff;
}
.main > #view-container > .view-wrapper > .view-content-container > .cart-sidebar {
  width: 100%;
  flex-shrink: 0;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main > #view-container > .view-wrapper > .view-content-container > .cart-sidebar > .cart-sidebar-wrapper {
  flex-grow: 1;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main > #view-container > .view-wrapper > .view-content-container > .cart-sidebar > .cart-sidebar-wrapper > .title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 900;
}
.main > #view-container > .view-wrapper > .view-content-container > .cart-sidebar > .cart-sidebar-wrapper > .cart-price {
  margin-top: 15px;
}
.main > #view-container > .view-wrapper > .view-content-container > .cart-sidebar > .cart-sidebar-wrapper > .cart-price > .price-wrapper {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
}
.main > #view-container > .view-wrapper > .view-content-container > .cart-sidebar > .cart-sidebar-wrapper > .cart-price > .price-wrapper > span {
  letter-spacing: 0.28px;
  line-height: 23.1px;
}
.main > #view-container > .view-wrapper > .view-content-container > .cart-sidebar > .cart-sidebar-wrapper > .cart-price > .price-wrapper.-total {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1490196078);
  font-weight: 700;
}
.main > #view-container > .view-wrapper > .view-content-container > .cart-sidebar > .cart-sidebar-wrapper > .btn-wrapper {
  margin-top: 40px;
  width: 100%;
  height: 3rem;
  flex-grow: 1;
  align-items: flex-start;
  display: flex;
  justify-content: stretch;
}
.main > #view-container > .view-wrapper > .view-content-container > .cart-sidebar > .cart-sidebar-wrapper > .btn-wrapper > .cart-purchase-btn {
  flex-grow: 1;
  padding: 1.2rem 2rem;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background-color: #26bbff;
  color: #333;
  text-align: center;
}
.main > #view-container > .view-wrapper > .view-content-container > .wishlist-filter-sidebar {
  width: 245px;
  padding-left: 15px;
}
.main > #view-container > .view-wrapper > .view-content-container > .wishlist-filter-sidebar > .filter-sidebar-container {
  width: 100%;
  position: relative;
  color: #f5f5f5;
  background: #121212;
  font-size: 1rem;
  line-height: normal;
  overflow: hidden auto;
}
.main > #view-container > .view-wrapper > .view-content-container > .wishlist-filter-sidebar > .filter-sidebar-container > .filter-title > .filter-title-line > .title-wrapper {
  height: 44px;
  padding-top: 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.main > #view-container > .view-wrapper > .view-content-container > .wishlist-filter-sidebar > .filter-sidebar-container > .filter-title > .filter-title-line > .title-wrapper > .title {
  padding: 0 12px;
  color: #f5f5f5 !important;
  font-size: 16px;
  font-weight: 700;
}
.main > #view-container > .view-wrapper > .view-content-container > .wishlist-filter-sidebar > .filter-sidebar-container > .filter-title > .filter-title-line::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.1490196078);
  display: block;
  height: 1px;
  margin: 6px 14px;
  opacity: 1;
}
.main > #view-container > .view-wrapper > .view-content-container > .wishlist-filter-sidebar > .filter-sidebar-container > .filter-list > .filter-list-title {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.main > #view-container > .view-wrapper > .view-content-container > .wishlist-filter-sidebar > .filter-sidebar-container > .filter-list > .filter-list-title > .filter-toggle-button {
  width: 100%;
  padding: 20px 12px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: rgba(245, 245, 245, 0.6);
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: inherit;
}
.main > #view-container > .view-wrapper > .view-content-container > .wishlist-filter-sidebar > .filter-sidebar-container > .filter-list > .filter-list-title > .filter-toggle-button:hover {
  color: #f5f5f5;
}
.main > #view-container > .view-wrapper > .view-content-container > .wishlist-filter-sidebar > .filter-sidebar-container > .filter-list > .filter-list-title > .filter-toggle-button > .list-name {
  font-size: 14px;
  font-weight: 400;
}
.main > #view-container > .view-wrapper > .view-content-container > .wishlist-filter-sidebar > .filter-sidebar-container > .filter-list > .filter-list-title > .filter-toggle-button > .arrow-icon {
  transition: transform 0.3s ease;
  fill: currentcolor;
  width: 20px;
  height: 20px;
}
.main > #view-container > .view-wrapper > .view-content-container > .wishlist-filter-sidebar > .filter-sidebar-container > .filter-list > .filter-list-title > .filter-toggle-button[aria-expanded=true] > .arrow-icon {
  transform: rotate(180deg);
}
.main > #view-container > .view-wrapper > .view-content-container > .wishlist-filter-sidebar > .filter-sidebar-container > .filter-list > .filter-list-title > .filter-toggle-button[aria-expanded=true] + .filter-list-content {
  display: block;
}
.main > #view-container > .view-wrapper > .view-content-container > .wishlist-filter-sidebar > .filter-sidebar-container > .filter-list > .filter-list-content {
  display: none;
  transition: all 0.3s ease;
  padding-left: 1rem;
}
.main > #view-container > .view-wrapper > .view-content-container > .wishlist-filter-sidebar > .filter-sidebar-container > .filter-list > .filter-list-content > .filter-option > .checkbox {
  margin-bottom: 5px;
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 3px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  pointer-events: all;
  color: rgba(245, 245, 245, 0.6);
}
.main > #view-container > .view-wrapper > .view-content-container > .wishlist-filter-sidebar > .filter-sidebar-container > .filter-list > .filter-list-content > .filter-option > .checkbox:hover {
  background-color: rgba(145, 141, 141, 0.2196078431);
}
.main > #view-container > .view-wrapper > .view-content-container > .wishlist-filter-sidebar > .filter-sidebar-container > .filter-list > .filter-list-content > .filter-option > .checkbox:focus {
  border-color: whitesmoke;
  outline: none;
}
.main > #view-container > .view-wrapper > .view-content-container > .wishlist-filter-sidebar > .filter-sidebar-container > .filter-list > .filter-list-content > .filter-option > .checkbox[aria-checked=true] > .check-icon {
  display: block;
}
.main > #view-container > .view-wrapper > .view-content-container > .wishlist-filter-sidebar > .filter-sidebar-container > .filter-list > .filter-list-content > .filter-option > .checkbox > .checkbox-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 0.28px;
  cursor: pointer;
}
.main > #view-container > .view-wrapper > .view-content-container > .wishlist-filter-sidebar > .filter-sidebar-container > .filter-list > .filter-list-content > .filter-option > .checkbox > .check-icon {
  display: none;
  line-height: 0;
  color: #f5f5f5;
  height: 8px;
  width: 10px;
}
.main > #view-container > .view-wrapper > .view-content-container > .wishlist-filter-sidebar > .filter-sidebar-container > .filter-list > .filter-list-line::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.1490196078);
  display: block;
  height: 1px;
  margin: 6px 14px;
  opacity: 1;
}
.main > #view-container > .view-wrapper > .order-filter-container {
  display: none;
  position: absolute;
  inset: 0 auto auto 0;
  margin: 0;
  min-width: 83px;
  transform: translate(76px, 130px);
}
.main > #view-container > .view-wrapper > .order-filter-container > .order-filter-list {
  width: 100%;
  height: fit-content;
  list-style: outside none none;
  margin: 0;
  padding: 4px;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 12px;
  background-color: #303034;
}
.main > #view-container > .view-wrapper > .order-filter-container > .order-filter-list > .order-filter-item {
  width: 100%;
  border: none;
  font: inherit;
  background-color: inherit;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  white-space: nowrap;
  border-radius: 8px;
  min-height: 40px;
  padding: 10px 12px;
  transition: background-color 125ms ease-in-out;
  position: relative;
  color: whitesmoke;
  cursor: pointer;
}
.main > #view-container > .view-wrapper > .order-filter-container > .order-filter-list > .order-filter-item:hover {
  background-color: #404044;
}
.main > #view-container > .view-wrapper > .order-filter-container > .order-filter-list > .order-filter-item.selected {
  background-color: #404044;
}

#cart-pay-modal {
  display: none; /* 초기 상태에서는 보이지 않음 */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 998;
  /* 모달창 콘텐츠 */
}
#cart-pay-modal > .modal-content {
  background: #1e1e1e;
  border: 2px solid #4d4d4d;
  height: auto;
  max-height: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  max-width: 1200px;
  width: 100vw;
  z-index: 999;
  /* 닫기 버튼 */
}
#cart-pay-modal > .modal-content > iframe {
  width: 100%;
  height: 100%;
  border: none;
}
#cart-pay-modal > .modal-content > .close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff4747;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
}
#cart-pay-modal > .modal-content > .close-modal-btn:hover {
  background-color: #cc0000;
}

@media (max-width: 430px) {
  .view-content-container {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .view-content-container .view-content-wrapper {
    max-width: 430px;
  }
  .view-content-container .view-content-wrapper .game-card {
    grid-template-areas: "image title title" "image rating rating" "image price price" "image ctaRow ctaRow" !important;
  }
  .view-content-container .view-content-wrapper .game-card .title {
    display: -webkit-box !important;
    overflow: hidden !important;
    word-break: break-word !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 2 !important;
  }
  .view-content-container .view-content-wrapper .game-card .subtitle {
    display: -webkit-box !important;
    overflow: hidden !important;
    word-break: break-word !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 1 !important;
  }
  .view-content-container .view-content-wrapper .game-card .button-container > .spring {
    flex-grow: 0 !important;
  }
  .view-content-container .view-content-wrapper .game-card .button-container > .game-card-btn {
    flex-grow: 1 !important;
    flex-shrink: 0;
    max-width: 100%;
    flex-wrap: nowrap !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
  .view-content-container .view-content-wrapper .game-card .button-container > .game-card-btn:hover > .tooltip-text {
    display: flex !important;
    opacity: 1 !important;
  }
  .view-content-container .cart-sidebar {
    width: 100%;
  }
}
@media (min-width: 430px) {
  .view-content-container {
    flex-wrap: wrap;
  }
  .view-content-container .game-card {
    grid-template-areas: "image title title" "image price price" "image rating rating" "image ctaRow ctaRow" !important;
  }
}
@media (min-width: 768px) {
  .view-content-container {
    flex-wrap: wrap;
  }
  .view-content-container .link-image {
    width: 83px !important;
  }
  .view-content-container .game-card {
    justify-items: normal;
    grid-template-areas: "image title price" "image rating rating" "image ctaRow ctaRow" !important;
  }
  .view-content-container > .view-content-wrapper.empty > .empty-wrapper {
    max-width: 70%;
  }
  .view-content-container > .view-content-wrapper.empty > .empty-wrapper > .info_link {
    font-size: 24px;
  }
}
@media (max-width: 913px) {
  .view-content-container.-wishlist {
    display: flex;
    flex-direction: column-reverse !important;
    align-items: stretch;
    justify-content: stretch;
  }
  .view-content-container.-wishlist > .wishlist-filter-sidebar {
    width: 100% !important;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .view-content-container {
    flex-wrap: nowrap;
  }
  .view-content-container .view-content-wrapper {
    margin-bottom: 0 !important;
    max-width: 70%;
  }
  .view-content-container .view-content-wrapper.empty > .empty-wrapper {
    max-width: 65%;
  }
  .view-content-container .view-content-wrapper .game-card {
    grid-template-areas: "image title title" "image price price" "image rating rating" "image ctaRow ctaRow" !important;
  }
  .view-content-container .cart-sidebar {
    margin-left: 32px;
    width: 296px !important;
  }
}
@media (min-width: 1280px) {
  .view-content-container {
    flex-wrap: nowrap;
  }
  .view-content-container .view-content-wrapper {
    max-width: 80%;
  }
  .view-content-container .view-content-wrapper .game-card {
    justify-items: normal;
    grid-template-columns: auto 1fr fit-content(50%) !important;
    grid-template-areas: "image title price" "image rating rating" "image ctaRow ctaRow" !important;
  }
  .view-content-container .view-content-wrapper .game-card .price-container {
    align-items: flex-end !important;
  }
  .view-content-container .view-content-wrapper .game-card .link-image {
    width: 128px !important;
  }
  .view-content-container .cart-sidebar {
    margin-left: 36px;
    width: 296px !important;
  }
}
@media (min-width: 1440px) {
  .link-image {
    width: 131px !important;
  }
}
/* 모달창 관련 미디어쿼리 */
@media screen and (max-height: 1200px) {
  .modal-content {
    height: 94% !important;
    margin: 3vh auto auto !important;
    max-height: 1200px !important;
  }
}
@media screen and (max-width: 1023px) {
  #view-container {
    width: 90% !important;
  }
}
@media screen and (max-height: 961px) {
  .modal-content {
    height: 100% !important;
    margin-top: 0 !important;
    max-height: 961px !important;
  }
}

/*# sourceMappingURL=cart_wishlist.css.map */
