@charset "UTF-8";
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
html,
body {
  height: 100%;
  background-color: #ffffff !important;
  overflow: hidden !important;
  line-height: 1.43;
  letter-spacing: 0.01em;
}

#main-container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  padding-left: 20px;
}
#main-container > .payment-purchase-close {
  display: block;
  position: absolute;
  outline: none;
  border: none;
  right: 10px;
  top: 25px;
  z-index: 301;
  padding: 10px;
  margin: 0;
  transition: all 0.3s ease;
  background: transparent;
  border-radius: 6px;
}
#main-container > .payment-purchase-close > .payment-icon {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: #4d4d4d;
}
#main-container > .payment-content-container {
  height: 100vh;
  padding-right: 6px;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex-grow: 1;
  flex-wrap: nowrap;
}
#main-container > .payment-content-container > .payment-title {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  display: flex;
  border-bottom: 1px solid rgba(20, 20, 20, 0.1568627451);
  background: #FFFFFF;
  z-index: 300;
  position: relative;
  padding-right: 20px;
}
#main-container > .payment-content-container > .payment-title > .title {
  margin: 0;
  font-size: 14px;
  max-width: 49%;
  text-transform: uppercase;
  display: block;
  padding-top: 36px;
  padding-bottom: 16px;
  font-weight: 500;
  flex: 1;
  border-bottom: 3px solid #0078f2;
}
#main-container > .payment-content-container > .payment-title > .account-info {
  max-width: 30%;
  position: absolute;
  right: 20px;
  top: 36px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 2px;
}
#main-container > .payment-content-container > .payment-title > .account-info > .account-icon {
  width: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-container > .payment-content-container > .payment-title > .account-info > .account-icon > svg {
  cursor: auto;
  height: 15px;
  width: 20px;
  fill: #0078f2;
}
#main-container > .payment-content-container > .payment-title > .account-info > .account-name {
  margin-top: 3px;
  color: #0078f2;
  font-size: 14px;
  line-height: 20px;
}
#main-container > .payment-content-container > .payment-methods {
  position: relative;
  padding-right: 20px;
  padding-bottom: 20px;
  flex-grow: 2;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}
#main-container > .payment-content-container > .payment-methods > .payment-methods-container > .payment-methods-title {
  display: block;
  margin: 0;
  padding: 15px 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 400;
}
#main-container > .payment-content-container > .payment-methods > .payment-methods-container > .payment-methods-subtitle {
  display: block;
}
#main-container > .payment-content-container > .payment-methods > .payment-methods-container > .payment-methods-subtitle.-free {
  padding: 30px;
  background-color: #f2f2f2;
}
#main-container > .payment-content-container > .payment-methods > .payment-methods-container > .payment-method {
  padding: 10px;
}
#main-container > .payment-content-container > .payment-methods > .payment-methods-container > .payment-method > .payment-method-trigger {
  width: 100%;
  height: 100%;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
}
#main-container > .payment-content-container > .payment-methods > .payment-methods-container > .payment-method > .payment-method-trigger > .payment-method-content {
  width: 100%;
  padding: 3px;
}
#main-container > .payment-content-container > .payment-methods > .payment-methods-container > .payment-method > .payment-method-trigger > .payment-method-content > .payment-radio {
  margin: 3px 0;
  width: 60%;
  padding: 8px;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  border: 1px solid #5e5c5c;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.3s ease; /* 부드러운 그림자 전환 효과 */
  /* 라디오 버튼이 체크된 경우 부모 요소에 그림자 추가 */
}
#main-container > .payment-content-container > .payment-methods > .payment-methods-container > .payment-method > .payment-method-trigger > .payment-method-content > .payment-radio:hover {
  opacity: 0.7;
  border: 1.5px solid rgb(16.6774193548, 16.3225806452, 16.3225806452);
}
#main-container > .payment-content-container > .payment-methods > .payment-methods-container > .payment-method > .payment-method-trigger > .payment-method-content > .payment-radio:active {
  box-shadow: 3px 1.5px 5px 2px #5e5c5c;
  border: 1.5px solid black;
}
#main-container > .payment-content-container > .payment-methods > .payment-methods-container > .payment-method > .payment-method-trigger > .payment-method-content > .payment-radio.--active {
  box-shadow: 0.5px 0.5px 0.5px 0.5px #5e5c5c;
  border: 1px solid black;
}
#main-container > .payment-content-container > .payment-methods > .payment-methods-container > .payment-method > .payment-method-trigger > .payment-method-content > .payment-radio > .payment-radio-input {
  display: none;
}
#main-container > .payment-content-container > .payment-methods > .payment-methods-container > .payment-method > .payment-method-trigger > .payment-method-content > .payment-radio > .payment-radio-inner {
  flex-grow: 1;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
}
#main-container > .payment-content-container > .payment-methods > .payment-methods-container > .payment-method > .payment-method-trigger > .payment-method-content > .payment-radio > .payment-radio-inner > .img-wrapper {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
}
#main-container > .payment-content-container > .payment-methods > .payment-methods-container > .payment-method > .payment-method-trigger > .payment-method-content > .payment-radio > .payment-radio-inner > .img-wrapper > img {
  width: 200px;
}
#main-container > .payment-content-container > .payment-methods > .payment-methods-container > .payment-method > .payment-method-trigger > .payment-method-content > .payment-radio > .payment-radio-inner > .img-wrapper > .text {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  font-size: 30px;
  font-weight: 700;
}
#main-container > .payment-summaries {
  width: 400px;
  height: 100vh;
  position: relative;
  padding: 0 15px;
  background-color: #f2f2f2;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#main-container > .payment-summaries > .title {
  padding-top: 36px;
  padding-bottom: 16px;
  font-weight: 500;
}
#main-container > .payment-summaries > .pay-summaries-container {
  height: 80%;
  position: relative;
  overflow: hidden auto;
  margin: 0 -15px;
  padding: 0 15px 50px 15px;
  color: #141414;
}
#main-container > .payment-summaries > .pay-summaries-container .payment-price {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  color: rgba(20, 20, 20, 0.7176470588);
}
#main-container > .payment-summaries > .pay-summaries-container .payment-price > .payment-price-label {
  margin: 0;
  flex: 0 1 auto;
  font-size: 14px;
  line-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#main-container > .payment-summaries > .pay-summaries-container .payment-price > .payment-price-value {
  flex: 0 0 auto;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 20.02px;
}
#main-container > .payment-summaries > .pay-summaries-container .payment-price .-total {
  font-weight: 700;
}
#main-container > .payment-summaries > .pay-summaries-container > .pay-content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 5px 0;
}
#main-container > .payment-summaries > .pay-summaries-container > .pay-content > .pay-content-info {
  width: 100%;
  flex-grow: 1;
  order: 2;
  padding-left: 10px;
}
#main-container > .payment-summaries > .pay-summaries-container > .pay-content > .pay-content-info > .pay-title {
  margin: 10px 0 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
#main-container > .payment-summaries > .pay-summaries-container > .pay-content > .pay-content-info > .pay-author {
  margin: 0;
  font-size: 14px;
  color: rgba(20, 20, 20, 0.7176470588);
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 16px;
}
#main-container > .payment-summaries > .pay-summaries-container > .pay-content > .pay-content-info > .pay-prices {
  font-size: 14px;
}
#main-container > .payment-summaries > .pay-summaries-container > .pay-content > .pay-content-info > .pay-prices > .discount-container {
  margin: 3px 0;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
#main-container > .payment-summaries > .pay-summaries-container > .pay-content > .pay-content-info > .pay-prices > .discount-container > .discount-pct {
  height: 100%;
  padding: 3px 5px;
  background-color: #0078f2;
  font-size: 9px;
  border-radius: 3px;
  color: #ffffff;
}
#main-container > .payment-summaries > .pay-summaries-container > .pay-content > .pay-content-info > .pay-prices > .origin-price {
  margin: 4px 4px 0 0;
  font-size: 12px;
  text-decoration: line-through;
  color: rgba(20, 20, 20, 0.7176470588);
}
#main-container > .payment-summaries > .pay-summaries-container > .pay-content > .pay-content-info > .pay-prices > .current-price {
  margin: 4px 4px 0 0;
  font-size: 12px;
  color: #141414;
}
#main-container > .payment-summaries > .pay-summaries-container > .pay-content > .img-wrapper {
  flex-shrink: 0;
  order: 0;
  width: 24%;
  min-height: 80px;
}
#main-container > .payment-summaries > .pay-summaries-container > .pay-content > .img-wrapper > img {
  display: block;
  width: 100%;
  border-radius: 6px;
}
#main-container > .payment-summaries > .pay-summaries-container > .pay-order-prices {
  margin: 20px 0;
}
#main-container > .payment-summaries > .pay-summaries-container > .pay-order-prices > .payment-price-label-text {
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#main-container > .payment-summaries > .pay-summaries-container > .pay-order-prices > .payment-order-summary-divider {
  margin: 10px -10px 10px 0 !important;
  border: none;
  border-top: 1px solid rgba(20, 20, 20, 0.1568627451);
}
#main-container > .payment-summaries > .pay-summaries-container > .payment-order-paymentMethods {
  margin: 10px 0 20px;
  padding: 20px 10px;
  border-radius: 4px;
  background: rgba(20, 20, 20, 0.0392156863);
  letter-spacing: 0.14px;
  line-height: 20.02px;
}
#main-container > .payment-summaries > .pay-summaries-container > .payment-contact-us {
  color: rgba(20, 20, 20, 0.7176470588);
  font-size: 14px;
  margin-top: 12px;
  text-align: center;
}
#main-container > .payment-summaries > .pay-summaries-container > .payment-contact-us > span > a {
  cursor: pointer;
  color: #2370b9;
  text-decoration: underline;
  transition: 0.3s ease;
}
#main-container > .payment-summaries > .pay-summaries-container > .payment-contact-us > span > a:hover {
  text-decoration: none;
}
#main-container > .payment-summaries > .payment-confirm-container {
  margin: 0 -15px;
  padding: 20px 15px;
  color: #141414;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.0980392157);
}
#main-container > .payment-summaries > .payment-confirm-container > .payment-order-confirm-eula {
  padding: 0 0 10px;
  display: block;
  font-size: 12px;
  line-height: 14px;
}
#main-container > .payment-summaries > .payment-confirm-container > .payment-order-confirm-eula > a {
  cursor: pointer;
  color: #2370b9;
  text-decoration: underline;
  transition: 0.3s ease;
}
#main-container > .payment-summaries > .payment-confirm-container > .payment-order-confirm-eula > a:hover {
  text-decoration: none;
}
#main-container > .payment-summaries > .payment-confirm-container > .payment-btn {
  width: 100%;
  padding: 20px 0;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  background-color: #0078f2;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  text-align: center;
}
#main-container > .payment-summaries > .payment-confirm-container > .payment-btn:hover {
  opacity: 0.8;
}

/* 로딩창 */
#loading-container {
  width: 100%;
  height: 100%;
  z-index: 999;
}
#loading-container > .loading-message {
  max-width: 1200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-items: stretch;
  display: none;
  flex-direction: column;
  justify-content: center;
}
#loading-container > .loading-message.-visible {
  display: flex;
  pointer-events: all;
}
#loading-container > .loading-message > .loading-close-btn-container {
  align-items: stretch;
  display: flex;
  justify-content: flex-end;
  font-family: Inter, "sans-serif", OpenSans, "system-ui";
  font-weight: 400;
}
#loading-container > .loading-message > .loading-close-btn-container > .loading-close {
  display: inline-block;
  font-size: 32px;
  cursor: pointer;
  padding: 0.5em;
  margin-right: 0.5em;
}
#loading-container > .loading-message > img {
  flex-grow: 1;
  margin: 20% auto 4% auto;
  width: 90px;
  height: 90px;
}
#loading-container > .loading-message > .spinner {
  margin: 20% auto 5% auto;
  width: 90px;
  height: 90px;
  border: 1.25rem solid #f3f3f3;
  border-top: 1.25rem solid #4d4d4d;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
#loading-container > .loading-message > .text {
  font-size: 26px;
  padding: 1.25rem 1.25rem;
}
#loading-container > .loading-message > .text.-loading {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
}
#loading-container > .loading-message > .text.-loading > ._img {
  padding-top: 0.75rem;
  width: 30px;
  height: 30px;
}

/* 결재 페이지 모달창 */
#cart-pay-modal {
  display: none; /* 초기 상태에서는 보이지 않음 */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 100000;
  /* 모달창 콘텐츠 */
}
#cart-pay-modal > .modal-content {
  background: #1e1e1e;
  border: 2px solid #4d4d4d;
  height: auto;
  max-height: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 100vw;
  z-index: 999;
  /* 닫기 버튼 */
}
#cart-pay-modal > .modal-content > iframe {
  width: 100%;
  height: 100%;
  border: none;
}
#cart-pay-modal > .modal-content > .close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff4747;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
}
#cart-pay-modal > .modal-content > .close-modal-btn:hover {
  background-color: #cc0000;
}

/*# sourceMappingURL=pay.css.map */
