<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Epic Games Store | PC 게임, 모드, DLC 등을 다운로드하고 플레이하세요 - 에픽게임즈</title>
    <link rel="shortcut icon" th:href="@{'/assets/images/favicon.png'}">
    <link rel="stylesheet" th:href="@{'/assets/styles/loading.css'}">
    <script th:src="@{'/assets/scripts/loading.js'}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/home.css}">
    <script defer type="text/javascript" th:src="@{'/assets/scripts/common.js'}"></script>
    <script defer type="text/javascript" th:src="@{'/assets/scripts/home.js'}"></script>
    <script src="https://kit.fontawesome.com/856af35d3d.js" crossorigin="anonymous"></script>
    <style>
        .item.home {
            color: #ffffff;
        }
    </style>
</head>
<body>
<th:block th:replace="~{fragments/loading.html :: loading}"></th:block>
<th:block th:replace="~{fragments/common.html :: header}"></th:block>

<main id="main">
    <th:block th:replace="~{fragments/common.html :: mainSearch}"></th:block>
    <th:block th:replace="~{fragments/common.html :: logout}"></th:block>

    <div class="mainSection">
        <section class="event-container">
            <div class="event">
                <a class="link" th:href="@{'/game/page'(index=32)}" target="_self">
                    <img class="image" alt="이벤트배너1"
                         src="https://cdn2.unrealengine.com/fnbr-33-00-c6s1-egs-launcher-keyart-breaker-1920x1080-1920x1080-1f740221098e.jpg?resize=1&w=854&h=480&quality=medium">
                </a>
            </div>
            <div class="event">
                <a class="link" href="#" target="_self" style="pointer-events: none">
                    <img class="image" alt="이벤트배너2"
                         src="https://cdn2.unrealengine.com/ko-rewardsboosted2024-breaker-asset-1920x1080-f21c7d560acc.jpg?resize=1&w=854&h=480&quality=medium">
                </a></div>
            <div class="event">
                <a class="link" th:href="@{'/game/page'(index=32)}" target="_self">                    <img class="image" alt="이벤트배너3"
                                                                                                            src="https://cdn2.unrealengine.com/egs-fortnite-v-bucks-breaker-1920x1080-474255011968.jpg?resize=1&w=854&h=480&quality=medium">
                </a></div>
        </section>

        <section class="rolling-banner">
            <div class="box"></div>
            <div class="main-banner">
                <div class="first banner -selected">
                    <a class="link" th:href="@{'/game/page'(index=33)}" target="_self">
                        <img class="image"
                             src="https://cdn2.unrealengine.com/egs-carousel-infinity-nikki-carousel-desktop-1920x1080-39ee705eceeb.jpg?resize=1&w=854&h=480&quality=medium"
                             alt="메인배너">
                        <span class="filter-effect"></span>
                        <div class="text-container">
                            <div class="text-wrapper">
                                <div class="logo"></div>
                                <div class="text">
                                    <span class="first">지금 이용 가능</span>
                                    <span class="second">미라랜드에서 옷 짓고 낚시하고 자전거 타는 니키와 <br>모모의 아늑한 일상에 동참하세요!</span>
                                </div>
                                <div class="button-container">
                                    <div class="download">
                                        <span class="text">무료</span>
                                        <button class="download-button" type="button">지금 플레이</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="second banner">
                    <a class="link" th:href="@{'/game/page'(index=31)}" target="_self">
                        <img class="image"
                             src="https://cdn2.unrealengine.com/egs-discord-nitro-carousel-desktop-1920x1080-1baf7fcd423e.jpg?resize=1&w=1280&h=720&quality=medium"
                             alt="메인배너">
                        <span class="filter-effect"></span>
                        <div class="text-container">
                            <div class="text-wrapper">
                                <div class="logo"></div>
                                <div class="text">
                                    <span class="first">DISCORD NITRO 1개월 이용권</span>
                                    <span class="second">신규 및 복귀 사용자에게 Discord Nitro 1개월<br> 이용권을 드립니다. 몇 가지 간단한 단계를 거치면 <br>프로필 개인화, HD 스트리밍, 커스텀 이모티콘 등을 추가로 즐길 수 있습니다!</span>
                                </div>
                                <div class="button-container">
                                    <div class="download">
                                        <span class="text">무료</span>
                                        <button class="download-button" type="button">지금 받기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="third banner">
                    <a class="link" th:href="@{'/game/page'(index=32)}" target="_self">
                        <img class="image"
                             src="https://cdn2.unrealengine.com/egs-fn-discord-quest1-carousel-desktop-1920x1080-5759f677f966.jpg?resize=1&w=854&h=480&quality=medium"
                             alt="메인배너">
                        <span class="filter-effect"></span>
                        <div class="text-container">
                            <div class="text-wrapper">
                                <div class="text">
                                    <span class="first">보상 받기</span>
                                    <span class="second">포트나이트를 15분 동안 플레이하고 Discord 아바타 장식 Rift Butterfly를 획득하세요. 이용 약관을<br> 확인하세요.</span>
                                </div>
                                <div class="button-container">
                                    <div class="download">
                                        <button class="download-button" type="button">퀘스트 참여</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>

            <div class="side-banner">
                <a class="first side -selected" th:href="@{'/game/page'(index=33)}"
                   target="_self">
                    <div class="bar"></div>
                    <div class="value">
                        <div class="image">
                            <img src="https://cdn2.unrealengine.com/egs-carousel-infinity-nikki-carousel-thumb-1200x1600-66d7b3a33991.jpg?resize=1&w=96&h=128&quality=medium"
                                 alt="세로이미지">
                        </div>
                        <div class="title">
                            <span class="text">Infinity Nikki</span>
                        </div>
                    </div>
                </a>
                <a class="second side" th:href="@{'/game/page'(index=31)}"
                   target="_self">
                    <div class="bar"></div>
                    <div class="value">
                        <div class="image">
                            <img src="https://cdn2.unrealengine.com/egs-discord-nitro-carousel-thumb-1200x1600-d35835b89f7e.jpg?resize=1&w=96&h=128&quality=medium"
                                 alt="세로이미지">
                        </div>
                        <div class="title">
                            <span class="text">Discord Nitro<br>증정 행사</span>
                        </div>
                    </div>
                </a>
                <a class="third side" th:href="@{'/game/page'(index=32)}" target="_self">
                    <div class="bar"></div>
                    <div class="value">
                        <div class="image">
                            <img src="https://cdn2.unrealengine.com/egs-fn-discord-quest1-carousel-thumb-1200x1600-17e6fe5cb513.jpg?resize=1&w=96&h=128&quality=medium"
                                 alt="세로이미지">
                        </div>
                        <div class="title">
                            <span class="text">포트나이트<br>퀘스트</span>
                        </div>
                    </div>
                </a>
            </div>

        </section>

        <section class="newGame">
            <div class="title-wrapper">
                <div class="title">
                    <a class="link" href="#" target="_self">
                        <span class="text">새로운 게임을 발견하세요</span>
                        <svg class="icon" width="24" height="24"
                             viewBox="0 0 24 24">
                            <path d="M8.97 4.47a.75.75 0 0 1 1.06 0L17.56 12l-7.53 7.53a.75.75 0 1 1-1.06-1.06L15.44 12 8.97 5.53a.75.75 0 0 1 0-1.06"
                                  clip-rule="evenodd" fill-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>
                <span class="spring"></span>
                <div class="button-container">
                    <div class="prev button">
                        <button type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon svg css-uwwqev" viewBox="0 0 5 9">
                                <path stroke="#ffffff" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>

                    <div class="next button">
                        <button type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon svg css-uwwqev" viewBox="0 0 5 9">
                                <path stroke="#ffffff" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>

                </div>
            </div>
            <div class="newGame-container">
                <div class="newGame-wrapper">
                    <a th:each="game, iterStat : ${newGames}" th:href="@{'/game/page'(index=${game.getIndex()})}"
                       target="_self" class="game">

                        <div class="main-image">
                            <img th:src="@{'/new-game-image?index=' + ${iterStat.index}}" alt="게임포스터">

                            <button class="wishlist add" type="button"
                                    th:if="${newGameWishlistStatus[game.getIndex()] == null or !newGameWishlistStatus[game.getIndex()]}"
                                    th:data-game-index="${game.getIndex()}">
                                <img class="plus"
                                     src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA4klEQVR4nN2UUQrCMBBEH5X2UFLPYKnaXkmtt1DqkaxWL6H+RwLrT0nMWvPlwEAIm5kwmyz8OzKgBlqgA57CTvYqqRmFBXADTIBXoPxGeALsFMJmwAZINAZjxI1wo4nF/MjCJ54pMp8CeaCm9zW+VtzujVDdCgeOEQ0OLoNLRIPOZXD3ZB6CqydWS2WQB+VhpjU4R4zo5DJoIxrsXQZVRIOlyyCTwfXpYO7JfPjRUl/DSsXtTIBzAmh+EF+jgB2525GTNOELFJJnSLjXxOJDKoPLzhb7th9Cu7Z79rV4G/ofeAG5NRUWhxZUbAAAAABJRU5ErkJggg=="
                                     alt="plus--v1">
                            </button>

                            <button class="wishlist newBack" type="button"
                                    th:if="${newGameWishlistStatus[game.getIndex()] != null and newGameWishlistStatus[game.getIndex()]}"
                                    th:data-wishlist-index="${newGameWishlistIndices[game.getIndex()]}"
                                    th:data-game-index="${game.getIndex()}">
                                <img class="plus back"
                                     src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA6klEQVR4nOWVfQqCQBTEfxjZJcq6QwR9nqhI0o5RHaauIYaH6OMWGwsvELHV1e2PaGBAdJ1Zx33vwT+gAyyBGDgJI7nntRHuATvgCagPfAAh4NuK94HEIFxkBozqig9lZ8qSdyCoE0vWQFwJ06q4ohbiSrg1nRbTD1UWUZWerpUDcSWclxnsHRpEZQbHwqIzMAHGFZzI2vy7B9cGlzoG8bcjWjg0mJYZeA0rWBV4MzXB0IHBGgN0mV9biCdAlwoEUo1NohlUiedNUsud6xZvBV8al+lr9LNNnVhM8KS36On2Hpn6etZ2ZP4GXgs7DahOGsTvAAAAAElFTkSuQmCC"
                                     alt="plus--v1">
                            </button>

                            <div th:if="${newGameWishlistStatus[game.getIndex()] == null or !newGameWishlistStatus[game.getIndex()]}" class="tooltip">
                                위시리스트에 추가
                            </div>
                            <div th:if="${newGameWishlistStatus[game.getIndex()] != null and newGameWishlistStatus[game.getIndex()]}" class="tooltip">
                                위시리스트에서 제거
                            </div>
                        </div>

                        <span class="game-type">기본 게임</span>
                        <span class="game-name" th:text="${game.name}"></span>
                        <span class="game-price" th:text="${game.price}"></span>
                        <input id="userEmail" th:value="${userEmail}" type="hidden">
                    </a>
                </div>
            </div>
        </section>

        <section class="saleGame">
            <div class="title-wrapper">
                <div class="title">
                    <a class="link" href="#" target="_self">
                        <span class="text">SPECIAL WINTER SALE❄</span>
                        <svg class="icon" width="24" height="24"
                             viewBox="0 0 24 24">
                            <path d="M8.97 4.47a.75.75 0 0 1 1.06 0L17.56 12l-7.53 7.53a.75.75 0 1 1-1.06-1.06L15.44 12 8.97 5.53a.75.75 0 0 1 0-1.06"
                                  clip-rule="evenodd" fill-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>
                <span class="spring"></span>
                <div class="button-container">
                    <div class="prevButton">
                        <button type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon svg css-uwwqev" viewBox="0 0 5 9">
                                <path stroke="#ffffff" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>

                    <div class="nextButton">
                        <button type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon svg css-uwwqev" viewBox="0 0 5 9">
                                <path stroke="#ffffff" d="M1 1l3 3.5L1 8" fill="none" fill-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>

                </div>
            </div>
            <div class="saleGame-container">
                <div class="saleGame-wrapper">
                    <a th:each="game, iterStat : ${saleGames}"
                       th:href="@{'/game/page'(index=${game.getIndex()})}"
                       data-user-email="${userEmail}"
                       target="_self"
                       class="sale-game">

                        <div class="main-image">
                            <img th:src="@{'/sale-game-image?index=' + ${iterStat.index}}" alt="게임포스터">

                            <!-- 위시리스트 추가 버튼 -->
                            <button class="wishlist add" type="button"
                                    th:if="${saleGameWishlistStatus[game.getIndex()] == null or !saleGameWishlistStatus[game.getIndex()]}"
                                    th:data-game-index="${game.getIndex()}">
                                <img class="plus"
                                     src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA4klEQVR4nN2UUQrCMBBEH5X2UFLPYKnaXkmtt1DqkaxWL6H+RwLrT0nMWvPlwEAIm5kwmyz8OzKgBlqgA57CTvYqqRmFBXADTIBXoPxGeALsFMJmwAZINAZjxI1wo4nF/MjCJ54pMp8CeaCm9zW+VtzujVDdCgeOEQ0OLoNLRIPOZXD3ZB6CqydWS2WQB+VhpjU4R4zo5DJoIxrsXQZVRIOlyyCTwfXpYO7JfPjRUl/DSsXtTIBzAmh+EF+jgB2525GTNOELFJJnSLjXxOJDKoPLzhb7th9Cu7Z79rV4G/ofeAG5NRUWhxZUbAAAAABJRU5ErkJggg=="
                                     alt="plus--v1">
                            </button>

                            <!-- 위시리스트 제거 버튼 -->
                            <button class="wishlist saleBack" type="button"
                                    th:if="${saleGameWishlistStatus[game.getIndex()] != null and saleGameWishlistStatus[game.getIndex()]}"
                                    th:data-wishlist-index="${saleGameWishlistIndices[game.getIndex()]}"
                                    th:data-game-index="${game.getIndex()}">
                                <img class="plus back"
                                     src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA6klEQVR4nOWVfQqCQBTEfxjZJcq6QwR9nqhI0o5RHaauIYaH6OMWGwsvELHV1e2PaGBAdJ1Zx33vwT+gAyyBGDgJI7nntRHuATvgCagPfAAh4NuK94HEIFxkBozqig9lZ8qSdyCoE0vWQFwJ06q4ohbiSrg1nRbTD1UWUZWerpUDcSWclxnsHRpEZQbHwqIzMAHGFZzI2vy7B9cGlzoG8bcjWjg0mJYZeA0rWBV4MzXB0IHBGgN0mV9biCdAlwoEUo1NohlUiedNUsud6xZvBV8al+lr9LNNnVhM8KS36On2Hpn6etZ2ZP4GXgs7DahOGsTvAAAAAElFTkSuQmCC"
                                     alt="plus--v1">
                            </button>

                            <!-- 툴팁 -->
                            <div th:if="${saleGameWishlistStatus[game.getIndex()] == null or !saleGameWishlistStatus[game.getIndex()]}" class="tooltip">
                                위시리스트에 추가
                            </div>
                            <div th:if="${saleGameWishlistStatus[game.getIndex()] != null and saleGameWishlistStatus[game.getIndex()]}" class="tooltip">
                                위시리스트에서 제거
                            </div>
                        </div>


                        <span class="game-type">세일 게임</span>
                        <span class="game-name" th:text="${game.name}"></span>
                        <div class="sale-info">
                            <div class="sale-percentage">
                                <span class="text" th:text="${'-' + game.getDiscountPercent() + '%'}"></span>
                            </div>
                            <del class="origin-price" th:text="${game.price}"></del>
                            <span class="sale-price" th:text="${game.price * (1 - (game.getDiscountPercent() / 100.0))}">
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <section class="dealSection">
            <div class="deal-container">
                <div class="first deal">
                    <div class="imageLink">
                        <a class="link" th:href="@{'/game/page'(index=34)}" target="_self">
                            <img class="image"
                                 src="https://cdn2.unrealengine.com/egs-fall-guys-winter-event-24-breaker-1920x1080-b96ad15fefca.jpg?resize=1&w=854&h=480&quality=medium"
                                 alt="게임이미지">
                        </a>
                    </div>
                    <div class="text-wrapper">
                        <div class="game-name">
                            <a class="link" th:href="@{'/game/page'(index=34)}" target="_self">폴가이즈</a>
                        </div>
                        <div class="game-description">
                            <span class="text">으슬으슬한 도전을 완료하고 스노우 젤리빈 코스튬을 받으세요!</span>
                        </div>

                        <a class="link" th:href="@{'/game/page'(index=34)}" target="_self"><button type="button">무료 플레이</button></a>

                    </div>
                </div>

                <div class="second deal">
                    <div class="imageLink">
                        <a class="link" th:href="@{'/game/page'(index=35)}" target="_self">
                            <img class="image"
                                 src="https://cdn2.unrealengine.com/ko2560x1440-2560x1440-ccb17ea413dc.jpg?resize=1&w=854&h=480&quality=medium"
                                 alt="게임이미지">
                        </a>
                    </div>
                    <div class="text-wrapper">
                        <div class="game-name">
                            <a class="link" th:href="@{'/game/page'(index=35)}" target="_self">원신 - 5.2 업데이트</a>
                        </div>
                        <div class="game-description">
                            <span class="text">차스카, 올로룬, 신규 지역의 사우리안 동료들과 함께 하늘로 모험을 확장하세요!</span>
                        </div>
                        <a class="link" th:href="@{'/game/page'(index=35)}" target="_self"><button type="button">무료 플레이</button></a>

                    </div>
                </div>




            </div>
        </section>
    </div>
</main>

<th:block th:replace="~{fragments/common.html :: footer}"></th:block>
</body>
</html>
