<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Epic Games Store | PC 게임, 모드, DLC 등을 다운로드하고 플레이하세요 - 에픽게임즈</title>
    <link rel="shortcut icon" th:href="@{'epicgames/home/assets/images/favicon.ico'}">
    <link rel="stylesheet" type="text/css" th:href="@{'epicgames/home/assets/styles/home.css'}">
</head>
<body>

<header id="header">

</header>

<main id="main">

</main>

<footer id="footer">

</footer>
</body>

</html>