body {
  // 스크롤 디자인
  &::-webkit-scrollbar {
    width: 10px;
    background: #141414;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: lighten(#141414, 20%);

    &:hover {
      background-color: lighten(#141414, 30%);
    }
  }
  &::-webkit-scrollbar-track {
    background: #141414;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100;
  opacity: 0.3;

  &.show {
    display: block;
  }
}

.container {
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 5rem;
  gap: 2rem;
  z-index: 1;

  &.transparent {
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    opacity: 0;
  }

  > .nav {
    width: 25rem;
    background-color: #ffffff;
    padding: 2rem;
    user-select: none;

    > .menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1.5rem;

      > .item {
        cursor: pointer;

        &:hover {
          color: lighten(#000, 50%);
        }

        &:active {
          font-weight: 700;
        }

        &.-selected {
          color: #141414;
          font-size: 15px;
          font-weight: 700;
          cursor: not-allowed;
        }
      }
    }
  }

  > .main {
    width: 100%;
    background-color: #ffffff;
    flex-grow: 1;
    overflow: auto;
    padding: 5rem;

    > .user-setting {
      display: none;

      &.-visible {
        display: block;
      }

      > .main-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;

        > .main-title {
          width: 100%;
          font-size: 30px;
          font-weight: 600;
          color: #141414;
        }

        > .title-text {
          font-size: 14px;
          color: #141414B8;
        }

        > .sub-title {
          font-size: 18px;
          font-weight: 500;
          color: #141414;
        }

        > .id-container {
          width: 100%;
          display: flex;
          flex-direction: row;

          > .id-wrapper {
            width: 50%;
            display: flex;
            flex-direction: column;

            > .text {
              font-size: 14px;
              color: #141414B8;
            }

            > .label {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 1rem;
              margin-top: 1rem;

              > .input {
                width: 70%;
                height: 3rem;
                border: 0.0625rem solid #0000001F;
                border-radius: 1rem;
                background-color: #0000001F;
                padding: 2rem 1rem;
                box-sizing: border-box;
              }
            }
          }
        }

        > .wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          > .label {
            width: 35%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            > .text {
              font-size: 1rem;
            }

            > .input {
              width: 100%;
              border: 0.0625rem solid #000000;
              border-radius: 1rem;
              padding: 1.5rem;
            }
          }
        }

        > .storage {
          margin-top: 20px;
          $background_color: #0074E4;
          border: 0.0625rem solid $background_color;
          border-radius: 1rem;
          background-color: $background_color;
          color: #ffffff;
          padding: 20px;

          &:hover {
            background-color: lighten($background_color, 5%);
          }

          &:active {
            background-color: lighten($background_color, 10%);
          }
        }
      }

      > .recover-password {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        margin-top: 7rem;

        > .text {
          font-size: 23px;
          font-weight: 700;

        }

        > .recover-text {
          color: #141414B8;
          letter-spacing: 1px;
          line-height: 1.5;

          > .a-tg {
            color: #0074E4;
            text-decoration: underline #0074E4;
            font-weight: 500;
          }
        }
      }

      > .delete {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        margin-top: 5rem;

        > .text {
          font-size: 23px;
          font-weight: 700;
        }

        > .sub-text {
          line-height: 1.5;
          color: #141414B8;
        }

        > .a-text {
          line-height: 1.5;
          font-weight: 600;
        }

        > .button {
          width: 13%;
          color: #ffffff;
          $background_color: #DE3341;
          border: 0.0625rem solid $background_color;
          background-color: $background_color;
          border-radius: 1rem;
          padding: 20px;

          &:hover {
            background-color: lighten($background_color, 5%)
          }

          &:active {
            background-color: lighten($background_color, 10%);
          }
        }
      }
    }

    > .user-purchaseList {
      display: none;
      padding: 40px;
      width: 100%;
      overflow: auto !important;

      &.-visible {
        display: block;
      }

      > .title {
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 400;
        color: #141414;
      }

      > .purchase-table {
        width: 100%;

        .line {
          width: 180px;
        }

        .content {
          width: 300px;
        }

        .price-info {
          width: 180px;
        }

        > thead {
          > tr > th {
            padding: 20px;
            text-align: left;
            background-color: #e7e7e7;
            border-bottom: 3px solid #e7e7e7;

            &.status-title {
              width: 80px;
              padding: 5px;
            }

            &.date {
              width: 180px;
            }
          }
        }

        > tbody {
          margin-bottom: 10px;
          border-bottom: 3px solid #e7e7e7;
          flex-wrap: nowrap;

          > tr > td {
            &.line {
              border-right: 3px solid #e7e7e7;
            }

            &.status {
              padding: 5px;
            }

            &.refund-container {
              text-align: center;
              padding: 5px;

              > .refund-btn {
                font-style: italic;
                border: none;
                color: #f13f3f;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }

          > .title {
            font-size: 15px;
            font-weight: 700;

            > td {
              padding: 20px;

              &:nth-of-type(1){
                font-size: 14px;
                font-weight: 500;
              }
            }
          }

          > .purchase-id {
            > td {
              padding: 5px;

              &.text {
                font-size: 14px;
                font-weight: 600;
                border-radius: 1.5px;
                background-color: #e7e7e7;
              }
            }
          }

          > .sub-title {

            > td {
              padding: 5px 20px;

              &.line-bottom {
                border-bottom: 1px solid #e7e7e7;
              }

              &.price-info {
                min-height: 35px;
                align-items: stretch;
                display: flex;
                flex-direction: column;
                gap: 5px;
                justify-content: center;

                > .info {
                  align-items: center;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;

                  > .text {
                    font-size: 13px;
                  }

                  > .-minus {
                    font-size: 12px;
                  }
                }
              }
            }

            &.total-price {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

.dialog {
  top: 50%;
  left: 50%;
  transform: translate(-40%, -40%);
  position: fixed;
  border: 0.0625rem solid #ffffff;
  border-radius: 1.5rem;
  background-color: #ffffff;

  display: none;
  padding: 2.5rem;
  z-index: 200;

  &.show {
    display: block;
  }

  > .delete-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > .title {
      font-size: 2rem;
      font-weight: 600;
    }

    > .text {
      color: #444444;
      font-size: 12px;
      margin-top: 1rem;
    }

    > .input {
      width: 100%;
      border: 0.0625rem solid #e0e0e0;
      background-color: #e0e0e0;
      border-radius: 1rem;
      padding: 1rem;
      margin-top: 1rem;
    }
  }

  > .btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;

    > .delete-btn {
      $background_color: #DE3341;
      width: 45%;
      color: #ffffff;
      border: 0.0625rem solid $background_color;
      background-color: $background_color;
      border-radius: 1rem;
      padding: 10px;


      &:hover {
        background-color: lighten($background_color, 5%);
      }

      &:active {
        background-color: lighten($background_color, 10%);
      }
    }

    > .close-btn {
      $background_color: #0074E4;
      width: 45%;
      color: #ffffff;
      border: 0.0625rem solid $background_color;
      border-radius: 1rem;
      background-color: $background_color;
      padding: 10px;

      &:hover {
        background-color: lighten($background_color, 5%);
      }

      &:active {
        background-color: lighten($background_color, 10%);
      }
    }
  }
}

#refund-dialog {
  top: 30%;
  left: 50%;
  transform: translate(-40%, -40%);
  padding: 10px;
  position: fixed;
  border: 0.0625rem solid #ffffff;
  border-radius: 1.5rem;
  background-color: #ffffff;

  display: none;
  align-items: stretch;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  z-index: 200;

  &.-visible {
    display: flex;
  }

  > .title {
    padding: 10px 5px;

    > .text {
      font-size: 18px;
      font-weight: 600;
      color: #f13f3f;
      text-align: center;
    }
  }

  > .game-label {
    padding: 10px 5px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;

    > .input {
      width: 100%;
      height: 100%;
      padding-bottom: 10px;
      border: none;
      outline: none;
      background-color: transparent;
      text-overflow: ellipsis;

      &.-title {
        font-size: 20px;
        font-weight: 600;
      }

      &.-price {
        font-size: 16px;
        font-weight: 500;
      }
    }

    > .text {
      font-size: 15px;
      font-weight: 600;
    }
  }

  > .btn-wrapper {
    padding: 5px;
    width: 100%;
    flex-grow: 1;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;

    > button {
      flex: 1;
      padding: 5px 1px;
      border: none;
      border-radius: 10px;
      font-size: 20px;
      font-weight: 600;

      &:hover {
        opacity: 0.8;
        color: #ffffff;
      }

      &.refund-btn {
        font-style: italic;
        background-color: #f13f3f;
      }

      &.cancel-btn {
        font-style: italic;
        background-color: #e0e0e0;
      }
    }
  }
}
