body::-webkit-scrollbar {
  width: 10px;
  background: #141414;
}
body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #474747;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(96.5, 96.5, 96.5);
}
body::-webkit-scrollbar-track {
  background: #141414;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100;
  opacity: 0.3;
}
.overlay.show {
  display: block;
}

.container {
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 5rem;
  gap: 2rem;
  z-index: 1;
}
.container.transparent {
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
}
.container > .nav {
  width: 25rem;
  background-color: #ffffff;
  padding: 2rem;
  user-select: none;
}
.container > .nav > .menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}
.container > .nav > .menu > .item {
  cursor: pointer;
}
.container > .nav > .menu > .item:hover {
  color: rgb(127.5, 127.5, 127.5);
}
.container > .nav > .menu > .item:active {
  font-weight: 700;
}
.container > .nav > .menu > .item.-selected {
  color: #141414;
  font-size: 15px;
  font-weight: 700;
  cursor: not-allowed;
}
.container > .main {
  width: 100%;
  background-color: #ffffff;
  flex-grow: 1;
  overflow: auto;
  padding: 5rem;
}
.container > .main > .user-setting {
  display: none;
}
.container > .main > .user-setting.-visible {
  display: block;
}
.container > .main > .user-setting > .main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}
.container > .main > .user-setting > .main-container > .main-title {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  color: #141414;
}
.container > .main > .user-setting > .main-container > .title-text {
  font-size: 14px;
  color: rgba(20, 20, 20, 0.7215686275);
}
.container > .main > .user-setting > .main-container > .sub-title {
  font-size: 18px;
  font-weight: 500;
  color: #141414;
}
.container > .main > .user-setting > .main-container > .id-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.container > .main > .user-setting > .main-container > .id-container > .id-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container > .main > .user-setting > .main-container > .id-container > .id-wrapper > .text {
  font-size: 14px;
  color: rgba(20, 20, 20, 0.7215686275);
}
.container > .main > .user-setting > .main-container > .id-container > .id-wrapper > .label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.container > .main > .user-setting > .main-container > .id-container > .id-wrapper > .label > .input {
  width: 70%;
  height: 3rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1215686275);
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.1215686275);
  padding: 2rem 1rem;
  box-sizing: border-box;
}
.container > .main > .user-setting > .main-container > .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.container > .main > .user-setting > .main-container > .wrapper > .label {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container > .main > .user-setting > .main-container > .wrapper > .label > .text {
  font-size: 1rem;
}
.container > .main > .user-setting > .main-container > .wrapper > .label > .input {
  width: 100%;
  border: 0.0625rem solid #000000;
  border-radius: 1rem;
  padding: 1.5rem;
}
.container > .main > .user-setting > .main-container > .storage {
  margin-top: 20px;
  border: 0.0625rem solid #0074E4;
  border-radius: 1rem;
  background-color: #0074E4;
  color: #ffffff;
  padding: 20px;
}
.container > .main > .user-setting > .main-container > .storage:hover {
  background-color: rgb(0, 128.9736842105, 253.5);
}
.container > .main > .user-setting > .main-container > .storage:active {
  background-color: rgb(24, 141.5263157895, 255);
}
.container > .main > .user-setting > .recover-password {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 7rem;
}
.container > .main > .user-setting > .recover-password > .text {
  font-size: 23px;
  font-weight: 700;
}
.container > .main > .user-setting > .recover-password > .recover-text {
  color: rgba(20, 20, 20, 0.7215686275);
  letter-spacing: 1px;
  line-height: 1.5;
}
.container > .main > .user-setting > .delete {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 5rem;
}
.container > .main > .user-setting > .delete > .text {
  font-size: 23px;
  font-weight: 700;
}
.container > .main > .user-setting > .delete > .sub-text {
  line-height: 1.5;
  color: rgba(20, 20, 20, 0.7215686275);
}
.container > .main > .user-setting > .delete > .a-text {
  line-height: 1.5;
  font-weight: 600;
}
.container > .main > .user-setting > .delete > .button {
  width: 13%;
  color: #ffffff;
  border: 0.0625rem solid #DE3341;
  background-color: #DE3341;
  border-radius: 1rem;
  padding: 20px;
}
.container > .main > .user-setting > .delete > .button:hover {
  background-color: rgb(225.5506329114, 72.9493670886, 85.4430379747);
}
.container > .main > .user-setting > .delete > .button:active {
  background-color: rgb(229.1012658228, 94.8987341772, 105.8860759494);
}
.container > .main > .user-purchaseList {
  display: none;
  padding: 40px;
  width: 100%;
  overflow: auto !important;
}
.container > .main > .user-purchaseList.-visible {
  display: block;
}
.container > .main > .user-purchaseList > .title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 400;
  color: #141414;
}
.container > .main > .user-purchaseList > .purchase-table {
  width: 100%;
}
.container > .main > .user-purchaseList > .purchase-table .line {
  width: 180px;
}
.container > .main > .user-purchaseList > .purchase-table .content {
  width: 300px;
}
.container > .main > .user-purchaseList > .purchase-table .price-info {
  width: 180px;
}
.container > .main > .user-purchaseList > .purchase-table > thead > tr > th {
  padding: 20px;
  text-align: left;
  background-color: #e7e7e7;
  border-bottom: 3px solid #e7e7e7;
}
.container > .main > .user-purchaseList > .purchase-table > thead > tr > th.status-title {
  width: 80px;
  padding: 5px;
}
.container > .main > .user-purchaseList > .purchase-table > thead > tr > th.date {
  width: 180px;
}
.container > .main > .user-purchaseList > .purchase-table > tbody {
  margin-bottom: 10px;
  border-bottom: 3px solid #e7e7e7;
  flex-wrap: nowrap;
}
.container > .main > .user-purchaseList > .purchase-table > tbody > tr > td.line {
  border-right: 3px solid #e7e7e7;
}
.container > .main > .user-purchaseList > .purchase-table > tbody > tr > td.status {
  padding: 5px;
}
.container > .main > .user-purchaseList > .purchase-table > tbody > tr > td.refund-container {
  text-align: center;
  padding: 5px;
}
.container > .main > .user-purchaseList > .purchase-table > tbody > tr > td.refund-container > .refund-btn {
  font-style: italic;
  border: none;
  color: #f13f3f;
}
.container > .main > .user-purchaseList > .purchase-table > tbody > tr > td.refund-container > .refund-btn:hover {
  text-decoration: underline;
}
.container > .main > .user-purchaseList > .purchase-table > tbody > .title {
  font-size: 15px;
  font-weight: 700;
}
.container > .main > .user-purchaseList > .purchase-table > tbody > .title > td {
  padding: 20px;
}
.container > .main > .user-purchaseList > .purchase-table > tbody > .title > td:nth-of-type(1) {
  font-size: 14px;
  font-weight: 500;
}
.container > .main > .user-purchaseList > .purchase-table > tbody > .purchase-id > td {
  padding: 5px;
}
.container > .main > .user-purchaseList > .purchase-table > tbody > .purchase-id > td.text {
  font-size: 14px;
  font-weight: 600;
  border-radius: 1.5px;
  background-color: #e7e7e7;
}
.container > .main > .user-purchaseList > .purchase-table > tbody > .sub-title > td {
  padding: 5px 20px;
}
.container > .main > .user-purchaseList > .purchase-table > tbody > .sub-title > td.line-bottom {
  border-bottom: 1px solid #e7e7e7;
}
.container > .main > .user-purchaseList > .purchase-table > tbody > .sub-title > td.price-info {
  min-height: 35px;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
.container > .main > .user-purchaseList > .purchase-table > tbody > .sub-title > td.price-info > .info {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container > .main > .user-purchaseList > .purchase-table > tbody > .sub-title > td.price-info > .info > .text {
  font-size: 13px;
}
.container > .main > .user-purchaseList > .purchase-table > tbody > .sub-title > td.price-info > .info > .-minus {
  font-size: 12px;
}
.container > .main > .user-purchaseList > .purchase-table > tbody > .sub-title.total-price {
  font-weight: 600;
}

.dialog {
  top: 50%;
  left: 50%;
  transform: translate(-40%, -40%);
  position: fixed;
  border: 0.0625rem solid #ffffff;
  border-radius: 1.5rem;
  background-color: #ffffff;
  display: none;
  padding: 2.5rem;
  z-index: 200;
}
.dialog.show {
  display: block;
}
.dialog > .delete-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dialog > .delete-label > .title {
  font-size: 2rem;
  font-weight: 600;
}
.dialog > .delete-label > .text {
  color: #444444;
  font-size: 12px;
  margin-top: 1rem;
}
.dialog > .delete-label > .input {
  width: 100%;
  border: 0.0625rem solid #e0e0e0;
  background-color: #e0e0e0;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1rem;
}
.dialog > .btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}
.dialog > .btn-wrapper > .delete-btn {
  width: 45%;
  color: #ffffff;
  border: 0.0625rem solid #DE3341;
  background-color: #DE3341;
  border-radius: 1rem;
  padding: 10px;
}
.dialog > .btn-wrapper > .delete-btn:hover {
  background-color: rgb(225.5506329114, 72.9493670886, 85.4430379747);
}
.dialog > .btn-wrapper > .delete-btn:active {
  background-color: rgb(229.1012658228, 94.8987341772, 105.8860759494);
}
.dialog > .btn-wrapper > .close-btn {
  width: 45%;
  color: #ffffff;
  border: 0.0625rem solid #0074E4;
  border-radius: 1rem;
  background-color: #0074E4;
  padding: 10px;
}
.dialog > .btn-wrapper > .close-btn:hover {
  background-color: rgb(0, 128.9736842105, 253.5);
}
.dialog > .btn-wrapper > .close-btn:active {
  background-color: rgb(24, 141.5263157895, 255);
}

#refund-dialog {
  top: 30%;
  left: 50%;
  transform: translate(-40%, -40%);
  padding: 10px;
  position: fixed;
  border: 0.0625rem solid #ffffff;
  border-radius: 1.5rem;
  background-color: #ffffff;
  display: none;
  align-items: stretch;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  z-index: 200;
}
#refund-dialog.-visible {
  display: flex;
}
#refund-dialog > .title {
  padding: 10px 5px;
}
#refund-dialog > .title > .text {
  font-size: 18px;
  font-weight: 600;
  color: #f13f3f;
  text-align: center;
}
#refund-dialog > .game-label {
  padding: 10px 5px;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
}
#refund-dialog > .game-label > .input {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  text-overflow: ellipsis;
}
#refund-dialog > .game-label > .input.-title {
  font-size: 20px;
  font-weight: 600;
}
#refund-dialog > .game-label > .input.-price {
  font-size: 16px;
  font-weight: 500;
}
#refund-dialog > .game-label > .text {
  font-size: 15px;
  font-weight: 600;
}
#refund-dialog > .btn-wrapper {
  padding: 5px;
  width: 100%;
  flex-grow: 1;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}
#refund-dialog > .btn-wrapper > button {
  flex: 1;
  padding: 5px 1px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
}
#refund-dialog > .btn-wrapper > button:hover {
  opacity: 0.8;
  color: #ffffff;
}
#refund-dialog > .btn-wrapper > button.refund-btn {
  font-style: italic;
  background-color: #f13f3f;
}
#refund-dialog > .btn-wrapper > button.cancel-btn {
  font-style: italic;
  background-color: #e0e0e0;
}

/*# sourceMappingURL=setting.css.map */
